.mb-title-container {
	width: 100%;
    display: table;
    padding: 16px 24px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #f1f6f7;
}

.mb-title {
	position: relative;
}

.mb-title__icon {
	display: table-cell;
    vertical-align: middle;
    padding-right: 12px;
}

.mb-title__icon i {
	font-size: 23px;
    color: #b2c7cb;
}

.mb-title__val {
	display: table-cell;
    vertical-align: middle;    
    color: #3d4b52;    
}

.mb-block-container {
	margin-bottom: 18px;
	padding: 24px 23px;   
    color: #3d4b52;   
    border: 1px solid #e3ecef;
    border-top: none;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;	
}

.mb-formgroup-container:not(:last-child) {
    margin-bottom: 16px;
}

.mb-formgroup-container .btn {
    margin-right: 10px;
}

.mb-label-container {	
	margin: 0px 0px 7px;
	font-size: 14px;
    color: #8ea6ab;
	line-height: 17px;
}

.mb-input-container_file{
	display: flex;
	align-items: center;
}

.mb-input-file__val {	
	font-size: 14px;
	display: inline-block;
}

.mb-input-container_file input[type=file]{
    width: 0;
    height: 0;
	position: absolute;
    left: -1000px;
    top: 0;    
    opacity: 0;
}

.mb-photo-container {
	margin-bottom: 10px;	
	display: inline-block;
	position: relative;
}

.mb-photo-container img {
	border-radius: 50%;
}

.mb-deleted__photo {
    position: absolute;
    top: 0;
    right: 0;
}

.mb-deleted__photo > span {
	width: 13px;
    height: 14px;
    display: block;
    position: relative;    
    cursor: pointer;
}

.mb-deleted__photo > span {
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.mb-deleted__photo > span:before,
.mb-deleted__photo > span:after {
    width: 1px;
    height: 18px;
	position: absolute;
    right: 6px;
    top: -2px;    
}

.mb-deleted__photo > span:before,
.mb-deleted__photo > span:after {
    content: "";
    background-color: #bccacd;
}

.mb-deleted__photo > span:after {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mb-deleted__photo > span:before {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mb-deleted__photo > span:hover:before,
.mb-deleted__photo > span:hover:after {
    background-color: #6639b6;
}

.mb-personal-data-inner-date-info {
	margin: 0px 0px 11px;
	font-size: 14px;
    color: #8ea6ab;
	line-height: 17px;
}

.mb-buttons-container{
	display: flex;
}

.mb-social-block {
	margin: 40px 0px 0px;
}

/***PHONES***/
@media(max-width: 767px){
	.mb-title-container{
		padding: 10px 12px 11px;
	}

	.mb-block-container{
		padding: 12px 11px;
	}

	.mb-formgroup-container .btn{
		width: 100%;
		margin: 0;
	}

	.mb-formgroup-container .btn + .btn{
		margin-top: 6px;
	}
}