.brands-wrapper{
	width: 100%;
	background: #f1f6f7;
}

.brands{
	padding: 40px 0 32px;
}

.brands .h1{
	padding-bottom: 32px;
}

/***ITEM***/
.brands-item:link,
.brands-item:visited{
	height: 166px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 32px;
	padding: 24px 12px 18px;
	position: relative;
	text-decoration: none;
	border: 1px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
	background: #fff;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-item:hover,
.bx-touch .brands-item:active{
	-webkit-box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
}

/***ITEM_IMAGE***/
.brands-item-image{
	width: 150px;
	height: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.brands-item-image > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 75px;
}

/***ITEM_MARKERS***/
.brands-item-markers{	
	position: absolute;
	left: 12px;
	right: 12px;
	top: 12px;
	z-index: 200;
}

.brands-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.brands-item-marker-container + .brands-item-marker-container{
	margin-top: 4px;
}

.brands-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.brands-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.brands-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.brands-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.brands-item-marker-14px > i{
	font-size: 14px;
}

.brands-item-marker-24px > i{
	font-size: 24px;
}

.brands-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.brands-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.brands-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***ITEM_TITLE***/
.brands-item-title{
	width: 100%;
	margin-top: 4px;
	color: #3d4b52;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-item:hover .brands-item-title,
.bx-touch .brands-item:active .brands-item-title{
	color: #6639b6;
}

/***ITEM_TEXT***/
.brands-item-text{
	width: 100%;
	margin-top: 6px;
	font-size: 14px;
	line-height: 17px;
	color: #8ea6ab;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/***BUTTONS***/
.brands-buttons{
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}

/***PHONES***/
@media(max-width: 991px){
	.brands{
		margin-left: -6px !important;
		margin-right: -6px !important;
		padding-top: 8px;
		padding-bottom: 20px;
	}

	.brands [class*="col-"]{
		padding-left: 6px;
		padding-right: 6px;
	}

	.brands .h1{
		padding-bottom: 18px;
	}

	/***ITEM***/
	.brands-item{
		margin-bottom: 12px;
	}

	/***BUTTONS***/
	.brands-buttons{
		margin-top: 6px;
		margin-bottom: 12px;
	}
}