.fadeInLeftBig{
	animation: fadeInLeftBig 1s ease-in-out;
}

@keyframes fadeInLeftBig {
	from {
		transform: translate3d(-40px, 0, 0);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.fadeInBig{
	animation: fadeInBig .3s ease-in-out;
}

@keyframes fadeInBig {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}