.promotions .h2{
	margin-top: 46px;
}

.promotions-item{	
	height: 236px;
	display: block;
	margin-bottom: 24px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.promotions-item-completed{
	background: #f4fafb;
}

.promotions-item-pic,
.promotions-item-block-container,
.promotions-item-block-container:before,
.promotions-item-block-container:after,
.promotions-item-block{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.promotions-item-pic{
	background-color: #6e858a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-moz-transition: -moz-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-o-transition: -o-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	transition: transform 0.45s ease 0s, opacity 0.3s ease 0s;
	z-index: 198;
}

.promotions-item-pic[data-src]{
	opacity: 0;
}

.promotions-item-completed .promotions-item-pic{	
	opacity: 0.2;
	-webkit-filter: grayscale(100%) blur(5px);
	-moz-filter: grayscale(100%) blur(5px);
	-o-filter: grayscale(100%) blur(5px);
	-ms-filter: grayscale(100%) blur(5px);
	filter: grayscale(100%) blur(5px);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.bx-no-touch .promotions-item:hover .promotions-item-pic,
.bx-touch .promotions-item:active .promotions-item-pic{
	-moz-transform: scale(1.1) rotate(0.02deg);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.bx-no-touch .promotions-item-completed:hover .promotions-item-pic,
.bx-touch .promotions-item-completed:active .promotions-item-pic{
	-moz-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
}

.promotions-item-block-container{	
	z-index: 199;
}

.promotions-item-block-container:before{
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#3d4b52", GradientType=0);
}

.promotions-item-completed .promotions-item-block-container:before{	
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #b2c7cb 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #b2c7cb 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #b2c7cb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#b2c7cb", GradientType=0);
}

.promotions-item-block-container:after{
	opacity: 0;
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0.5) 0%, #6639b6 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0.5) 0%, #6639b6 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0.5) 50%, #6639b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#803d4b52", endColorstr="#6639b6", GradientType=0);
	-webkit-transition: opacity 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.promotions-item-completed .promotions-item-block-container:after{	
	content: none;
}

.bx-no-touch .promotions-item:hover .promotions-item-block-container:after,
.bx-touch .promotions-item:active .promotions-item-block-container:after{
	opacity: 1;
}

.promotions-item-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 24px;
	z-index: 200;
}

.promotions-item-title{
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 24px;	
	color: #fff;
	text-align: center;
	line-height: 29px;
}

.promotions-item-date{	
	margin-top: 12px;
	color: #fff;
	text-align: center;
}

/***ICONS***/
.promotions-item-icons{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 12px;
	right: 12px;
	top: 12px;
	z-index: 200;
}

.promotions-item-icon{
	overflow: hidden;
}

.promotions-item-icon + .promotions-item-icon{
	margin-left: 12px;
	overflow: visible;
}

/***MARKER***/
.promotions-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.promotions-item-marker-container + .promotions-item-marker-container{
	margin-top: 4px;
}

.promotions-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.promotions-item-completed .promotions-item-marker{
	background: #8ea6ab !important;
}

.promotions-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.promotions-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.promotions-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.promotions-item-marker-14px > i{
	font-size: 14px;
}

.promotions-item-marker-24px > i{
	font-size: 24px;
}

.promotions-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.promotions-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.promotions-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***TIMER***/
.promotions-item-timer{	
	display: flex;
	align-items: center;
	padding: 12px 12px 11px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #6639b6;	
}

.promotions-item-completed .promotions-item-timer{
	background: #8ea6ab;
}

.promotions-item-timer > i{	
	margin-right: 7px;
	font-size: 16px;
	color: #fff;
}

.promotions-item-completed .promotions-item-timer > i{
	display: none;
}

.promotions-item-timer > span{		
	color: #fff;
	white-space: nowrap;
}

.promotions-item-timer .countdown-amount:after{	
	content: ":";
}

.promotions-item-timer .countdown-section:last-child .countdown-amount:after{
	content: none;
}

.promotions-item-timer .countdown-period{
	display: none;
}

/***MORE***/
.promotions-more{
	padding-bottom: 22px;
}

.promotions-more .btn{
	width: 100%;
	height: 48px;
}

/***PHONES***/
@media(max-width: 991px){
	.promotions .h2{
		margin-top: 14px;
	}
	
	.promotions-item{	
		height: 185px;		
		margin: 0 -18px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}

	.promotions-item-block{
		padding: 18px;
	}

	.promotions-item-title{		
		font-size: 20px;
		line-height: 24px;
	}

	.promotions-item-date{	
		margin-top: 6px;
	}

	/***MORE***/
	.promotions-more{
		margin: 0 -18px;
		padding: 0;
	}

	.promotions-more .btn{
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}
	
	/***PAGINATION***/
	.promotions-pagination{
		padding-top: 16px;
	}
}