.catalog-sections .catalog-section-item:hover .catalog-section-item__title {
	color: #fff !important;
}

.catalog-sections .catalog-section-item:hover {
	background-color: #3d4b52;
}

.catalog-section-item .catalog-section-item__graph {
	position: relative;
}

.catalog-section-item .catalog-section-item__graph > span {
	position: absolute;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	opacity: 0;
	transition: opacity .7s ease-in-out;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.catalog-section-item:hover .catalog-section-item__graph > span {
	opacity: 1;
	transition: opacity .7s ease-in-out;
}
