.collections .h2{
	margin-top: 46px;
	margin-bottom: 14px;
}

.collections-item{	
	height: 200px;
	display: block;
	margin-bottom: 24px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.collections-item-pic,
.collections-item-block-container,
.collections-item-block-container:before,
.collections-item-block-container:after,
.collections-item-block{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.collections-item-pic{
	background-color: #6e858a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-moz-transition: -moz-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-o-transition: -o-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	transition: transform 0.45s ease 0s, opacity 0.3s ease 0s;
	z-index: 198;
}

.collections-item-pic[data-src]{
	opacity: 0;
}

.bx-no-touch .collections-item:hover .collections-item-pic,
.bx-touch .collections-item:active .collections-item-pic{
	-moz-transform: scale(1.1) rotate(0.02deg);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.collections-item-block-container{	
	z-index: 199;
}

.collections-item-block-container:before{
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#3d4b52", GradientType=0);
}

.collections-item-block-container:after{
	opacity: 0;
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0.5) 0%, #6639b6 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0.5) 0%, #6639b6 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0.5) 50%, #6639b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#803d4b52", endColorstr="#6639b6", GradientType=0);
	-webkit-transition: opacity 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.bx-no-touch .collections-item:hover .collections-item-block-container:after,
.bx-touch .collections-item:active .collections-item-block-container:after{
	opacity: 1;
}

.collections-item-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 24px;
	z-index: 200;
}

.collections-item-title{
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 24px;	
	color: #fff;
	text-align: center;
	line-height: 29px;
}

.collections-item-price{	
	margin-top: 6px;
	color: #fff;
	text-align: center;
}

.collections-item-brand{
	margin-top: 6px;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

/***ICONS***/
.collections-item-icons{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 12px;
	right: 12px;
	top: 12px;
	z-index: 200;
}

.collections-item-icons-left{
	justify-content: flex-start;
}

.collections-item-icons-right{
	justify-content: flex-end;
}

.collections-item-icon{
	overflow: hidden;
}

.collections-item-icon + .collections-item-icon{	
	max-width: 120px;	
	margin-left: 12px;
	overflow: visible;
}

/***MARKERS***/
.collections-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.collections-item-marker-container + .collections-item-marker-container{
	margin-top: 4px;
}

.collections-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.collections-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.collections-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.collections-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.collections-item-marker-14px > i{
	font-size: 14px;
}

.collections-item-marker-24px > i{
	font-size: 24px;
}

.collections-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.collections-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.collections-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***COLORS***/
.collections-item-colors{
	display: flex;	
	margin-left: -6px;
	margin-top: -6px;
}

.collections-item-color{
	width: 36px;
	min-width: 36px;
	height: 36px;	
	margin-left: 6px;
	margin-top: 6px;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.collections-item-colors-add{	
	display: flex;
	justify-content: flex-end;
	margin-top: 6px;
	font-size: 14px;
	color: #fff;	
	line-height: 17px;	
}

/***MORE***/
.collections-more .btn{
	width: 100%;
	height: 48px;
}

/***PHONES***/
@media(max-width: 991px){
	.collections .h2{
		margin-top: 14px;
		margin-bottom: 0;
	}

	.collections-item{
		height: 185px;
		margin: 0 -18px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}

	.collections-item-block{
		padding: 18px;
	}

	.collections-item-title{
		font-size: 20px;
		line-height: 24px;
	}

	/***MORE***/
	.collections-more{
		margin: 0 -18px;
	}

	.collections-more .btn{
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}
}