.slide-menu {
    width: 72px;
    margin: 0;
    padding: 0;
    position: fixed !important;
    left: 0;
    top: 72px;
    bottom: 0;
    list-style: none;
    overflow: hidden;
    border-top: 1px solid #55686e;
    -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    background: #3d4b52;
    z-index: 204;
    padding-bottom: 23px !important;
}

.slide-menu>.slide-menu {
    min-height: 100%;
    position: static !important;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}

.slide-menu li[data-entity='title'] {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding: 13px 36px 13px 18px;
    position: relative;
    border: none;
    background: #e3ecef;
    cursor: pointer;
}

.slide-menu-back {
    font-size: 16px;
    color: #b2c7cb;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li[data-entity='title']:hover .slide-menu-back,
.bx-touch .slide-menu li[data-entity='title']:active .slide-menu-back {
    color: #6e858a;
}

.slide-menu-title {
    padding-left: 12px;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li[data-entity='title']:hover .slide-menu-title,
.bx-touch .slide-menu li[data-entity='title']:active .slide-menu-title {
    color: #6639b6;
}

.slide-menu-close {
    position: absolute;
    right: 16px;
    font-size: 16px;
    color: #8ea6ab;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li[data-entity='title']:hover .slide-menu-close,
.bx-touch .slide-menu li[data-entity='title']:active .slide-menu-close {
    color: #6e858a;
}

.slide-menu li {
    border-bottom: 1px solid #55686e;
}

.slide-menu li>a {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    text-decoration: none;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li:hover>a,
.bx-touch .slide-menu li:active>a,
.slide-menu li.hover>a,
.slide-menu li.active>a {
    background-color: #55686e;
}

.slide-menu-icon,
.slide-menu-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide-menu-icon {
    width: 36px;
    min-width: 36px;
}

.slide-menu-icon>i {
    font-size: 36px;
    color: #b2c7cb;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li:hover>a>.slide-menu-icon>i,
.bx-touch .slide-menu li:active>a>.slide-menu-icon>i,
.slide-menu li.hover>a>.slide-menu-icon>i,
.slide-menu li.active>a>.slide-menu-icon>i {
    color: #fff;
}

.slide-menu-pic {
    width: 72px;
    min-width: 72px;
    height: 72px;
    overflow: hidden;
}

.slide-menu-pic>img {
    width: auto;
    height: auto;
    max-width: 72px;
    max-height: 72px;
}


/*.slide-menu-text {
    display: none;
    color: #3d4b52;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}*/

.bx-no-touch .slide-menu li:hover>a>.slide-menu-text,
.bx-touch .slide-menu li:active>a>.slide-menu-text,
.slide-menu li.hover>a>.slide-menu-text,
.slide-menu li.active>a>.slide-menu-text {
    color: #6639b6;
}

.slide-menu li>a>i {
    display: none;
    position: absolute;
    right: 16px;
    font-size: 16px;
    color: #b2c7cb;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li:hover>a>i,
.bx-touch .slide-menu li:active>a>i,
.slide-menu li.hover>a>i,
.slide-menu li.active>a>i {
    color: #6e858a;
}

.slide-menu-count {
    padding: 0 5px;
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 11px;
    color: #6e858a;
    line-height: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #d0e0e3;
}

.slide-menu-dropdown-menu {
    width: 278px;
    margin: 0;
    padding: 0;
    position: fixed !important;
    left: -9999px;
    top: 72px;
    bottom: 0;
    list-style: none;
    overflow: hidden;
    -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    background: #fff;
}

.slide-menu-dropdown-menu>.slide-menu-dropdown-menu {
    min-height: 100%;
    position: static !important;
    box-shadow: none;
    background: none;
}

.slide-menu-dropdown-menu li {
    border-bottom: 1px solid #e3ecef;
}

.slide-menu-dropdown-menu li>a {
    height: auto;
    min-height: 64px;
    justify-content: flex-start;
    padding: 13px 36px 13px 18px;
}

.bx-no-touch .slide-menu-dropdown-menu li:hover>a,
.bx-touch .slide-menu-dropdown-menu li:active>a,
.slide-menu-dropdown-menu li.hover>a,
.slide-menu-dropdown-menu li.active>a {
    background-color: #f1f6f7;
}

.slide-menu-dropdown-menu .slide-menu-icon,
.slide-menu-dropdown-menu .slide-menu-pic {
    margin-right: 18px;
}

.slide-menu-dropdown-menu .slide-menu-icon>i {
    color: #55686e;
}

.bx-no-touch .slide-menu-dropdown-menu li:hover>a>.slide-menu-icon>i,
.bx-touch .slide-menu-dropdown-menu li:active>a>.slide-menu-icon>i,
.slide-menu-dropdown-menu li.hover>a>.slide-menu-icon>i,
.slide-menu-dropdown-menu li.active>a>.slide-menu-icon>i {
    color: #3d4b52;
}

.slide-menu-dropdown-menu .slide-menu-text,
.slide-menu-dropdown-menu li>a>i {
    display: inline-block;
}

.slide-menu-item>a>.slide-menu-pic>span {
    position: absolute;
    top: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide-menu-item:hover>a>.slide-menu-pic>span {
    opacity: 1;
    transition: opacity .7s ease-in-out;
}

.slide-menu-link .slide-menu-text {
    display: inline-block;
    text-align: center;
    width: 100%;
    word-break: break-all;
    line-height: 1.3;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
}

/* .slide-menu li>a.slide-menu-link:link, */
/* .slide-menu li>a.slide-menu-link:visited, */
/* .slide-menu li>a.slide-menu-link:hover, */
/* .slide-menu li>a.slide-menu-link:active { */
    /* color: #ffffff; */
/* } */


/*.slide-menu-link .slide-menu-pic > img {   
    margin-top: -30px;
}*/

.slide-menu li>a.slide-menu-link {
    height: 80px;
}

@media(min-width: 1043px) {
    .slide-menu-link .slide-menu-text {
        display: inline-block;
        color: #ffffff;
        font-size: 11px;
        text-align: center;
        width: 100%;
        word-break: break-all;
        line-height: 1.3;
        bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        position: absolute;
    }
    .bx-no-touch .slide-menu li:hover>a>.slide-menu-text,
    .bx-touch .slide-menu li:active>a>.slide-menu-text,
    .slide-menu li.hover>a>.slide-menu-text,
    .slide-menu li.active>a>.slide-menu-text {
        color: #fff;
    }
    .bx-no-touch .slide-menu-dropdown-menu li:hover>a>.slide-menu-text,
    .bx-touch .slide-menu-dropdown-menu li:active>a>.slide-menu-text,
    .slide-menu-dropdown-menu li.hover>a>.slide-menu-text,
    .slide-menu-dropdown-menu li.active>a>.slide-menu-text {
        color: #6639b6;
    }
}

.slide-menu-link .slide-menu-pic>img {
    margin-top: -25px;
}


/***PHONES***/

@media(max-width: 1042px) {
    .slide-menu-link .slide-menu-pic {
        position: relative;
        top: 10px;
    }
    .slide-menu-option-1-active {
        overflow: hidden;
    }
    .slide-menu {
        width: 100%;
        left: -100%;
        border: none;
        background: #fff;
    }
    .slide-menu.active {
        left: 0;
    }
    .slide-menu li[data-entity='title'] {
        display: flex !important;
    }
    .slide-menu li {
        border-bottom: 1px solid #e3ecef;
    }
    .slide-menu li>a {
        justify-content: flex-start;
        padding: 13px 36px 13px 18px;
    }
    .bx-no-touch .slide-menu li:hover>a,
    .bx-touch .slide-menu li:active>a,
    .slide-menu li.hover>a,
    .slide-menu li.active>a {
        background-color: #f1f6f7;
    }
    .slide-menu-icon,
    .slide-menu-pic {
        margin-right: 18px;
    }
    .slide-menu-icon>i {
        color: #55686e;
    }
    .bx-no-touch .slide-menu li:hover>a>.slide-menu-icon>i,
    .bx-touch .slide-menu li:active>a>.slide-menu-icon>i,
    .slide-menu li.hover>a>.slide-menu-icon>i,
    .slide-menu li.active>a>.slide-menu-icon>i {
        color: #3d4b52;
    }
    /*.slide-menu-text{
		display: inline-block;
		color: #3d4b52;
	}*/
    .bx-no-touch .slide-menu li:hover>a>.slide-menu-text,
    .bx-touch .slide-menu li:active>a>.slide-menu-text,
    .slide-menu li.hover>a>.slide-menu-text,
    .slide-menu li.active>a>.slide-menu-text {
        color: #6639b6;
    }
    /*.slide-menu li>a>i {
        display: inline-block;
        color: #b2c7cb;
    }*/
    .bx-no-touch .slide-menu li:hover>a>i,
    .bx-touch .slide-menu li:active>a>i,
    .slide-menu li.hover>a>i,
    .slide-menu li.active>a>i {
        color: #6e858a;
    }
    .slide-menu-dropdown-menu {
        width: 100%;
        position: absolute !important;
        left: 100%;
        top: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        z-index: 202;
    }
    .slide-menu-dropdown-menu.active {
        left: 0;
    }
}