.quick-order-form-title{
	display: block;
	padding: 24px 0 18px;	
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 20px;	
	color: #3d4b52;
	line-height: 24px;
}

.quick-order-form .btn{
	height: 46px;
}

.quick-order-form .alert{
	margin-bottom: 12px;
}


/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	.quick-order-form .form-group.captcha{
		display: flex;
		flex-direction: column;
	}
		
	.quick-order-form .form-group.captcha .pic{
		margin-bottom: 10px;
		padding: 0;
	}
}