.objects-detail{
	margin-top: -40px;
}

/***TABS***/
.objects-detail-tabs-container{
	width: 100vw;
	margin-left: -moz-calc((100vw - 100%) / -2);
	margin-left: -webkit-calc((100vw  - 100%) / -2);
	margin-left: calc((100vw - 100%) / -2);
	background: #f1f6f7;
}

.slide-menu-option-1-active .objects-detail-tabs-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
	margin-left: -moz-calc((100vw - 278px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 278px - 100%) / -2);
	margin-left: calc((100vw - 278px - 100%) / -2);
}

.slide-menu-option-2 .objects-detail-tabs-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
	margin-left: -moz-calc((100vw - 72px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 72px - 100%) / -2);
	margin-left: calc((100vw - 72px - 100%) / -2);
}

.page-container .objects-detail-tabs-container,
.slide-menu-option-1-active .page-container .objects-detail-tabs-container,
.slide-menu-option-2 .page-container .objects-detail-tabs-container{
	width: auto;
	margin-left: -61px;
	margin-right: -61px;
}

.objects-detail-tabs-block.fixed{		
	position: fixed;
	left: 0;
	right: 0;	
	-webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	background-color: #f1f6f7;
	z-index: 203;
}

.slide-menu-option-2 .objects-detail-tabs-block.fixed{
	left: 72px;
}

.slide-menu-option-1-active .objects-detail-tabs-block.fixed{
	left: 278px;
}

.objects-detail-tabs-scroll{	
	width: 1176px;
	margin-left: auto;
	margin-right: auto;	
	position: relative;		
}

.objects-detail-tabs-scroll .owl-prev,
.objects-detail-tabs-scroll .owl-next{
	width: 64px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
	cursor: pointer;
}

.objects-detail-tabs-block.fixed .objects-detail-tabs-scroll .owl-prev,
.objects-detail-tabs-block.fixed .objects-detail-tabs-scroll .owl-next{	
	z-index: 202;	
}

.objects-detail-tabs-scroll .owl-prev.disabled,
.objects-detail-tabs-scroll .owl-next.disabled{
	display: none;
}

.objects-detail-tabs-scroll .owl-prev{	
	left: 0;
	background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
}

.objects-detail-tabs-scroll .owl-next{	
	align-items: flex-end;
	right: 0;
	background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
}

.objects-detail-tabs-scroll .owl-prev i,
.objects-detail-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .objects-detail-tabs-scroll .owl-prev:hover i,
.bx-touch .objects-detail-tabs-scroll .owl-prev:active i,
.bx-no-touch .objects-detail-tabs-scroll .owl-next:hover i,
.bx-touch .objects-detail-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.objects-detail-tabs-list{	
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.objects-detail-tabs-list:after{	
	display: table;
	clear: both;
	content: "";
}

.objects-detail-tab{
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
	position: relative;			
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .objects-detail-tab:hover,
.bx-touch .objects-detail-tab:active{
	color: #6639b6;
}

.objects-detail-tab:after{	
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #6639b6;
}

.objects-detail-tab.active:after{
	height: 2px;
}

.objects-detail-tab > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

/***ITEM***/
.objects-item-detail{
	display: flex;
	margin-top: 40px;
}

.objects-item-detail-image{
	width: 278px;
	min-width: 278px;
	height: 191px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 24px;
	border: 1px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.objects-item-detail-image > img{
	width: auto;	
	max-width: 212px;
	height: auto;
	max-height: 116px;
}

.objects-item-detail-caption{
	width: 100%;
}

.objects-item-detail-title{
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 24px;
	color: #3d4b52;	
	line-height: 29px;
}

.objects-item-detail-address{
	display: flex;
	margin-top: 6px;
}

.objects-item-detail-address > i{
	margin-right: 6px;
	margin-top: 2px;
	font-size: 16px;
	color: #b2c7cb;
}

.objects-item-detail-address > span{
	color: #8ea6ab;
}

.objects-item-detail-hours{
	display: flex;
	align-items: center;
	margin-top: 5px;
	font-size: 14px;
	line-height: 17px;
}

.objects-item-detail-hours-hidden{
	display: none;
}

.objects-item-detail-hours > i{
	font-size: 16px;
	color: #b2c7cb;
	margin-right: 6px;
}

.objects-item-detail-hours-icon{
	width: 5px;
	height: 5px;
	margin-right: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.objects-item-detail-hours-icon-open{	
	background: #3ac769;
}

.objects-item-detail-hours-icon-closed{
	background: #ed4343;
}

.objects-item-detail-hours-break{
	margin-left: 6px;
	color: #8ea6ab;
}

.objects-item-detail-rating{
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.objects-item-detail-rating-val{
	margin-right: 6px;
	padding: 4px 8px 3px;
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 17px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #008d55;
}

.objects-item-detail-rating-val[data-rate="1"]{
	background: #d03913;
}

.objects-item-detail-rating-val[data-rate="2"]{
	background: #ca6c00;
}

.objects-item-detail-rating-val[data-rate="3"]{
	background: #a58900;
}

.objects-item-detail-rating-val[data-rate="4"]{
	background: #568d00;
}

.objects-item-detail-rating-reviews-count{
	font-size: 14px;
	color: #78909c;
	line-height: 17px;
}

.objects-item-detail-descr{
	margin-top: 18px;
}

.objects-item-detail-links{
	margin-left: -6px;
	margin-top: 12px;
}

.objects-item-detail-link{
	margin-left: 6px;
	margin-top: 6px;
}

.objects-item-detail-contacts{
	width: 56px;
	min-width: 56px;	
	margin-left: 44px;
}

.objects-item-detail-btn{
	width: 56px;
	height: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	background: #f1f6f7;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .objects-item-detail-btn:hover,
.bx-touch .objects-item-detail-btn:active{
	background: #6639b6;
}

.objects-item-detail-btn:focus{
	outline: none;
}

.objects-item-detail-btn > i{
	font-size: 24px;
	color: #55686E;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .objects-item-detail-btn:hover > i,
.bx-touch .objects-item-detail-btn:active > i{
	color: #fff;
}

.objects-item-detail-map{
	width: 276px;
	min-width: 276px;
	height: 189px;	
	margin-left: 24px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

/***PROMOTIONS***/
/***PRODUCTS***/
/***3D_TOUR***/
/***AFFILIATES***/
/***DETAIL_TEXT***/
.objects-detail-promotions-container,
.objects-detail-products-container,
.objects-detail-3d-tour-container,
.objects-detail-affiliates-container,
.objects-detail-detail-text{
	margin-top: 46px;
}

/***3D_TOUR***/
/***AFFILIATES_MAP***/
.objects-detail-3d-tour,
.objects-detail-affiliates-map{
	width: 100vw;
	height: -moz-calc(100vw / 3.33);
	height: -webkit-calc(100vw / 3.33);
	height: calc(100vw / 3.33);
	margin-left: -moz-calc((100vw - 100%) / -2);
	margin-left: -webkit-calc((100vw  - 100%) / -2);
	margin-left: calc((100vw - 100%) / -2);
	margin-top: 14px;
}

.slide-menu-option-1-active .objects-detail-3d-tour,
.slide-menu-option-1-active .objects-detail-affiliates-map{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
	height: -moz-calc((100vw - 278px) / 3.33);
	height: -webkit-calc((100vw - 278px) / 3.33);
	height: calc((100vw - 278px) / 3.33);
	margin-left: -moz-calc((100vw - 278px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 278px - 100%) / -2);
	margin-left: calc((100vw - 278px - 100%) / -2);
}

.slide-menu-option-2 .objects-detail-3d-tour,
.slide-menu-option-2 .objects-detail-affiliates-map{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
	height: -moz-calc((100vw - 72px) / 3.33);
	height: -webkit-calc((100vw - 72px) / 3.33);
	height: calc((100vw - 72px) / 3.33);
	margin-left: -moz-calc((100vw - 72px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 72px - 100%) / -2);
	margin-left: calc((100vw - 72px - 100%) / -2);
}

.page-container .objects-detail-3d-tour,
.slide-menu-option-1-active .page-container .objects-detail-3d-tour,
.slide-menu-option-2 .page-container .objects-detail-3d-tour,
.page-container .objects-detail-affiliates-map,
.slide-menu-option-1-active .page-container .objects-detail-affiliates-map,
.slide-menu-option-2 .page-container .objects-detail-affiliates-map{
	width: auto;
	height: -moz-calc(1298px / 3.33);
	height: -webkit-calc(1298px / 3.33);
	height: calc(1298px / 3.33);
	margin-left: -61px;
	margin-right: -61px;
}

.objects-detail-3d-tour iframe{
	width: 100%;
	height: 100%;
}

/***AFFILIATES***/
.objects-detail-affiliates{
	margin-top: 14px;
}

.objects-detail-affiliates-map + .objects-detail-affiliates{
	margin-top: 40px;
}

/***LINKS***/
.objects-detail-sections-links{
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-bottom: 32px;	
}

.objects-detail-section-link{
	margin-left: 6px;
	margin-top: 6px;
	padding: 9px 16px 8px;
	white-space: nowrap;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .objects-detail-section-link:hover,
.bx-touch .objects-detail-section-link:active{
	border-color: #8ea6ab;
	background: #e3ecef;
}

.objects-detail-section-link.active,
.bx-no-touch .objects-detail-section-link.active:hover,
.bx-touch .objects-detail-section-link.active:active{
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

.objects-detail-section-link > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -2px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

.objects-detail-section-link.active > span,
.bx-no-touch .objects-detail-section-link.active:hover > span,
.bx-touch .objects-detail-section-link.active:active > span{
	color: #fff;
	background: #8ea6ab;
}

/***PHONES***/
@media(max-width: 991px){
	.objects-detail{
		margin-top: -32px;
	}

	/***TABS***/
	.objects-detail-tabs-container,	
	.slide-menu-option-1-active .objects-detail-tabs-container,
	.slide-menu-option-2 .objects-detail-tabs-container,
	.page-container .objects-detail-tabs-container,	
	.slide-menu-option-1-active .page-container .objects-detail-tabs-container,
	.slide-menu-option-2 .page-container .objects-detail-tabs-container{
		width: unset;
		margin: 0 -18px;
	}

	.slide-menu-option-2 .objects-detail-tabs-block.fixed,
	.slide-menu-option-1-active .objects-detail-tabs-block.fixed{
		left: 0;
	}
	
	.objects-detail-tabs-scroll{	
		width: unset;
		margin: 0;
	}

	.objects-detail-tabs-scroll .owl-prev{
		padding-left: 18px;
	}
	
	.objects-detail-tabs-scroll .owl-next{
		padding-right: 18px;
	}

	/***ITEM***/
	.objects-item-detail{		
		margin-top: 18px;
	}
	
	/***PROMOTIONS***/
	/***PRODUCTS***/
	/***3D_TOUR***/
	/***AFFILIATES***/
	/***DETAIL_TEXT***/
	.objects-detail-promotions-container,
	.objects-detail-products-container,
	.objects-detail-3d-tour-container,
	.objects-detail-affiliates-container,
	.objects-detail-detail-text{
		margin-top: 14px;
	}

	/***3D_TOUR***/
	/***AFFILIATES_MAP***/
	.objects-detail-3d-tour{
		height: 226px;
	}

	.objects-detail-affiliates-map{
		height: 320px;
	}

	.objects-detail-3d-tour,	
	.slide-menu-option-1-active .objects-detail-3d-tour,
	.slide-menu-option-2 .objects-detail-3d-tour,
	.page-container .objects-detail-3d-tour,
	.slide-menu-option-1-active .page-container .objects-detail-3d-tour,
	.slide-menu-option-2 .page-container .objects-detail-3d-tour,
	.objects-detail-affiliates-map,
	.slide-menu-option-1-active .objects-detail-affiliates-map,
	.slide-menu-option-2 .objects-detail-affiliates-map,
	.page-container .objects-detail-affiliates-map,
	.slide-menu-option-1-active .page-container .objects-detail-affiliates-map,
	.slide-menu-option-2 .page-container .objects-detail-affiliates-map{
		width: unset;
		margin: 0 -18px;
	}

	/***AFFILIATES***/
	.objects-detail-affiliates{
		margin: 0;
	}

	.objects-detail-affiliates-map + .objects-detail-affiliates{
		margin-top: 32px;
	}
	
	/***LINKS***/
	.objects-detail-sections-links{
		margin-top: -6px;
		margin-bottom: 18px;	
	}
}

/***PHONES_DESKTOPS***/
@media(max-width: 1271px){
	/***ITEM***/
	.objects-item-detail{
		flex-direction: column;
		position: relative;
	}

	.objects-item-detail-image{
		width: unset;
		min-width: unset;
		height: 72px;		
		margin-right: 0;
	}

	.objects-item-detail-image > img{
		max-width: 100%;
		max-height: 48px;
	}

	.objects-item-detail-caption{
		margin-top: 18px;
	}
	
	.objects-item-detail-title,
	.objects-item-detail-address{
		padding-right: 66px;
	}
	
	.objects-item-detail-contacts{
		position: absolute;
		right: 0;
		top: 90px;
		margin: 0;
	}

	.objects-item-detail-map{
		width: unset;
		min-width: unset;
		margin-left: 0;
		margin-top: 18px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***TABS***/
	.page-container .objects-detail-tabs-container,
	.slide-menu-option-1-active .page-container .objects-detail-tabs-container,
	.slide-menu-option-2 .page-container .objects-detail-tabs-container{
		margin-left: -23px;
		margin-right: -23px;
	}
	
	.objects-detail-tabs-scroll{	
		width: 946px;
	}

	/***3D_TOUR***/
	/***AFFILIATES_MAP***/
	.page-container .objects-detail-3d-tour,
	.slide-menu-option-1-active .page-container .objects-detail-3d-tour,
	.slide-menu-option-2 .page-container .objects-detail-3d-tour,
	.page-container .objects-detail-affiliates-map,
	.slide-menu-option-1-active .page-container .objects-detail-affiliates-map,
	.slide-menu-option-2 .page-container .objects-detail-affiliates-map{
		height: -moz-calc(992px / 3.33);
		height: -webkit-calc(992px / 3.33);
		height: calc(992px / 3.33);
		margin-left: -23px;
		margin-right: -23px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1042px){
	/***TABS***/
	.slide-menu-option-2 .objects-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}
	
	.slide-menu-option-2 .objects-detail-tabs-block.fixed{
		left: 0;
	}

	/***3D_TOUR***/
	/***AFFILIATES_MAP***/
	.slide-menu-option-2 .objects-detail-3d-tour,
	.slide-menu-option-2 .objects-detail-affiliates-map{
		width: 100vw;
		height: -moz-calc(100vw / 3.33);
		height: -webkit-calc(100vw / 3.33);
		height: calc(100vw / 3.33);
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1499px){
	/***TABS***/
	.slide-menu-option-1-active .objects-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}

	.slide-menu-option-1-active .objects-detail-tabs-block.fixed{
		left: 0;
	}

	/***3D_TOUR***/
	/***AFFILIATES_MAP***/
	.slide-menu-option-1-active .objects-detail-3d-tour,
	.slide-menu-option-1-active .objects-detail-affiliates-map{
		width: 100vw;
		height: -moz-calc(100vw / 3.33);
		height: -webkit-calc(100vw / 3.33);
		height: calc(100vw / 3.33);
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}
}