.bx-soa-section{
    margin-bottom: 18px;	
}

.bx-soa-section-title-container{
	width: 100%;
	display: table;
	padding: 16px 24px;	
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;	
	background-color: #f1f6f7;
}

.bx-soa-section.bx-step-completed .bx-soa-section-title-container{
	background-color: #e1ecc9;
}

.bx-soa-section.bx-step-warning .bx-soa-section-title-container{
	background-color: #f6eec7;
}

.bx-soa-section.bx-step-error .bx-soa-section-title-container{	
	background-color: #f2e2e1;	
}

.bx-soa-section-title,
.bx-soa-section-title-icon,
.bx-soa-section-title-val{
	display: table-cell;
	vertical-align: middle;	
}

.bx-soa-section-title-icon{
	padding-right: 12px;
}

.bx-soa-section-title-icon i{	
	font-size: 23px;
	color: #b2c7cb;
}

.bx-soa-section-title-icon i + i{	
	display: none;	
}

.bx-soa-section.bx-step-completed .bx-soa-section-title-icon i,
.bx-soa-section.bx-step-warning .bx-soa-section-title-icon i,
.bx-soa-section.bx-step-error .bx-soa-section-title-icon i{
	display: none;
}

.bx-soa-section.bx-step-completed .bx-soa-section-title-icon .fa-check-circle{	
	display: inline-block;
	color: #a3bc6d;
}

.bx-soa-section.bx-step-warning .bx-soa-section-title-icon .fa-check-circle,
.bx-soa-section.bx-step-error .bx-soa-section-title-icon .fa-check-circle{
	display: none;
}

.bx-soa-section.bx-step-warning .bx-soa-section-title-icon .fa-exclamation-triangle{	
	display: inline-block;
	color: #daa024;
}

.bx-soa-section.bx-step-error .bx-soa-section-title-icon .fa-exclamation-circle{	
	display: inline-block;
	color: #a94442;
}

.bx-soa-section-title-val{	
	color: #3d4b52;	
}

.bx-soa-section-edit{
	 display: table-cell;
	 vertical-align: middle;
	 text-align: right;
}

.bx-soa-section.bx-selected .bx-soa-section-edit{
	display: none;
}

.bx-soa-editstep:link,
.bx-soa-editstep:visited{	
	color: #6e858a;
	text-decoration: none;	
	border-bottom: 1px dashed;
}

.bx-no-touch .bx-soa-editstep:hover,
.bx-touch .bx-soa-editstep:active{
	border-bottom: none;
}

.bx-soa-section-content{	
	padding: 24px 23px;	
	color: #3d4b52;	
	border: 1px solid #e3ecef;
	border-top: none;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

/***TABLE***/
.bx-soa-table-fade{
	margin-left: -23px;
	margin-right: -23px;
	position: relative;
}

.bx-soa-table-fade:before{
	left: 0;
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.bx-soa-table-fade:after{
	right: 0;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.bx-soa-table-fade:before,
.bx-soa-table-fade:after{	
	width: 0;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 10px;
	top: 0;	
	content: "";
	-webkit-transition: width 300ms ease;
	-moz-transition: width 300ms ease;
	-ms-transition: width 300ms ease;
	-o-transition: width 300ms ease;
	transition: width 300ms ease;
}

.bx-soa-table-fade-left:before,
.bx-soa-table-fade-right:after{
	width: 15px;
}

.bx-soa-item-table{
	min-width:100%;
	display:table;
}

.bx-soa-item-tr{
	display:table-row;
}

.bx-soa-item-td{
	display: table-cell;
	vertical-align: middle;
	padding: 23px;	
	color: #3d4b52;
	text-align: right;	
	white-space: nowrap;
	border-top: 1px solid #e3ecef;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;	
}

.bx-soa-item-tr:first-child .bx-soa-item-td{
	padding-top: 0;
	border-top: none;
}

.bx-soa-item-info-container .bx-soa-item-td{
	padding-top: 0;
	vertical-align: top;
	text-align: left;
	white-space: normal;
	border-top: none;
}

.bx-soa-item-td.bx-soa-item-item{
	text-align: left;
	white-space: normal;
}

.bx-soa-item-image-container{
	width: 122px;
	display: table-cell;
	vertical-align: middle;
}

.bx-soa-item-image{
	width: 122px;
	height: 122px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.bx-soa-item-image > img,
.bx-soa-item-image-popup{
	max-width: 122px;
	height: auto;
}

.bx-soa-item-image-popup{
	cursor: pointer;
}

.bx-soa-item-content{
	display: table-cell;
	vertical-align: middle;
	padding-left: 18px;
}

/***ARTICLE***/
.bx-soa-item-article{
	display: block;
	margin-bottom: 4px;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

/***TITLE***/
.bx-soa-item-title > a:link,
.bx-soa-item-title > a:visited{
	color: #3d4b52;
	text-decoration: none;
}

.bx-no-touch .bx-soa-item-title > a:hover,
.bx-touch .bx-soa-item-title > a:active{
	color: #6639b6;
}

/***PROPS***/
.bx-soa-item-prop{
	display: block;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

/***PRICE***/
.bx-soa-item-discount-percent{
	font-size: 14px;
	color: #6e858a;
	line-height: 17px;
}

.bx-soa-item-old-price{
	font-size: 14px;
	color: #8ea6ab;
	text-decoration: line-through;
	line-height: 17px;
}

.bx-soa-item-discount{
	font-size: 14px;
	color: #d71057;
	line-height: 17px;
}

.bx-soa-item-type-price{
	font-size: 14px;
	line-height: 17px;
}

/***QUANTITY***/
.bx-soa-item-quantity{
	font-size: 14px;
	color: #6e858a;
	line-height: 17px;
}

/***IMAGE_POPUP***/
.bx-soa-image-popup-window{
	padding: 24px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 24px rgba(85, 104, 110, 0.36) !important;
	-moz-box-shadow: 0 0 24px rgba(85, 104, 110, 0.36) !important;
	box-shadow: 0 0 24px rgba(85, 104, 110, 0.36) !important;
	background: #fff;
}

.bx-soa-image-popup-window .popup-window-content{
	background: none;
}

.bx-soa-image-popup-window img{		
	max-width: 100%;	
	height: auto;
}

.bx-soa-image-popup-window .popup-window-close-icon{
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	right: -12px;
	top: -12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	background-color: #b2c7cb;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .bx-soa-image-popup-window .popup-window-close-icon:hover,
.bx-touch .bx-soa-image-popup-window .popup-window-close-icon:active{
	background-color: #8ea6ab;
}

.bx-soa-image-popup-window .popup-window-close-icon:before,
.bx-soa-image-popup-window .popup-window-close-icon:after{
	width: 1px;
	height: 15px;
	position: absolute;
	left: 12px;
	top: 5px;
	content: "";
	background-color: #fff;
}

.bx-soa-image-popup-window > .popup-window-close-icon:before{
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bx-soa-image-popup-window > .popup-window-close-icon:after{
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/***IMAGE_LIST***/
.bx-soa-item-image-list{	
	float: right;
	margin: 0 0 0 -5px;
	padding: 0;
	list-style: none;
}

.bx-soa-item-image-item{
	width: 70px;
	height: 70px;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid #d0e0e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
}

.bx-no-touch .bx-soa-item-image-item:hover,
.bx-touch .bx-soa-item-image-item:active{	
	border-width: 2px;
	border-color: #8ea6ab;
}

.bx-soa-item-image-item > img{
	width: auto;
	height: auto;
	max-width: 70px;
	max-height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

/***HIDDEN_PROPS***/
.bx-soa-info-shower:link,
bx-soa-info-shower:visited{	
	color: #6e858a;
	text-decoration: none;	
	border-bottom: 1px dashed;
}

.bx-no-touch .bx-soa-info-shower:hover,
.bx-touch .bx-soa-info-shower:active{
	border-bottom: none;
}

.bx-soa-item-info-container .bx-soa-item-info-block{
	height: 0;
	overflow: hidden;
}

.bx-soa-item-info-block.bx-active{
	height: auto;
}

.bx-soa-info-block{
	width: 100%;
	display: table;
	margin-top: 6px;
}

.bx-soa-info-line{
	display: table-row;
}

.bx-soa-info-title,
.bx-soa-info-text{
	display: table-cell;
	vertical-align: middle;
	padding: 11px 9px 0;
}

.bx-soa-info-line > :first-child{
	padding-left: 0;
}

.bx-soa-info-line > :last-child{
	padding-right: 0;
}

/***COUPON_MORE***/
.bx-soa-item-footer{
	margin: 19px -23px 0;	
	padding: 18px 23px 0;
	border-top: 1px solid #e3ecef;
	overflow: hidden;
}

.bx-soa-table-fade + .bx-soa-item-footer,
.bx-soa-pp + .bx-soa-item-footer{
	margin-top: 0;
}

.bx-soa-coupon{
}

.bx-soa-pp-company-selected + .bx-soa-coupon-fixed{
	margin-top: 14px;
}

.bx-soa-coupon-input{
	display: table;
}

.bx-soa-coupon-input input{
	width: 218px;
	height: 36px;
	float: left;
	padding: 0 13px;
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 16px;	
	color: #8ea6ab;
	line-height: 34px;
	border: 1px solid #d0e0e3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none;
	background: none;
}

.bx-soa-coupon-input .btn{
	width: 40px;
	height: 36px;
	float: left;
	margin-left: 12px;
	padding: 0;
}

.bx-soa-coupon-input .btn i{	
	padding-right: 0;	
}

.bx-soa-coupon-items{
	display: table;
}

.bx-soa-coupon-item{
	display: table;
	margin-top: 12px;
}

.bx-soa-coupon-fixed .bx-soa-coupon-item{
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding-left: 12px;	
	color: #000;
}

.bx-soa-coupon-item-note,
.bx-soa-coupon-item-remove-container{
	display: table-cell;
	vertical-align: middle;
}

.bx-soa-coupon-item-note{
	width: 218px;
	padding: 6px 11px;
	font-size: 14px;
	color: #3d4b52;
	line-height: 17px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.bx-soa-coupon-item-note.good{
	background-color: #e1ecc9;
}

.bx-soa-coupon-item-note.bad{
	background-color: #f2e2e1;
}

.bx-soa-coupon-item-note.disabled{
	background-color: #e3ecef;
}

.bx-soa-coupon-item-remove-container{
	padding-left: 12px;
}

.bx-soa-coupon-item-remove{
	width: 15px;
	height: 15px;
	display: block;
	position: relative;
	cursor: pointer;
}

.bx-soa-coupon-item-remove:before,
.bx-soa-coupon-item-remove:after{
	width: 1px;
	height: 15px;
	position: absolute;
	right: 7px;
	top: 0;
	content: "";
	background-color: #8ea6ab;
}

.bx-soa-coupon-item-remove:before{
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bx-soa-coupon-item-remove:after{
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.bx-no-touch .bx-soa-coupon-item-remove:hover:before,
.bx-touch .bx-soa-coupon-item-remove:active:before,
.bx-no-touch .bx-soa-coupon-item-remove:hover:after,
.bx-touch .bx-soa-coupon-item-remove:active:after{
	background-color: #6639b6;
}

.bx-soa-coupon-label{
	display: table-cell;
	vertical-align: middle;
}

.bx-soa-more{
	overflow: hidden;
}

.bx-soa-coupon + .bx-soa-more{
	margin-top: 18px;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

/***PICKUP***/
.pickup-map-balloon-title{
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 16px;	
	color: #3d4b52;
	line-height: 19px;
}

.pickup-map-balloon-content{
	margin-bottom: 18px;
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 14px;	
	color: #8ea6ab;
	line-height: 17px;
}

.bx-soa-pickup-subTitle{
	margin-bottom: 12px;	
}

.bx-soa-pickup-list{
	margin-bottom: 18px;
}

.bx-soa-pickup-list-item{
	width: 100%;
	display: table;
	padding:18px;	
	border: 2px solid transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.bx-soa-pickup-list-item.bx-selected{
	border-color: #6639b6;
}

.bx-soa-pickup-l-item-adress,
.bx-soa-pickup-l-item-detail,
.bx-soa-pickup-l-item-btn{
	display: table-cell;
	vertical-align: middle;	
}

.bx-soa-pickup-list-item.bx-selected .bx-soa-pickup-l-item-adress{
	display: none;
}

.bx-soa-pickup-l-item-adress i{
	padding-right: 12px;
	color: #b2c7cb;
}

.bx-soa-pickup-l-item-detail{
	display: none;	
}

.bx-soa-pickup-list-item.bx-selected .bx-soa-pickup-l-item-detail{
	display: table-cell;
}

.bx-soa-pickup-l-item-img-container,
.bx-soa-pickup-l-item-info{
	display: table-cell;
	vertical-align: middle;
}

.bx-soa-pickup-l-item-img-container{
	padding-right: 18px;
}

.bx-soa-pickup-l-item-img-container img{
	max-width: 78px;
	max-height: 42px;
	width: auto;
	height: auto;
}

.bx-soa-pickup-l-item-desc{
	font-size: 14px;	
	color: #8ea6ab;
	line-height: 17px;
}

.bx-soa-pickup-l-item-btn{
	text-align: right;
}

/***SIDEBAR***/
.bx-soa-sidebar{
	height: 100%;
	position: relative;
}

.bx-soa-cart-total{
	top: 56px;
	padding: 20px 22px 18px;
	border: 2px solid #ffd200;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: opacity .2s ease, top .3s ease;
	-moz-transition: opacity .2s ease, top .3s ease;
	-o-transition: opacity .2s ease, top .3s ease;
	transition: opacity .2s ease, top .3s ease;
}

.bx-soa-cart-total.bx-soa-cart-total-fixed{
    position: fixed;
    top: 80px;
}

.bx-soa-cart-total.bx-soa-cart-total-bottom{
	opacity: 0;
}

.bx-soa-cart-total-line{
	width: 100%;
	display: table;	
}

.bx-soa-cart-total-line + .bx-soa-cart-total-line{
	margin-top: 11px;
}

.bx-soa-cart-total-line-total{
	margin-top: 9px;
	padding-top: 7px;
	border-top: 1px solid #e3ecef;
}

.bx-soa-cart-t,
.bx-soa-cart-d{
	display: table-cell;
	vertical-align: top;	
}

.bx-soa-cart-total-line-total .bx-soa-cart-t{
	vertical-align: middle;
}

.bx-soa-cart-t {	
	font-size: 14px;
	color: #6e858a;
	line-height: 17px;
}

.bx-soa-cart-d {		
	color: #000;
	text-align: right;	
	white-space: nowrap;
}

.bx-soa-cart-d .bx-price-old{
	display: block;
	font-size: 14px;
	color: #8ea6ab;
	text-decoration: line-through;
	line-height: 17px;
}

.bx-soa-cart-d .bx-price-discount{
	display: block;
	font-size: 14px;
	color: #6639b6;
	line-height: 17px;
}

.bx-soa-cart-d .bx-soa-price-free{
	color: #a3bc6d;
}

.bx-soa-cart-total-line-total .bx-soa-cart-d{
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 20px;	
	line-height: 24px;
}

.bx-soa-cart-total-button-container{
	margin-top: 12px;
}

.bx-soa-cart-total-button-container .btn-order-save{
	width: 100%;
}

/***AUTH***/
.bx-authform .h2,
.bx-authform-social .h2{
	padding-top: 0;
}

.bx-authform-social ul{
	margin: 0;
	padding: 0;
}

.bx-soa-reg-block{
	margin-top: 18px;
	padding: 15px 24px 24px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #f1f6f7;
}

.bx-soa-reference {
	margin-top: 12px;
	font-size: 14px;
	color: #8ea6ab;
}

/***REGION***/
.bx-soa-location-input-container .bx-sls .quick-locations,
.bx-soa-location-input-container .bx-slst .quick-locations,
.bx-soa-loc .bx-sls .quick-locations,
.bx-soa-loc .bx-slst .quick-locations{
	margin: 0;
}

.bx-soa-location-input-container .bx-sls .quick-location-tag,
.bx-soa-location-input-container .bx-slst .quick-location-tag,
.bx-soa-loc .bx-sls .quick-location-tag,
.bx-soa-loc .bx-slst .quick-location-tag{
	height: auto;
	margin: 0 3px 12px 0;
	padding: 7px 12px;
	font-size: 14px;	
	color: #3d4b52;
	line-height: 17px;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background: #f1f6f7;
}

.bx-no-touch .bx-soa-location-input-container .bx-sls .quick-location-tag:hover,
.bx-touch .bx-soa-location-input-container .bx-sls .quick-location-tag:active,
.bx-no-touch .bx-soa-location-input-container .bx-slst .quick-location-tag:hover,
.bx-touch .bx-soa-location-input-container .bx-slst .quick-location-tag:active,
.bx-no-touch .bx-soa-loc .bx-sls .quick-location-tag:hover,
.bx-touch .bx-soa-loc .bx-sls .quick-location-tag:active,
.bx-no-touch .bx-soa-loc .bx-slst .quick-location-tag:hover,
.bx-touch .bx-soa-loc .bx-slst .quick-location-tag:active{
	color: #fff;
	background: #6639b6;
}

.bx-soa-location-input-container .bx-sls .dropdown-block,
.bx-soa-location-input-container .bx-slst .dropdown-block,
.bx-soa-loc .bx-sls .dropdown-block,
.bx-soa-loc .bx-slst .dropdown-block{	
	height: auto;
	margin: 0;
	border: 1px solid #d0e0e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #fff;
}

.bx-soa-location-input-container .bx-slst .dropdown-block + .dropdown-block,
.bx-soa-loc .bx-slst .dropdown-block + .dropdown-block{
	margin-top: 12px;
}

.bx-soa-location-input-container .bx-sls .dropdown-icon,
.bx-soa-location-input-container .bx-slst .dropdown-icon,
.bx-soa-loc .bx-sls .dropdown-icon,
.bx-soa-loc .bx-slst .dropdown-icon{
	top: 50%;
	margin: -7px 0 0 0;
	padding: 0;
}

.bx-soa-location-input-container .bx-sls .dropdown-fade2white,
.bx-soa-location-input-container .bx-slst .dropdown-fade2white,
.bx-soa-loc .bx-sls .dropdown-fade2white,
.bx-soa-loc .bx-slst .dropdown-fade2white{
	width: 30px;
	height: 30px;
	top: 0;
	background: none;
}

.bx-soa-location-input-container .bx-sls .bx-ui-sls-clear,
.bx-soa-location-input-container .bx-slst .bx-ui-combobox-toggle,
.bx-soa-location-input-container .bx-slst .bx-ui-sls-clear,
.bx-soa-loc .bx-sls .bx-ui-sls-clear,
.bx-soa-loc .bx-slst .bx-ui-combobox-toggle,
.bx-soa-loc .bx-slst .bx-ui-sls-clear{
	width: 30px;
	height: 30px;
	margin: 0;
}

.bx-soa-location-input-container .bx-sls .bx-ui-sls-container,
.bx-soa-loc .bx-sls .bx-ui-sls-container{
	min-height: 30px;
}

.bx-soa-location-input-container .bx-sls .bx-ui-sls-fake,
.bx-soa-location-input-container .bx-sls .bx-ui-sls-route,
.bx-soa-location-input-container .bx-slst .bx-ui-combobox-fake,
.bx-soa-loc .bx-sls .bx-ui-sls-fake,
.bx-soa-loc .bx-sls .bx-ui-sls-route,
.bx-soa-loc .bx-slst .bx-ui-combobox-fake{
	height: 30px;
	padding: 0;
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 16px;	
	color: #3d4b52;
	line-height: 30px;
}

.bx-soa-location-input-container .bx-sls .bx-ui-sls-route,
.bx-soa-loc .bx-sls .bx-ui-sls-route{
	color: #8ea6ab;
}

/***FIELDS***/
.bx-soa .form-group{
	width: 322px;
	margin-bottom: 14px;
}

.bx-soa .form-group.text{
	width: auto;
	margin-bottom: 7px;
}

.bx-soa-label{
	margin-bottom: 9px;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

.bx-soa .form-group.captcha .bx-soa-label{
	display: table-row;
}

.bx-soa .form-group.text .bx-soa-label{
	margin-bottom: 6px;
}

.bx-soa-label small{
	display: block;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

.bx-soa .form-group.captcha .pic{
	padding-top: 8px;
}

.bx-soa .form-group.captcha input{
	position: relative;
	top: 8px;
}

.bx-soa-starrequired{
	display: inline-block;
	padding-left: 3px;
	color: #6639b6;
}

.bx-soa-file{
	display: block;
	margin-top: 9px;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
}

.bx-soa .form-group .btn{
	width: auto;
}

/***DELIVERY***/
/***PAYMENT***/
.bx-soa-pp{
	width: -moz-calc(100% + 18px);
	width: -webkit-calc(100% + 18px);
	width: calc(100% + 18px);
	display: table;
	margin-left: -18px;
}

.bx-soa-pp-company-container{
	width: 192px;
	float: left;
	margin-left: 18px;
	margin-bottom: 18px;
}

.bx-soa-pp-company,
.bx-soa-pp-inner-ps{
	padding: 18px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .bx-soa-pp-company:hover,
.bx-touch .bx-soa-pp-company:active,
.bx-no-touch .bx-soa-pp-inner-ps:hover,
.bx-touch .bx-soa-pp-inner-ps:active{	
	-webkit-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	-moz-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
}

.bx-soa-pp-company:after,
.bx-soa-pp-inner-ps:after{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: "";
	border: 1px solid #e3ecef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;	
	z-index: 3;
}

.bx-soa-pp-company.bx-selected:after,
.bx-soa-pp-inner-ps.bx-selected:after{
	border: 2px solid #6639b6;
}

.bx-soa-pp-company-graf-container{
	width: 100%;
	height: 84px;
	display: table;	
}

.bx-soa-pp-company-image{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.bx-soa-pp-company-image > img{
	max-width: 156px;
	max-height: 84px;
	width: auto;
	height: auto;
}

.bx-soa-pp-company-checkbox{
	margin: 0;
	position: absolute;
	left: 12px;
	top: 12px;	
}

.bx-soa-pp-company-checkbox input{	
	display: none;
}

.bx-soa-pp-company-checkbox .check{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #fff;	
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
	background-color: #cfdfe2;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .bx-soa-pp-company:hover .bx-soa-pp-company-checkbox .check,
.bx-touch .bx-soa-pp-company:active .bx-soa-pp-company-checkbox .check,
.bx-no-touch .bx-soa-pp-inner-ps:hover .bx-soa-pp-company-checkbox .check,
.bx-touch .bx-soa-pp-inner-ps:active .bx-soa-pp-company-checkbox .check{
	background-color: #8ea6ab;
}

.bx-soa-pp-company.bx-selected .bx-soa-pp-company-checkbox .check,
.bx-soa-pp-inner-ps.bx-selected .bx-soa-pp-company-checkbox .check{	
	background-color: #6639b6;
}

.bx-soa-pp-company-checkbox .check i{
	display: none;	
}

.bx-soa-pp-company.bx-selected .bx-soa-pp-company-checkbox .check i,
.bx-soa-pp-inner-ps.bx-selected .bx-soa-pp-company-checkbox .check i{
	display: inline-block;
}

.bx-soa-pp-company-descr{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
	z-index: 4;
}

.bx-soa-pp-company-descr > i{		
	font-size: 21px;
	color: #d0e0e3;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .bx-soa-pp-company-descr:hover > i,
.bx-touch .bx-soa-pp-company-descr:active > i{
	color: #8ea6ab;	
}

.bx-soa-pp-company-popup{
	width: 258px;
	margin-left: -150px;
	margin-top: 25px;
	padding: 14px 18px 15px;
	position: absolute;
	left: -9999px;
	top: 30px;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	-moz-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	background-color: #fff;
	opacity: 0;	
	z-index: 5;
	-moz-transform: translate3d(0px, 10px, 0px);
	-o-transform: translate3d(0px, 10px, 0px);
	-webkit-transform: translate3d(0px, 10px, 0px);
	transform: translate3d(0px, 10px, 0px);
	-webkit-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.bx-soa-pp-company-popup:after{
	position: absolute;
	left: 50%;
	bottom: 100%;
	margin-left: -12px;
	content: "";
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #fff;
}

.bx-no-touch .bx-soa-pp-company-descr:hover + .bx-soa-pp-company-popup,
.bx-touch .bx-soa-pp-company-descr:active + .bx-soa-pp-company-popup{
	left: 100%;
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	-o-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.bx-soa-pp-company-popup-title{
	display: block;
	margin-bottom: 18px;
	font-family: "Museo Sans Cyrl 500", sans-serif;	
}

.bx-soa-pp-company-popup-price,
.bx-soa-pp-company-popup-period{
	font-family: "Museo Sans Cyrl 500", sans-serif;	
}

.bx-soa-pp-company-balance{
	display: table-cell;
	vertical-align: middle;
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 20px;	
	color: #000;
	text-align: center;
	line-height: 24px;
}

.bx-soa-pp-delivery-cost-container{
	height: 24px;
	margin-top: 12px;
}

.bx-soa-pp-delivery-cost{	
	color: #000;
	text-align: center;
}

.bx-soa-pp-company-smalltitle-container{
	height: 36px;
	margin-top: 14px;
	overflow: hidden;
}

.bx-soa-pp-delivery-cost + .bx-soa-pp-company-smalltitle-container{
	margin-top: 2px;
}

.bx-soa-pp-company-smalltitle-block{
	width: 100%;
	height: 36px;
	display: table;
}

.bx-soa-pp-company-smalltitle{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
}

.bx-soa-pp-company-block{
	margin-left: 18px;
	padding-bottom: 6px;
	clear: both;
}

.bx-soa-pp-company-desc{
	clear: both;
}

.bx-soa-pp-company-desc + div{
	margin-left: 18px;
	margin-bottom: 18px;
}

.bx-soa-pp-company-selected{
	width: 100%;
	display: table;
}

.bx-soa-pp-company-selected + .bx-soa-pp-company-selected{
	margin-top: 14px;
}

.bx-soa-pp-company-selected-image,
.bx-soa-pp-company-selected-title,
.bx-soa-pp-company-selected-price{
	display: table-cell;
	vertical-align: middle;
}

.bx-soa-pp-company-selected-image{
	width: 1px;
	text-align: center;
}

.bx-soa-pp-company-selected-image > img{
	width: auto;
	height: auto;
	max-width: 78px;
	max-height: 42px;
}

.bx-soa-pp-company-selected-image + .bx-soa-pp-company-selected-title{
	padding-left: 18px;
}

.bx-soa-pp-company-selected-title > span{
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

.bx-soa-pp-company-selected-price{	
	color: #000;
	text-align: right;
}

.bx-soa-pp-company-selected-price .bx-price-old{
	display: block;
	font-size: 14px;
	color: #8ea6ab;
	text-decoration: line-through;
	line-height: 17px;
}

/***ANIMATION***/
.bx-soa-changeCostSign {
	-webkit-animation: changeCostSign ease .4s;
	-moz-animation: changeCostSign ease .4s;
	-o-animation: changeCostSign ease .4s;
	animation: changeCostSign ease .4s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes changeCostSign{
	0%{opacity:1}	
	40%{opacity:0}
	60%{opacity:0}	
	100%{opacity:1}
}

@-moz-keyframes changeCostSign{
	0%{opacity:1}	
	40%{opacity:0}
	60%{opacity:0}	
	100%{opacity:1}
}

@-ms-keyframes changeCostSign{
	0%{opacity:1}	
	40%{opacity:0}
	60%{opacity:0}	
	100%{opacity:1}
}

@-o-keyframes changeCostSign{
	0%{opacity:1}	
	40%{opacity:0}
	60%{opacity:0}	
	100%{opacity:1}
}

@keyframes changeCostSign{
	0%{opacity:1}	
	40%{opacity:0}
	60%{opacity:0}	
	100%{opacity:1}
}

.bx-step-opacity {
	opacity: 0;
	-webkit-animation: animationBorderStepOpacity ease 1s;
	-moz-animation: animationBorderStepOpacity ease 1s;
	-o-animation: animationBorderStepOpacity ease 1s;
	animation: animationBorderStepOpacity ease 1s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@-webkit-keyframes animationBorderStepOpacity{
	0%{opacity:0}
	100%{opacity:100}
}

@-moz-keyframes animationBorderStepOpacity{
	0%{opacity:0}
	100%{opacity:100}
}

@-ms-keyframes animationBorderStepOpacity{
	0%{opacity:0}
	100%{opacity:100}
}

@-o-keyframes animationBorderStepOpacity{
	0%{opacity:0}
	100%{opacity:100}
}

@keyframes animationBorderStepOpacity{
	0%{opacity:0}
	100%{opacity:100}
}

/***PAGINATION***/
.bx-soa-pagination{
	margin-top: 0;
	margin-bottom: 18px;
}

/***LOADING***/
#loading_screen{
    position:fixed;
    z-index: 1150;
    left:50%;
    top:50%;
    margin-left: -32px;
    margin-top: -32px;
    width:64px;
    height:64px;
}

/***CALENDAR***/
.soa-property-container .input-group-addon{
	border: 1px solid #d0e0e3;
	border-left: none;
	background: #fff;
}

.input-group-addon .bx-calendar{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(images/calendar.svg) no-repeat center;	
	background-size: 18px auto;
}

/***ORDER_SAVE***/
.bx-soa-order-save{
	overflow: hidden;
}

.bx-soa-order-save .form-group{
	width: auto;
	float: left;
	margin: 16px 0 0;
}

.bx-soa-order-save .btn{
	height: 46px;
	padding: 0 74px;	
}

/***CONFIRM***/
.sale_order_full_table{
	line-height: 18px;
}

.sale_order_full_table + .sale_order_full_table{
	margin-top: 14px;
}

.sale_order_full_table .paysystem_name{
	display: inline-block;
	vertical-align: middle;
	padding-left: 7px;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

/***PHONES***/
@media(max-width: 991px) {
	.bx-soa-section-title-container{
		padding: 10px 12px 11px;
	}

	.bx-soa-section-edit{
		padding-left: 12px;
	}

	.bx-soa-section-content{
		padding: 12px 11px;
	}

	/***TABLE***/
	.bx-soa-table-fade{
		margin-left: -11px;
		margin-right: -11px;
		margin-top: -12px;
	}

	.bx-soa-table-fade:before,
	.bx-soa-table-fade:after{
		content: none;
	}
	
	.bx-soa-item-tr{		
		width: 100%;
		display: table;						
		padding: 0 11px 12px;
		border-bottom: 1px solid #e3ecef;
	}

	.bx-soa-item-td,
	.bx-soa-item-tr:first-child .bx-soa-item-td{
		padding: 0;
		border: none;
	}
	
	.bx-soa-item-td.bx-soa-item-item{
		width: 100%;
		display: table-caption;	
		padding: 12px 11px !important;		
	}

	.bx-soa-item-image-container{
		width: 80px;
		vertical-align: top;
	}
	
	.bx-soa-item-image{
		width: 80px;
		height: 80px;		
	}

	.bx-soa-item-image > img{
		max-width: 80px;		
	}

	.bx-soa-item-content{		
		vertical-align: top;
		padding-left: 12px;
	}

	/***QUANTITY***/
	.bx-soa-item-quantity{
		text-align: left;
	}
	
	/***COUPON***/
	.bx-soa-table-fade + .bx-soa-item-footer{
		border: none;
	}
	
	.bx-soa-coupon-input{
		width: 100%;
	}

	.bx-soa-coupon-input input{
		width: -moz-calc(100% - 52px);
		width: -webkit-calc(100% - 52px);
		width: calc(100% - 52px);
	}

	.bx-soa-coupon-items,
	.bx-soa-coupon-item{
		width: 100%;
	}
	
	.bx-soa-coupon-item-note{
		width: auto;
	}

	.bx-soa-coupon-item-remove-container{
		width: 52px;
	}

	/***PICKUP***/
	.bx-soa-pickup-list-item{
		padding: 12px;
	}

	.bx-soa-pickup-l-item-img-container{
		padding-right: 12px;
	}

	.bx-soa-pickup-l-item-btn{
		display: table-row;
	}

	.bx-soa-pickup-l-item-btn .btn{
		margin-top: 8px;
	}

	/***SIDEBAR***/
	.bx-soa-cart-total{
		padding: 7px 10px 10px;
	}
	
	.bx-soa-cart-total.bx-soa-cart-total-fixed{
		 width: 100% !important;		 
		 position: static;
	}
    
	.bx-soa-cart-total.bx-soa-cart-total-bottom {		
		opacity: 1 !important;
	}
    
	.bx-soa-cart-total-ghost{
		display: none;
	}

	/***AUTH***/
	.bx-soa-reg-block{
		padding: 9px 12px 12px;
	}

	/***FIELDS***/
	.bx-soa .form-group{
		width: 100%;
	}
	
	.bx-soa-order-save .form-group{
		margin-top: 0;
		margin-bottom: 18px;
	}

	/***DELIVERY***/
	/***PAYMENT***/
	.bx-soa-pp,
	.bx-soa-pp-company-container{
		width: 100%;
		margin-left: 0;
	}
	
	.bx-soa-pp-company,
	.bx-soa-pp-inner-ps{
		padding: 12px;
	}

	.bx-soa-pp-company-graf-container{
		height: 42px;
	}

	.bx-soa-pp-company-image > img{
		max-width: 78px;
		max-height: 42px;
	}

	.bx-soa-pp-company-checkbox{
		left: 9px;
		top: 9px;
	}

	.bx-soa-pp-company-descr{
		right: 9px;
		top: 9px;
	}
	
	.bx-soa-pp-company-popup{
		width: auto;
		margin-left: 0;
		margin-top: 0;		
	}

	.bx-soa-pp-company-popup:after{
		content: none;
	}

	.bx-no-touch .bx-soa-pp-company-descr:hover + .bx-soa-pp-company-popup,
	.bx-touch .bx-soa-pp-company-descr:active + .bx-soa-pp-company-popup{
		left: 12px;
		right: 12px;
	}

	.bx-soa-pp-delivery-cost-container{
		height: auto;
		margin: 0;
	}

	.bx-soa-pp-delivery-cost{	
		margin-top: 11px;
	}

	.bx-soa-pp-company-smalltitle-container,
	.bx-soa-pp-company-smalltitle-block{
		height: auto;
	}

	.bx-soa-pp-company-selected-image + .bx-soa-pp-company-selected-title,
	.bx-soa-pp-company-selected-price{
		padding-left: 12px;
	}
}