/***MENU***/
.catalog-menu{
	height: 72px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	border-left: 1px solid #f1f6f7;
}

.catalog-menu > li{
	float: left;
	border-right: 1px solid #f1f6f7;
}

.catalog-menu > li > a{
	height: 72px;
	display: flex;
	align-items: center;
	padding: 0 18px;	
	text-decoration: none;
}

.bx-no-touch .catalog-menu > li:hover > a,
.bx-no-touch .catalog-menu > li.jshover > a,
.bx-touch .catalog-menu > li:active > a,
.catalog-menu > li.hover > a,
.catalog-menu > li.active > a{	
	background-color: #f1f6f7;
}

.catalog-menu-icon,
.catalog-menu-pic{	
	width: 36px;
	min-width: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 18px;
}

.catalog-menu-icon > i{
	font-size: 36px;
	color: #55686e;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .catalog-menu li:hover > a > .catalog-menu-icon > i,
.bx-no-touch .catalog-menu li.jshover > a > .catalog-menu-icon > i,
.bx-touch .catalog-menu li:active > a > .catalog-menu-icon > i,
.catalog-menu li.hover > a > .catalog-menu-icon > i,
.catalog-menu li.active > a > .catalog-menu-icon > i{
	color: #3d4b52;
}

.catalog-menu-pic{	
	height: 36px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
}

.catalog-menu-pic > img{
	width: auto;
	height: auto;
	max-width: 36px;
	max-height: 36px;
}

.catalog-menu-text{			
	color: #3d4b52;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .catalog-menu li:hover > a > .catalog-menu-text,
.bx-no-touch .catalog-menu li.jshover > a > .catalog-menu-text,
.bx-touch .catalog-menu li:active > a > .catalog-menu-text,
.catalog-menu li.hover > a > .catalog-menu-text,
.catalog-menu li.active > a > .catalog-menu-text{
	color: #6639b6;
}

.catalog-menu-text > span{
	display: block;
}

.catalog-menu li > a > i{
	margin-left: 12px;
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .catalog-menu li:hover > a > i,
.bx-no-touch .catalog-menu li.jshover > a > i,
.bx-touch .catalog-menu li:active > a > i,
.catalog-menu li.hover > a > i,
.catalog-menu li.active > a > i{
	color: #6e858a;
}

/***DROPDOWN_MENU***/
.catalog-menu > li > .catalog-menu-dropdown-menu{
	width: 100%;
	position: absolute;
	left: -100%;
	top: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 0 64px;	
	-webkit-box-shadow: inset 0 32px 32px -32px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: inset 0 32px 32px -32px rgba(61, 75, 82, 0.16);
    box-shadow: inset 0 32px 32px -32px rgba(61, 75, 82, 0.16);
	background: #f1f6f7;
}

.catalog-menu > li > .catalog-menu-dropdown-menu:after{
	width: 100%;
	height: 32px;
	position: absolute;
	left: 0;
	top: 100%;
	content: "";
	-webkit-box-shadow: inset 0 32px 32px -32px rgba(110, 133, 138, 0.24);
    -moz-box-shadow: inset 0 32px 32px -32px rgba(110, 133, 138, 0.24);
    box-shadow: inset 0 32px 32px -32px rgba(110, 133, 138, 0.24);
}

.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list{
	width: 1176px;
}

.catalog-menu-dropdown-menu ul{
	margin: 17px 0 0 52px;
	padding: 0;
	list-style: none;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list > ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -48px;
	margin-top: 0;
}

.catalog-menu-dropdown-menu ul ul ul{	
	display: none;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list > ul > li{
	width: -moz-calc(25% - 48px);
	width: -webkit-calc(25% - 48px);
	width: calc(25% - 48px);
	margin-left: 48px;
	margin-top: 38px;
}

.catalog-menu-dropdown-menu ul ul > li:not([data-entity='title']) + li{
	margin-top: 5px;
}

.catalog-menu-dropdown-menu ul > li > a{
	text-decoration: none;
	line-height: 17px;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list > ul > li > a{
	height: 38px;
	display: flex;
	align-items: center;	
	line-height: 19px;
	overflow: hidden;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list > ul > li > a > .catalog-menu-icon{
	margin-right: 16px;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list > ul > li > a > .catalog-menu-text{
	max-height: 38px;
	font-family: "Museo Sans Cyrl 700", sans-serif;
}

/***MORE_MENU***/
.catalog-menu > li.more > .catalog-menu-dropdown-menu{	
	width: auto;	
	display: block;
	left: -9999px;		
	padding: 0;
	list-style: none;
	border: 1px solid #e3ecef;
	-webkit-box-shadow: 0 0 24px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: 0 0 24px rgba(61, 75, 82, 0.16);
    box-shadow: 0 0 24px rgba(61, 75, 82, 0.16);
	background: #fff;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu > li + li{
	border-top: 1px solid #e3ecef;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu > li > a{	
	display: flex;
	align-items: center;	
	padding: 15px 16px 14px;
	color: #3d4b52;
	text-decoration: none;
}

.bx-no-touch .catalog-menu > li.more > .catalog-menu-dropdown-menu > li:hover > a,
.bx-no-touch .catalog-menu > li.more > .catalog-menu-dropdown-menu > li.jshover > a,
.bx-touch .catalog-menu > li.more > .catalog-menu-dropdown-menu > li:active > a,
.catalog-menu > li.more > .catalog-menu-dropdown-menu > li.hover > a,
.catalog-menu > li.more > .catalog-menu-dropdown-menu > li.active > a{	
	background-color: #f1f6f7;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu > li > a > i,
.catalog-menu > li.more > .catalog-menu-dropdown-menu > li > .catalog-menu-dropdown-menu{
	display: none;
}

/***PHONES***/
@media(max-width: 991px){
	.slide-menu-option-1-active{
		overflow: hidden;
	}

	/***MENU***/
	.catalog-menu{
		width: 100%;
		height: unset;
		float: none;
		position: fixed !important;
		left: -100%;
		top: 72px;
		bottom: 0;
		overflow: hidden;
		border: none;		
		background: #fff;
		z-index: 204;
	}

	.catalog-menu.active{
		left: 0;
	}

	.catalog-menu > .catalog-menu{
		width: 100% !important;
		position: static !important;
		background: none;	
	}

	.catalog-menu > li{
		float: none;
		border-right: none;
		border-bottom: 1px solid #e3ecef;
	}

	.catalog-menu > li > a{
		height: auto;
		min-height: 64px;
		padding: 13px 36px 13px 18px;	
		position: relative;
	}

	.catalog-menu-text > span{
		display: inline;
	}

	.catalog-menu-text > span:after{
		content: " ";
	}
	
	.catalog-menu > li > a > i{
		margin: 0;
		position: absolute;
		right: 16px;
	}

	.catalog-menu-count{
		padding: 0 5px;
		position: absolute;
		right: 16px;
		top: 12px;
		font-size: 11px;	
		color: #6e858a;
		line-height: 16px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		background: #d0e0e3;
	}

	/***DROPDOWN_MENU***/
	.catalog-menu-dropdown-menu,
	.catalog-menu > li > .catalog-menu-dropdown-menu{
		width: 100%;
		display: block;
		padding: 0;
		position: absolute !important;
		left: 100%;
		top: 0;
		bottom: 0;
		overflow: hidden;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: #fff;
		z-index: 202;	
	}

	.catalog-menu > li > .catalog-menu-dropdown-menu:after{
		content: none;
	}

	.catalog-menu-dropdown-menu.active,
	.catalog-menu > li > .catalog-menu-dropdown-menu.active{	
		left: 0;
	}

	.catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu{
		width: 100% !important;
		min-height: 100%;
		position: static !important;
	}

	.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list{
		width: 100%;
	}

	.catalog-menu-dropdown-menu ul{
		display: block !important;
		margin: 0 !important;
	}

	.catalog-menu-dropdown-menu ul > li[data-entity='title']{
		min-height: 64px;
		display: flex;
		align-items: center;
		padding: 13px 36px 13px 18px;
		position: relative;
		border: none;
		background: #e3ecef;
		cursor: pointer;
	}

	.catalog-menu-back{	
		font-size: 16px;
		color: #b2c7cb;
		-webkit-transition: all 0.15s ease 0s;
		-moz-transition: all 0.15s ease 0s;
		-o-transition: all 0.15s ease 0s;
		transition: all 0.15s ease 0s;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:hover .catalog-menu-back,
	.bx-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:active .catalog-menu-back{
		color: #6e858a;
	}

	.catalog-menu-title{
		padding-left: 12px;		
		-webkit-transition: all 0.15s ease 0s;
		-moz-transition: all 0.15s ease 0s;
		-o-transition: all 0.15s ease 0s;
		transition: all 0.15s ease 0s;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:hover .catalog-menu-title,
	.bx-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:active .catalog-menu-title{
		color: #6639b6;
	}

	.catalog-menu-close{	
		position: absolute;
		right: 16px;
		font-size: 16px;
		color: #8ea6ab;
		-webkit-transition: all 0.15s ease 0s;
		-moz-transition: all 0.15s ease 0s;
		-o-transition: all 0.15s ease 0s;
		transition: all 0.15s ease 0s;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:hover .catalog-menu-close,
	.bx-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:active .catalog-menu-close{
		color: #6e858a;
	}
	
	.catalog-menu-dropdown-menu ul > li{
		width: 100% !important;
		margin: 0 !important;
		border-bottom: 1px solid #e3ecef;
	}
	
	.catalog-menu-dropdown-menu ul > li > a{
		height: auto !important;
		min-height: 64px;
		display: flex;
		align-items: center;
		padding: 13px 36px 13px 18px;
		position: relative;
		overflow: unset !important;
		line-height: 19px;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li:hover > a,
	.bx-touch .catalog-menu-dropdown-menu ul > li:active > a,
	.catalog-menu-dropdown-menu ul > li.hover > a,
	.catalog-menu-dropdown-menu ul > li.active > a{	
		background-color: #f1f6f7;
	}

	.catalog-menu-dropdown-menu ul > li > a > .catalog-menu-icon{
		margin-right: 18px !important;
	}

	.catalog-menu-dropdown-menu ul > li > a > .catalog-menu-text{
		max-height: unset !important;
		font-family: "Museo Sans Cyrl 300", sans-serif !important;
	}

	.catalog-menu-dropdown-menu ul > li > a > i{
		margin: 0;
		position: absolute;
		right: 16px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***DROPDOWN_MENU***/
	.catalog-menu > li > .catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu-list{
		width: 946px;
	}
}