.spsp-tabs-container{	
	margin: -1px 0 32px 0;
	border-bottom: 1px solid #e3ecef;
}

.spsp-tabs-scroll{
	position: relative;
	top: 1px;
}

.spsp-tabs-scroll .owl-prev,
.spsp-tabs-scroll .owl-next{
	width: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 202;
	cursor: pointer;
}

.spsp-tabs-scroll .owl-prev.disabled,
.spsp-tabs-scroll .owl-next.disabled{
	display: none;
}

.spsp-tabs-scroll .owl-prev{
	left: 0;
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
}

.spsp-tabs-scroll .owl-next{
	align-items: flex-end;
	right: 0;
	text-align: right;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}

.spsp-tabs-scroll .owl-prev i,
.spsp-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .spsp-tabs-scroll .owl-prev:hover i,
.bx-touch .spsp-tabs-scroll .owl-prev:active i,
.bx-no-touch .spsp-tabs-scroll .owl-next:hover i,
.bx-touch .spsp-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.spsp-tabs{
	margin: 0;
    padding: 0;
	list-style: none;
}

.spsp-tab{
	float: left;
}

.spsp-tab-link:link,
.spsp-tab-link:visited{
    height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
    position: relative;       
    color: #3d4b52;
    text-decoration: none;    
}

.spsp-tab-link:hover{
    color: #6639b6;
}

.spsp-tab-link:after{
    content: "";
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6639b6;
}

.spsp-tab.active .spsp-tab-link:after{
    height: 2px;
}

.alert{
	margin-bottom: 5px !important;
}

/***PHONES***/
@media(max-width: 991px){
	.spsp-tabs-container{
		margin-left: -18px;
		margin-right: -18px;
		margin-top: -32px;
		border: none;
		background-color: #f1f6f7;
	}

	.spsp-tabs-scroll{
		top: 0;
	}

	.spsp-tabs-scroll .owl-prev{	
		padding-left: 18px;
		background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
	}

	.spsp-tabs-scroll .owl-next{	
		padding-right: 18px;
		background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
	}
}