/***ITEM***/
.brands-item:link,
.brands-item:visited{
	height: 166px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;
	padding: 24px 12px 18px;
	position: relative;
	text-decoration: none;
	border: 1px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
	background: #fff;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-item:hover,
.bx-touch .brands-item:active{
	-webkit-box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
}

/***ITEM_IMAGE***/
.brands-item-image{
	width: 112px;
	height: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.brands-item-image > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 75px;
}

/***ITEM_MARKERS***/
.brands-item-markers{	
	position: absolute;
	left: 12px;
	right: 12px;
	top: 12px;
	z-index: 200;
}

.brands-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.brands-item-marker-container + .brands-item-marker-container{
	margin-top: 4px;
}

.brands-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.brands-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.brands-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.brands-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.brands-item-marker-14px > i{
	font-size: 14px;
}

.brands-item-marker-24px > i{
	font-size: 24px;
}

.brands-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.brands-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.brands-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***ITEM_TITLE***/
.brands-item-title{
	width: 100%;
	margin-top: 4px;
	color: #3d4b52;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-item:hover .brands-item-title,
.bx-touch .brands-item:active .brands-item-title{
	color: #6639b6;
}

/***ITEM_TEXT***/
.brands-item-text{
	width: 100%;
	margin-top: 6px;
	font-size: 14px;
	line-height: 17px;
	color: #8ea6ab;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/***MORE***/
.brands-more{
	padding-bottom: 22px;
}

.brands-more .btn{
	width: 100%;
	height: 48px;
}

/***LINKS***/
.brands-countries-links{
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-top: 46px;
	margin-bottom: 32px;	
}

.brands-country-link{
	margin-left: 6px;
	margin-top: 6px;
	padding: 9px 16px 8px;
	white-space: nowrap;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-country-link:hover,
.bx-touch .brands-country-link:active{
	border-color: #8ea6ab;
	background: #e3ecef;
}

.brands-country-link.active,
.bx-no-touch .brands-country-link.active:hover,
.bx-touch .brands-country-link.active:active{
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

.brands-country-link > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -2px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

.brands-country-link.active > span,
.bx-no-touch .brands-country-link.active:hover > span,
.bx-touch .brands-country-link.active:active > span{
	color: #fff;
	background: #8ea6ab;
}

/***PHONES***/
@media(max-width: 991px){
	.brands-items{
		margin-left: -6px !important;
		margin-right: -6px !important;
	}

	.brands-items [class*="col-"]{
		padding-left: 6px;
		padding-right: 6px;
	}

	/***ITEM***/
	.brands-item{		
		margin-bottom: 12px;
	}

	/***MORE***/
	.brands-more{
		padding: 0;
	}

	.brands-more .btn > span{
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/***PAGINATION***/
	.brands-pagination{
		padding-top: 16px;
	}

	/***LINKS***/
	.brands-countries-links{
		margin-top: 14px;
		margin-bottom: 18px;	
	}
}