.personal-menu-wrapper,
.personal-menu{
	width: 100%;
}

.personal-menu{
	background: #e3ecef;
}

.personal-menu-cols{
	display: flex;
}

.personal-menu-col:link,
.personal-menu-col:visited{
	width: 100%;
	height: 139px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-left: 1px solid #d0e0e3;
	border-right: 1px solid #d0e0e3;	
	border-bottom: 3px solid transparent;
}

.personal-menu-col:not(:first-child){
	border-left: none;
}

.bx-no-touch .personal-menu-col:hover,
.bx-touch .personal-menu-col:active{
	background: #d0e0e3;
}

.personal-menu-col.selected{
	border-bottom: 3px solid #6639b6;
	background: #d0e0e3;
}

.personal-menu-col-block{
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.personal-menu-col-icon{
	padding-bottom: 18px;
}

.personal-menu-col-icon i{
	font-size: 37px;
	color: #6e858a;
}

.personal-menu-col-name{
	height: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.personal-menu-col-name span{
	font-size: 14px;
	color: #3d4b52;
	line-height: 17px;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .personal-menu-col:hover .personal-menu-col-name span,
.bx-touch .personal-menu-col:active .personal-menu-col-name span{
	color: #6639b6;
}

.personal-menu-col-count{
	position: absolute;
	top: 0;
	right: 0;
	margin: 12px 11px 0 0;
	padding: 0 5px;
	font-size: 11px;
	color: #8ea6ab;
	line-height: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #f1f6f7;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .personal-menu-col:hover .personal-menu-col-count,
.bx-touch .personal-menu-col:active .personal-menu-col-count{
	color: #fff;
	background: #6e858a;
}

/***PHONES***/
@media(max-width: 991px){
	.personal-menu-cols{
		margin-left: -18px;
		margin-right: -18px;
	}

	.personal-menu-col:link,
	.personal-menu-col:visited{
		height: 55px;
		border-left: none;
		border-right: none;
	}

	.personal-menu-col + .personal-menu-col{
		border-left: 1px solid #d0e0e3;
	}

	.personal-menu-col-block{
		width: auto;
	}

	.personal-menu-col-icon{
		padding-bottom: 0;
	}

	.personal-menu-col-icon i{
		font-size: 24px;
	}

	.personal-menu-col-count{
		position: static;
		margin: -15px 0 0 -5px;
	}
}