.bx-catalog-element{
	margin-top: -40px;
}

/***TABS***/
.product-item-detail-tabs-container{	
	width: 100vw;
	margin-left: -moz-calc((100vw - 100%) / -2);
	margin-left: -webkit-calc((100vw  - 100%) / -2);
	margin-left: calc((100vw - 100%) / -2);
	background: #f1f6f7;
}

.slide-menu-option-1-active .product-item-detail-tabs-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
	margin-left: -moz-calc((100vw - 278px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 278px - 100%) / -2);
	margin-left: calc((100vw - 278px - 100%) / -2);
}

.slide-menu-option-2 .product-item-detail-tabs-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
	margin-left: -moz-calc((100vw - 72px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 72px - 100%) / -2);
	margin-left: calc((100vw - 72px - 100%) / -2);
}

.page-container .product-item-detail-tabs-container,
.slide-menu-option-1-active .page-container .product-item-detail-tabs-container,
.slide-menu-option-2 .page-container .product-item-detail-tabs-container{
	width: auto;
	margin-left: -61px;
	margin-right: -61px;
}

.product-item-detail-tabs-block.fixed{		
	position: fixed;
	left: 0;
	right: 0;	
	-webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	background-color: #f1f6f7;
	z-index: 203;
}

.slide-menu-option-1-active .product-item-detail-tabs-block.fixed{
	left: 278px;
}

.slide-menu-option-2 .product-item-detail-tabs-block.fixed{
	left: 72px;
}

.product-item-detail-tabs-scroll{	
	width: 1176px;
	margin-left: auto;
	margin-right: auto;	
	position: relative;		
}

.product-item-detail-tabs-scroll .owl-prev,
.product-item-detail-tabs-scroll .owl-next{
	width: 64px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
	cursor: pointer;
}

.product-item-detail-tabs-block.fixed .product-item-detail-tabs-scroll .owl-prev,
.product-item-detail-tabs-block.fixed .product-item-detail-tabs-scroll .owl-next{	
	z-index: 202;	
}

.product-item-detail-tabs-scroll .owl-prev.disabled,
.product-item-detail-tabs-scroll .owl-next.disabled{
	display: none;
}

.product-item-detail-tabs-scroll .owl-prev{
	left: 0;
	background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
}

.product-item-detail-tabs-scroll .owl-next{
	align-items: flex-end;
	right: 0;	
	background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
}

.product-item-detail-tabs-scroll .owl-prev i,
.product-item-detail-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-tabs-scroll .owl-prev:hover i,
.bx-touch .product-item-detail-tabs-scroll .owl-prev:active i,
.bx-no-touch .product-item-detail-tabs-scroll .owl-next:hover i,
.bx-touch .product-item-detail-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.product-item-detail-tabs-list{	
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.product-item-detail-tabs-list:after{	
	display: table;
	clear: both;
	content: "";
}

.product-item-detail-tab{
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
	position: relative;	
	color: #3d4b52;		
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-tab:hover,
.bx-touch .product-item-detail-tab:active{
	color: #6639b6;
}

.product-item-detail-tab:after{	
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #6639b6;
}

.product-item-detail-tab.active:after{
	height: 2px;
}

.product-item-detail-tab > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

.product-item-detail-tabs-content{
	margin-top: 40px;
}

.product-item-detail-tab-content{
	margin-top: 46px;
}

/***SLIDER***/
.product-item-detail-slider-container{
	max-width: 100%;
	position: relative;
	background: transparent;
	-webkit-transition: background 800ms ease;
	-moz-transition: background 800ms ease;
	-ms-transition: background 800ms ease;
	-o-transition: background 800ms ease;
	transition: background 800ms ease;
}

.product-item-detail-slider-block{
	height: 370px;
	position: relative;
}

.product-item-detail-slider-videos-images-container{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.product-item-detail-slider-image,
.product-item-detail-slider-video{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;		
	opacity: 0;
	-webkit-transition: opacity 250ms linear;
	-moz-transition: opacity 250ms linear;
	-ms-transition: opacity 250ms linear;
	-o-transition: opacity 250ms linear;
	transition: opacity 250ms linear;
}

.product-item-detail-slider-image.active,
.product-item-detail-slider-video.active{
	opacity: 1;
	z-index: 10;
}

.product-item-detail-slider-image > img,
.product-item-detail-slider-video > iframe{
	max-width: 100%;
	max-height: 100%;
}

.product-item-detail-slider-image > img{
	width: auto;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	-moz-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	-ms-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	-o-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;	
}

.product-item-detail-slider-video > iframe:-webkit-full-screen{
	-webkit-transform: none;
}

.product-item-detail-slider-video > iframe:-moz-full-screen{
	-moz-transform: none;
}

.product-item-detail-slider-video > iframe:-ms-fullscreen{
	-ms-transform: none;
}

.product-item-detail-slider-video > iframe:fullscreen{
	transform: none;
}

.product-item-detail-slider-progress-bar{
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #6639b6;
	z-index: 180;
}

/***SLIDER_CONTROLS***/
.product-item-detail-slider-controls-block{
	float: left;	
	margin-left: -24px;
}

.product-item-detail-slider-controls-image,
.product-item-detail-slider-controls-video{
	width: 80px;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: left;
	margin-left: 24px;
	margin-top: 24px;
	position: relative;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;				
	overflow: hidden;
	cursor: pointer;
}

.bx-no-touch .product-item-detail-slider-controls-image:hover,
.bx-touch .product-item-detail-slider-controls-image:active,
.bx-no-touch .product-item-detail-slider-controls-video:hover,
.bx-touch .product-item-detail-slider-controls-video:active{
	border: 2px solid #78909c;
}

.product-item-detail-slider-controls-image.active,
.product-item-detail-slider-controls-video.active{
	border: 2px solid #6639b6;
}

.product-item-detail-slider-controls-image > img,
.product-item-detail-slider-controls-video-image{
	width: auto;
	height: auto;
	max-width: 80px;
	max-height: 80px;
	position: absolute;
}

.product-item-detail-slider-controls-video-image{
	width: 80px;
	height: 80px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.product-item-detail-slider-controls-video-play{
	width: 42px;
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
}

.product-item-detail-slider-controls-video-play > i{
	font-size: 14px;
	color: #fff;
}

.product-item-detail-slider-left,
.product-item-detail-slider-right{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 24px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 111;
	cursor: pointer;
}

.product-item-detail-slider-left{
	left: 0;
}

.product-item-detail-slider-right{
	right: 0;
}

.product-item-detail-slider-left > i,
.product-item-detail-slider-right > i{
	font-size: 36px;
	color: #b2c7cb;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;	
}

.bx-no-touch .product-item-detail-slider-left:hover > i,
.bx-touch .product-item-detail-slider-left:active > i,
.bx-no-touch .product-item-detail-slider-right:hover > i,
.bx-touch .product-item-detail-slider-right:active > i{
	color: #6639b6;
}

.product-item-detail-slider-close{
	display: none;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-close{
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 150;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.product-item-detail-slider-container.full.popup .product-item-detail-slider-close{
	right: 120px;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-close > i{
	font-size: 16px;
	color: #8ea6ab;
}

.bx-no-touch .product-item-detail-slider-container.popup .product-item-detail-slider-close:hover > i,
.bx-touch .product-item-detail-slider-container.popup .product-item-detail-slider-close:active > i{
	color: #6639b6;
}

/***MAGNIFIED***/
.product-item-detail-slider-container.magnified .product-item-detail-slider-image{
	z-index: 100;
}

.product-item-detail-slider-container.magnified .product-item-detail-slider-left,
.product-item-detail-slider-container.magnified .product-item-detail-slider-right,
.product-item-detail-slider-container.magnified .product-item-detail-markers,
.product-item-detail-slider-container.magnified .product-item-detail-brand{
	z-index: 50;
}

.product-item-detail-slider-container.magnified .product-item-detail-markers,
.product-item-detail-slider-container.magnified .product-item-detail-brand{
	opacity: 0;
}

/***POPUP***/
.product-item-detail-slider-container.popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
	animation-name: imgPopupShow;
	animation-duration: 300ms;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-block{
	height: 100%;
}

.product-item-detail-slider-container.full.popup .product-item-detail-slider-right,
.product-item-detail-slider-container.full.popup .product-item-detail-slider-videos-images-container{
	right: 120px;
}

@keyframes imgPopupShow{
	from{
		opacity: 0;
	}
	
	to{
		opacity: 1;
	}
}

.product-item-detail-slider-container.popup .product-item-detail-slider-controls-block{	
	width: 120px;
	margin: 0;
	padding: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border-left: 1px solid #d3d3d3;
	background-color: #fff;	
	overflow-y: auto;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-controls-image,
.product-item-detail-slider-container.popup .product-item-detail-slider-controls-video{
	float: none;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 24px;
}

.product-item-detail-slider-container.popup .product-item-detail-markers,
.product-item-detail-slider-container.popup .product-item-detail-icons-container,
.product-item-detail-slider-container.popup .product-item-detail-brand{
	display: none;
}

/***MARKERS***/
.product-item-detail-markers{
	position: absolute;
	left: -4px;
	top: 12px;
	z-index: 190;
}

.product-item-detail-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.product-item-detail-marker-container-hidden{
	display: none;
}

.product-item-detail-marker-container:not(.product-item-detail-marker-container-hidden) + .product-item-detail-marker-container{
	margin-top: 4px;
}

.product-item-detail-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.product-item-detail-marker-discount{
	background: #d3115a;	
}

.product-item-detail-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.product-item-detail-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.product-item-detail-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.product-item-detail-marker-14px > i{
	font-size: 14px;
}

.product-item-detail-marker-24px > i{
	font-size: 24px;
}

.product-item-detail-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-item-detail-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.product-item-detail-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***MAGNIFIER_DELAY***/
.product-item-detail-icons-container{
	display: table;
	padding: 4px 5px;
	position: absolute;
	right: 12px;
	top: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
	z-index: 190;
}

.product-item-detail-magnifier,
.product-item-detail-delay,
.product-item-detail-delayed{	
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px;
}

.product-item-detail-magnifier i,
.product-item-detail-delay i,
.product-item-detail-delayed i{
	font-size: 24px;
	color: #e3ecef;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
	cursor: pointer;
}

.bx-no-touch .product-item-detail-magnifier i:hover,
.bx-touch .product-item-detail-magnifier i:active,
.bx-no-touch .product-item-detail-delay i:hover,
.bx-touch .product-item-detail-delay i:active{
	color: #b2c7cb;
}

.product-item-detail-delayed i{	
	color: #ffd200;
}

/***BRAND***/
.product-item-detail-brand{
	width: 90px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: absolute;
	left: -4px;
	bottom: 0;
	z-index: 190;
}

.product-item-detail-brand > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 40px;
}

/***ARTICLE***/
.product-item-detail-article{	
	color: #78909c;	
}

/***RATING***/
.product-item-detail-rating{
	display: flex;
	align-items: center;
	margin-top: 6px;
}

.product-item-detail-rating-val{
	margin-right: 6px;
	padding: 4px 8px 3px;
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 17px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #008d55;
}

.product-item-detail-rating-val[data-rate="1"]{
	background: #d03913;
}

.product-item-detail-rating-val[data-rate="2"]{
	background: #ca6c00;
}

.product-item-detail-rating-val[data-rate="3"]{
	background: #a58900;
}

.product-item-detail-rating-val[data-rate="4"]{
	background: #568d00;
}

.product-item-detail-rating-reviews-count{
	font-size: 14px;
	color: #78909c;
	line-height: 17px;
}

/***PREVIEW***/
.product-item-detail-preview{
	margin-top: 18px;	
}

/***PROPERTIES***/
.product-item-detail-main-properties-container{
	margin-top: 22px;
}

.product-item-detail-properties-block{
	width: 100%;
	display: table;
}

.product-item-detail-properties{	
	display: table-row;
}

.product-item-detail-properties:nth-child(odd){
	background-color: #f1f6f7;
}

.product-item-detail-properties-name,
.product-item-detail-properties-val{
	display: table-cell;
	vertical-align:middle;
	padding: 8px 16px;
}

.product-item-detail-properties-name{
	padding-right: 8px;
}

.product-item-detail-properties-val{
	padding-left: 8px;
	font-family: "Museo Sans Cyrl 700", sans-serif;	
}

/***ADVANTAGES***/
.product-item-detail-advantages{
	display: table;
	margin-left: -12px;
	margin-top: 12px;
}

.product-item-detail-advantages-item{
	float: left;
	margin-left: 12px;
	margin-top: 12px;
	position: relative;
	cursor: pointer;
}

.product-item-detail-advantages-item-pic{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product-item-detail-advantages-item-tooltip{
    width: 162px;
	margin: 0 0 10px -81px;
	padding: 7px 12px 9px;
	position: absolute;
	left: -9999px;
	bottom: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 17px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #000;
	opacity: 0;	
	-moz-transform: translate3d(0px, -10px, 0px);
	-o-transform: translate3d(0px, -10px, 0px);
	-webkit-transform: translate3d(0px, -10px, 0px);
	transform: translate3d(0px, -10px, 0px);
	-webkit-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	z-index: 200;
}

.product-item-detail-advantages-item-tooltip:after{
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -6px;
	content: "";
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000;
}

.bx-no-touch .product-item-detail-advantages-item:hover .product-item-detail-advantages-item-tooltip,
.bx-touch .product-item-detail-advantages-item:active .product-item-detail-advantages-item-tooltip{
	left: 50%;
	opacity: 0.85;
	-moz-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	-o-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

/***PAY_BLOCK***/
.product-item-detail-pay-block{
	padding: 24px;
	top: 0;
	overflow: hidden;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 9px 24px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 9px 24px rgba(61, 75, 82, 0.16);
	box-shadow: 0 9px 24px rgba(61, 75, 82, 0.16);
	background: #fff;
	-moz-transform: translateX(10px);
	-o-transform: translateX(10px);
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
	-webkit-transition: opacity 0.3s ease 0s, top 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s, top 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s, top 0.3s ease 0s;
	transition: opacity 0.3s ease 0s, top 0.3s ease 0s;
}

.product-item-detail-pay-block-fixed{
	position: fixed;
	z-index: 202;
}

.product-item-detail-pay-block-fixed.product-item-detail-pay-block-hidden{
	opacity: 0;
	z-index: 0;
}

.product-item-detail-info-container{
}

.product-item-detail-info-container[data-entity='price-ranges-block']{
	margin-top: 18px;
}

/***SHORT_CARD***/
.product-item-detail-short-card{
	display: none;
	align-items: center;
	margin-bottom: 18px;
}

.product-item-detail-pay-block-fixed .product-item-detail-short-card{
	display: flex;
}

.product-item-detail-short-card-image{
	width: 50px;
	min-width: 50px;
	height: 50px;
	align-self: flex-start;
	margin-right: 12px;
}

.product-item-detail-short-card-image > img{
	width: auto;
	max-width: 50px;
	height: auto;
	max-height: 50px;
}

.product-item-detail-short-card-title{
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

/***PRICE***/
.product-item-detail-price-current{
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 30px;
	color: #000;
	line-height: 36px;
}

.product-item-detail-price-not-set{
	color: #78909c;
}

.product-item-detail-price-measure{
	color: #263238;
}

.product-item-detail-price-old{	
	font-size: 14px;
	color: #78909c;	
	text-decoration: line-through;
	line-height: 17px;
}

.product-item-detail-price-economy{
	font-size: 14px;
	color: #6639b6;
	line-height: 17px;
}

/***QUANTITY_LIMIT***/
.product-item-detail-quantity{
	display: table;
	margin-top: 6px;
}

.product-item-detail-quantity-icon,
.product-item-detail-quantity-val{
	display: table-cell;
	vertical-align: middle;
	line-height: 19px;
}

.product-item-detail-quantity-icon{
	font-size: 16px;
	color: #008D55;
}

.product-item-detail-quantity-not-avl .product-item-detail-quantity-icon{
	color: #b2c7cb;
}

.product-item-detail-quantity-val{
	padding-left: 6px;	
	color: #78909C;	
}

/***SCU***/
.product-item-detail-scu-container [data-entity="sku-line-block"]{
	margin-top: 12px;
}

.product-item-detail-scu-title{	
	color: #263238;
}

.product-item-detail-scu-block{	
	margin-top: 2px;
}

.product-item-detail-scu-list{
}

.product-item-detail-scu-item-list{	
	margin: 0 0 0 -6px;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

/***SCU_PICT***/
.product-item-detail-scu-item-color,
.product-item-detail-scu-item-text{
	float: left;
	margin-left: 6px;
	margin-top: 6px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.product-item-detail-scu-item-color{
	width: 36px;
	height: 36px;
	position: relative;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.product-item-detail-scu-item-color.notallowed{
	background-color: #f1f6f7 !important;
}

.product-item-detail-scu-item-color:before,
.product-item-detail-scu-item-color:after{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.product-item-detail-scu-item-color:before{	
	content: none;
	border: 4px solid transparent;	
}

.bx-no-touch .product-item-detail-scu-item-color:hover:before,
.bx-touch .product-item-detail-scu-item-color:active:before,
.product-item-detail-scu-item-color.selected:before{
	content: "";
	border-color: #fff;
}

.product-item-detail-scu-item-color:after{	
	content: "";
	border: 2px solid #e3ecef;	
}

.bx-no-touch .product-item-detail-scu-item-color:hover:after,
.bx-touch .product-item-detail-scu-item-color:active:after{
	border-color: #78909c;
}

.product-item-detail-scu-item-color.selected:after,
.bx-no-touch .product-item-detail-scu-item-color.selected:hover:after,
.bx-touch .product-item-detail-scu-item-color.selected:active:after{
	border-color: #6639b6;
}

/***SCU_TEXT***/
.product-item-detail-scu-item-text{
	padding: 8px 15px 7px;	
	color: #263238;	
	border: 2px solid #e3ecef;
}

.product-item-detail-scu-item-text.notallowed{	
    color: #d0e0e3;
	border-color: transparent;
	background: #f1f6f7;
}

.bx-no-touch .product-item-detail-scu-item-text:hover,
.bx-touch .product-item-detail-scu-item-text:active{
	color: #263238;
	border-color: #78909c;
	background: #e3ecef;
}

.product-item-detail-scu-item-text.selected,
.bx-no-touch .product-item-detail-scu-item-text.selected:hover,
.bx-touch .product-item-detail-scu-item-text.selected:active{
	color: #263238;
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

/***BASKET_PROPS***/
.product-item-detail-basket-props-container{
	margin-top: 12px;
}

.product-item-detail-basket-props-title{
	font-size: 14px;
	color: #55686e;
	line-height: 17px;
}

.product-item-detail-basket-props-block{
	margin-top: 8px;
}

.product-item-detail-basket-props-input-radio{
	display: table;
	margin: 0 auto;
}

.product-item-detail-basket-props-input-radio label {
	min-height: auto;
	display: table;
	padding: 0;
	font-weight: 300;
	cursor: pointer;
}

.product-item-detail-basket-props-input-radio label:last-child {
	margin: 0;
}

.product-item-detail-basket-props-input-radio label input[type="radio"]{
	display: none;
}

.product-item-detail-basket-props-input-radio label .check-container{
	display: table-cell;
	vertical-align: middle;
}

.product-item-detail-basket-props-input-radio label .check{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
	background-color: #d0e0e3;
}

.bx-no-touch .product-item-detail-basket-props-input-radio label:hover .check,
.bx-touch .product-item-detail-basket-props-input-radio label:active .check{
	background-color: #78909c;
}

.product-item-detail-basket-props-input-radio label.disabled .check{
	background-color: #d0e0e3;
}

.product-item-detail-basket-props-input-radio label input[type=radio]:checked + .check-container .check{
	background-color: #6639b6;
}

.product-item-detail-basket-props-input-radio label .check i{
	display: none;
	font-size: 12px;
	color: #fff;
}

.product-item-detail-basket-props-input-radio label input[type=radio]:checked + .check-container .check i{
	display: inline-block;
}

.product-item-detail-basket-props-input-radio label .text{	
	display: table-cell;
	vertical-align: middle;
	padding-left: 9px;
	font-size: 14px;
	color: #55686e;
	line-height: 17px;
}

.product-item-detail-basket-props-input-radio label.disabled .text{
	color: #78909c;
}

.product-item-detail-basket-props-input-radio label .text > span{
	margin-left: 3px;
	padding: 0 5px;
	font-size: 11px;
	color: #78909c;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #e3ecef;
}

.product-item-detail-basket-props-input-radio label.disabled .text > span{
	color: #d0e0e3;
	background-color: #f1f6f7;
}

/***QUANTITY***/
.product-item-detail-amount{	
	display: table;
	margin-top: 24px;
}

.product-item-detail-amount-btn-minus,
.product-item-detail-amount-input,
.product-item-detail-amount-btn-plus,
.product-item-detail-amount-measure{
	display: table-cell;
	vertical-align: middle;
}

.product-item-detail-amount-btn-minus:link,
.product-item-detail-amount-btn-minus:visited,
.product-item-detail-amount-btn-plus:link,
.product-item-detail-amount-btn-plus:visited{
	width: 36px;
	height: 36px;
	color: #78909c;
	text-align: center;
	text-decoration: none;
	background-color: #f1f6f7;
}

.product-item-detail-amount-btn-minus{
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.product-item-detail-amount-btn-plus{
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-khtml-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.bx-no-touch .product-item-detail-amount-btn-minus:not(.product-item-detail-amount-btn-disabled):hover,
.bx-touch .product-item-detail-amount-btn-minus:not(.product-item-detail-amount-btn-disabled):active,
.bx-no-touch .product-item-detail-amount-btn-plus:not(.product-item-detail-amount-btn-disabled):hover,
.bx-touch .product-item-detail-amount-btn-plus:not(.product-item-detail-amount-btn-disabled):active{
	color: #6639b6;
	background-color: #e3ecef;
}

.product-item-detail-amount-btn-disabled:link,
.product-item-detail-amount-btn-disabled:visited{	
	color: #d0e0e3;
	cursor: default;
}

.product-item-detail-amount-input{	
	width: 48px;	
	height: 36px;	
	padding: 0;
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 16px;	
	color: #263238;
	text-align: center;
	line-height: 19px;
	border: none;
	-webkit-appearance: none;
	background: #f1f6f7;
}

.product-item-detail-amount-input:focus{
	outline: none;
}

.product-item-detail-amount-measure{		
	padding-left: 12px;	
	color: #263238;
	white-space: nowrap;
}

/***TOTAL_COST***/
.product-item-detail-total-cost{
	margin-top: 18px;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

.product-item-detail-total-cost > span{
	margin-left: 6px;
	font-family: "Museo Sans Cyrl 700", sans-serif;
	color: #263238;
}

/***BUTTON***/
.product-item-detail-button-container{
	margin-top: 6px;
}

.product-item-detail-button-container button{
	width: 100%;
	margin-top: 12px;
}

.product-item-detail-button-container .btn-buy,
.product-item-detail-button-container .btn-buy-ok{
	height: 48px;
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.product-item-detail-info-message{
	margin-top: 18px;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

/***COMPARE***/
.product-item-detail-compare{
	margin-top: 18px;
}

.product-item-detail-compare label{
	display: flex;
	margin: 0;
	font-weight: 300;
	cursor: pointer;
}

.product-item-detail-compare input[type="checkbox"]{
	display: none;
}

.product-item-detail-compare-checkbox{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #e3ecef;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-compare label:hover .product-item-detail-compare-checkbox,
.bx-touch .product-item-detail-compare label:active .product-item-detail-compare-checkbox{
	background: #78909c;
}

.product-item-detail-compare input[type="checkbox"]:checked ~ .product-item-detail-compare-checkbox{
	background: #6639b6;
}

.product-item-detail-compare-checkbox > i{
	display: none;
	font-size: 12px;
	color: #fff;
}

.product-item-detail-compare input[type="checkbox"]:checked ~ .product-item-detail-compare-checkbox > i{
	display: inline-block;
}

.product-item-detail-compare-title{
	margin-left: 9px;
	color: #78909C;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-compare label:hover .product-item-detail-compare-title,
.bx-touch .product-item-detail-compare label:active .product-item-detail-compare-title,
.product-item-detail-compare input[type="checkbox"]:checked ~ .product-item-detail-compare-title{
	color: #263238;
}

/***QUICK_ORDER***/
.product-item-detail-quick-order{
	margin: 24px -24px -24px;
	padding: 0 24px 12px;
	text-align: left;	
	background-color: #f1f6f7;
}

.product-item-detail-pay-block-fixed .product-item-detail-quick-order{
	display: none;
}

/***OBJECT***/
.product-item-detail-object-container{
	position: relative;
}

.product-item-detail-object:link,
.product-item-detail-object:visited{
	display: block;
	margin-top: 32px;
	padding: 24px 35px 18px;	
	text-decoration: none;
	border: 1px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.product-item-detail-object-image{
	height: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product-item-detail-object-image > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 56px;
}

.product-item-detail-object-text{
	display: block;
	margin-top: 24px;
	font-size: 14px;
	line-height: 17px;
	color: #78909c;
	text-align: center;
}

.product-item-detail-object-contacts{
	position: absolute;
	right: -28px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.product-item-detail-object-btn{
	width: 56px;
	height: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: relative;
	border: none;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	-webkit-box-shadow: 0 3px 12px rgba(61, 75, 82, 0.24);
    -moz-box-shadow: 0 3px 12px rgba(61, 75, 82, 0.24);
    box-shadow: 0 3px 12px rgba(61, 75, 82, 0.24);
	background: #008d55;
	background: -moz-linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
	background: -webkit-linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
	background: linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008d55', endColorstr='#91cd4c', GradientType=1);
}

.product-item-detail-object-btn:after{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	content: "";
	background: #6639b6;
	opacity: 0;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-object-btn:hover:after,
.bx-touch .product-item-detail-object-btn:active:after{
	opacity: 1;
}

.product-item-detail-object-btn:focus{
	outline: none;
}

.product-item-detail-object-btn > i{
	font-size: 24px;
	color: #fff;
	z-index: 200;
}

/***SET_CONSTRUCTOR***/
.product-item-detail-set-constructor{
	margin-top: 46px;
}

/***SET_ITEMS***/
.product-item-detail-set-items{
	margin-top: 46px;
}

.product-item-detail-set-item-row + .product-item-detail-set-item-row{
	margin-top: 24px;
}

.product-item-detail-set-item:link,
.product-item-detail-set-item:visited{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 24px;
	text-decoration: none;
	border: 1px solid #e8edef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-set-item:hover,
.bx-touch .product-item-detail-set-item:active{
	-webkit-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	-moz-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
}

.product-item-detail-set-item-image{
	width: 100%;
	height: 222px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.product-item-detail-set-item-image > img{
	width: auto;
	height: auto;
	max-width: 222px;
	max-height: 222px;
}

.product-item-detail-set-item-brand{
	width: 90px;
	height: 40px;
	display: flex;
	flex-direction: column;	
	justify-content: flex-end;
	position: absolute;
	left: 0;
	bottom: 0;
}

.product-item-detail-set-item-brand > img{
	width: auto;	
	height: auto;
	max-width: 100%;
	max-height: 40px;
}

.product-item-detail-set-item-title{
	height: 38px;
	margin-top: 18px;
	color: #263238;
	overflow: hidden;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-set-item:hover .product-item-detail-set-item-title,
.bx-touch .product-item-detail-set-item:active .product-item-detail-set-item-title{
	color: #6639b6;
}

.product-item-detail-set-item-quantity{
	margin-top: 12px;
	color: #263238;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/***GIFTS***/
.product-item-detail-gifts{
	margin-top: 46px;
}

/***DESCRIPTION***/
.product-item-detail-description{
	padding-top: 46px;
}

/***FILES_DOCS***/
.product-item-detail-files-docs{
	margin-top: 14px;
}

.product-item-detail-files-docs .col-md-3{
	float: none;
	display: inline-block;
	vertical-align: top;
}

.product-item-detail-files-docs-item:link,
.product-item-detail-files-docs-item:visited{
	display: table;
	margin-bottom: 20px;
	text-decoration: none;
}

.product-item-detail-files-docs-icon,
.product-item-detail-files-docs-block{
	display: table-cell;
	vertical-align: top;	
}

.product-item-detail-files-docs-icon{
	padding-right: 18px;
}

.product-item-detail-files-docs-icon i{
	font-size: 53px;
	color: #78909c;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-files-docs-item:hover .product-item-detail-files-docs-icon i,
.bx-touch .product-item-detail-files-docs-item:active .product-item-detail-files-docs-icon i{
	color: #6639b6;
}

.product-item-detail-files-docs-name{
	display: block;
	margin-top: 6px;	
	color: #3d4b52;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-files-docs-item:hover .product-item-detail-files-docs-name,
.bx-touch .product-item-detail-files-docs-item:active .product-item-detail-files-docs-name{
	color: #6639b6;	
}

.product-item-detail-files-docs-size{
	display: block;
	margin-top: 3px;
	font-size: 14px;
	color: #78909c;
	line-height: 17px;
}

/***SECTIONS_MORE_PRODUCTS***/
.product-item-detail-more-products-sections-links{
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-bottom: 32px;	
}

.product-item-detail-more-products-section-link{
	margin-left: 6px;
	margin-top: 6px;
	padding: 9px 16px 8px;
	white-space: nowrap;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-detail-more-products-section-link:hover,
.bx-touch .product-item-detail-more-products-section-link:active{
	border-color: #8ea6ab;
	background: #e3ecef;
}

.product-item-detail-more-products-section-link.active,
.bx-no-touch .product-item-detail-more-products-section-link.active:hover,
.bx-touch .product-item-detail-more-products-section-link.active:active{
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

.product-item-detail-more-products-section-link > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -2px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

.product-item-detail-more-products-section-link.active > span,
.bx-no-touch .product-item-detail-more-products-section-link.active:hover > span,
.bx-touch .product-item-detail-more-products-section-link.active:active > span{
	color: #fff;
	background: #8ea6ab;
}

/***REVIEWS***/
.product-item-detail-reviews{
	margin-top: 14px;
}

/***RELATED***/
.product-item-detail-related{
	margin-top: 46px;
}

/***PHONES***/
@media(max-width: 991px){
	.bx-catalog-element{
		margin-top: -32px;
	}

	/***TABS***/
	.product-item-detail-tabs-container,	
	.slide-menu-option-1-active .product-item-detail-tabs-container,
	.slide-menu-option-2 .product-item-detail-tabs-container,
	.page-container .product-item-detail-tabs-container,	
	.slide-menu-option-1-active .page-container .product-item-detail-tabs-container,
	.slide-menu-option-2 .page-container .product-item-detail-tabs-container{
		width: unset;
		margin: 0 -18px;
	}

	.slide-menu-option-2 .product-item-detail-tabs-block.fixed,
	.slide-menu-option-1-active .product-item-detail-tabs-block.fixed{
		left: 0;
	}

	.product-item-detail-tabs-scroll{
		width: unset;
		margin: 0;
	}

	.product-item-detail-tabs-scroll .owl-prev{
		padding-left: 18px;
	}
	
	.product-item-detail-tabs-scroll .owl-next{
		padding-right: 18px;
	}

	.product-item-detail-tabs-content{
		margin-top: 18px;
	}
	
	.product-item-detail-tab-content{
		margin-top: 14px;
	}
	
	/***SLIDER_CONTROLS***/
	.product-item-detail-slider-controls-block{		
		margin-left: -18px;
	}

	.product-item-detail-slider-controls-image,
	.product-item-detail-slider-controls-video{		
		margin-left: 18px;
		margin-top: 18px;
	}

	.product-item-detail-slider-container.full.popup .product-item-detail-slider-close{
		right: 0;
	}

	/***POPUP***/
	.product-item-detail-slider-container.full.popup .product-item-detail-slider-right,
	.product-item-detail-slider-container.full.popup .product-item-detail-slider-videos-images-container{
		right: 0;
	}

	.product-item-detail-slider-container.popup .product-item-detail-slider-controls-image,
	.product-item-detail-slider-container.popup .product-item-detail-slider-controls-video{
		margin-bottom: 18px;
	}

	/***PAY_BLOCK***/
	.product-item-detail-pay-block{
		margin: 18px -18px 0;
		padding: 18px;		
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;		
		-moz-transform: unset;
		-o-transform: unset;
		-webkit-transform: unset;
		transform: unset;
		-webkit-transition: unset;
		-moz-transition: unset;
		-o-transition: unset;
		transition: unset;
	}

	.product-item-detail-info-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/***QUICK_ORDER***/
	.product-item-detail-quick-order{
		margin: 18px -18px -18px;
		padding-left: 18px;
		padding-right: 18px;
	}

	/***OBJECT***/
	.product-item-detail-object:link,
	.product-item-detail-object:visited{	
		margin-top: 18px;
	}

	.product-item-detail-object-contacts{
		right: 12px;
		top: 12px;
		-webkit-transform: unset;
		-moz-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset;
	}
	
	/***ARTICLE***/
	/***PROPERTIES***/
	.product-item-detail-article,
	.product-item-detail-main-properties-container{	
		margin-top: 18px;
	}
	
	/***ADVANTAGES***/
	.product-item-detail-advantages{
		margin-top: 6px;
	}

	.product-item-detail-advantages-item{
		cursor: default;
	}

	/***SET_CONSTRUCTOR***/
	.product-item-detail-set-constructor{
		margin-top: 14px;
	}

	/***SET_ITEMS***/
	.product-item-detail-set-items{
		margin-top: 14px;
	}

	.product-item-detail-set-item-row + .product-item-detail-set-item-row{
		margin-top: 0;
	}

	.product-item-detail-set-item:link,
	.product-item-detail-set-item:visited{
		width: -moz-calc(100% + 36px);
		width: -webkit-calc(100% + 36px);
		width: calc(100% + 36px);
		display: table;
		margin-left: -18px;
		margin-right: -18px;
		padding: 18px;		
		border-left: none;
		border-right: none;
		border-top: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}

	.bx-no-touch .product-item-detail-set-item:hover,
	.bx-touch .product-item-detail-set-item:active{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.product-item-detail-set-item-image{
		width: 100px;
		height: auto;
		display: table-cell;
		vertical-align: top;
		padding-right: 12px;
	}
	
	.product-item-detail-set-item-image > img{
		max-width: 100px;
		max-height: 100px;
	}

	.product-item-detail-set-item-brand{
		display: none;
	}
	
	.product-item-detail-set-item-title{
		width: 100%;
		height: auto;
		float: left;
		margin-top: 9px;
		overflow: visible;
	}
	
	.product-item-detail-set-item-quantity{
		width: 100%;
		float: left;
		text-overflow: unset;
		white-space: normal;
		overflow: visible;
	}

	/***GIFTS***/
	.product-item-detail-gifts{
		margin-top: 14px;
	}
	
	/***DESCRIPTION***/
	.product-item-detail-description{
		padding-top: 14px;
	}

	/***RELATED***/
	.product-item-detail-related{
		margin-top: 14px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***TABS***/
	.page-container .product-item-detail-tabs-container,
	.slide-menu-option-1-active .page-container .product-item-detail-tabs-container,
	.slide-menu-option-2 .page-container .product-item-detail-tabs-container{
		margin-left: -23px;
		margin-right: -23px;
	}

	.product-item-detail-tabs-scroll{
		width: 946px;
	}

	/***PRICE***/
	.product-item-detail-price-current{
		font-size: 24px;
		line-height: 29px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1042px){
	/***TABS***/
	.slide-menu-option-2 .product-item-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}
	
	.slide-menu-option-2 .product-item-detail-tabs-block.fixed{
		left: 0;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1499px){
	/***TABS***/
	.slide-menu-option-1-active .product-item-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}

	.slide-menu-option-1-active .product-item-detail-tabs-block.fixed{
		left: 0;
	}
}

.icons-block {
	padding-top:20px;
	clear:both;
}

.product-item-article {
	font-size: 14px;
	color: #78909c;
	line-height: 17px;
	padding-top: 16px;
}

.product-item-detail-methods {margin-top: 24px;}
.product-item-detail-pay-block-fixed .product-item-detail-methods{display:none}
.product-item-detail-method{display:flex;align-items:center;padding:9px 0px 11px;border-top:1px solid #e3ecef}
.product-item-detail-method>i{padding-right:18px;font-size:24px;color:#78909c}
.product-item-detail-method>span{font-size:14px;color:#3d4b52;line-height:17px}
.product-item-detail-quick-order{margin:24px -24px -24px;padding:0 24px 12px;text-align:left;background-color:#f1f6f7}
.product-item-detail-methods+.product-item-detail-quick-order{margin-top:0}

.product-item-detail-price-current {
	font-size: 28px;
}