.brands-detail{
	margin-top: -40px;
}

/***TABS***/
.brands-detail-tabs-container{
	width: 100vw;
	margin-left: -moz-calc((100vw - 100%) / -2);
	margin-left: -webkit-calc((100vw  - 100%) / -2);
	margin-left: calc((100vw - 100%) / -2);
	background: #f1f6f7;
}

.slide-menu-option-1-active .brands-detail-tabs-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
	margin-left: -moz-calc((100vw - 278px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 278px - 100%) / -2);
	margin-left: calc((100vw - 278px - 100%) / -2);
}

.slide-menu-option-2 .brands-detail-tabs-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
	margin-left: -moz-calc((100vw - 72px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 72px - 100%) / -2);
	margin-left: calc((100vw - 72px - 100%) / -2);
}

.page-container .brands-detail-tabs-container,
.slide-menu-option-1-active .page-container .brands-detail-tabs-container,
.slide-menu-option-2 .page-container .brands-detail-tabs-container{
	width: auto;
	margin-left: -61px;
	margin-right: -61px;
}

.brands-detail-tabs-block.fixed{		
	position: fixed;
	left: 0;
	right: 0;	
	-webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	background-color: #f1f6f7;
	z-index: 203;
}

.slide-menu-option-1-active .brands-detail-tabs-block.fixed{
	left: 278px;
}

.slide-menu-option-2 .brands-detail-tabs-block.fixed{
	left: 72px;
}

.brands-detail-tabs-scroll{	
	width: 1176px;
	margin-left: auto;
	margin-right: auto;	
	position: relative;		
}

.brands-detail-tabs-scroll .owl-prev,
.brands-detail-tabs-scroll .owl-next{
	width: 64px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
	cursor: pointer;
}

.brands-detail-tabs-block.fixed .brands-detail-tabs-scroll .owl-prev,
.brands-detail-tabs-block.fixed .brands-detail-tabs-scroll .owl-next{	
	z-index: 202;	
}

.brands-detail-tabs-scroll .owl-prev.disabled,
.brands-detail-tabs-scroll .owl-next.disabled{
	display: none;
}

.brands-detail-tabs-scroll .owl-prev{	
	left: 0;
	background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
}

.brands-detail-tabs-scroll .owl-next{	
	align-items: flex-end;
	right: 0;
	background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
}

.brands-detail-tabs-scroll .owl-prev i,
.brands-detail-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-detail-tabs-scroll .owl-prev:hover i,
.bx-touch .brands-detail-tabs-scroll .owl-prev:active i,
.bx-no-touch .brands-detail-tabs-scroll .owl-next:hover i,
.bx-touch .brands-detail-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.brands-detail-tabs-list{	
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.brands-detail-tabs-list:after{	
	display: table;
	clear: both;
	content: "";
}

.brands-detail-tab{
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
	position: relative;			
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-detail-tab:hover,
.bx-touch .brands-detail-tab:active{
	color: #6639b6;
}

.brands-detail-tab:after{	
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #6639b6;
}

.brands-detail-tab.active:after{
	height: 2px;
}

.brands-detail-tab > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

/***ITEM***/
.brands-item-detail{
	display: flex;
	margin-top: 32px;
	text-align: left;
}

.brands-item-detail-preview-text{
	justify-content: space-between;
}

.brands-item-detail-item{
	width: 278px;
	min-width: 278px;
	height: 141px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 32px;
	position: relative;
	border: 1px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-right: 24px;
}

/***ITEM_IMAGE***/
.brands-item-detail-item-image{
	width: 250px;
	height: 126px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.brands-item-detail-item-image > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

/***ITEM_MARKERS***/
.brands-item-detail-item-markers{	
	position: absolute;
	left: 12px;
	right: 12px;
	top: 12px;
	z-index: 200;
}

.brands-item-detail-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.brands-item-detail-item-marker-container + .brands-item-detail-item-marker-container{
	margin-top: 4px;
}

.brands-item-detail-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.brands-item-detail-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.brands-item-detail-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.brands-item-detail-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.brands-item-detail-item-marker-14px > i{
	font-size: 14px;
}

.brands-item-detail-item-marker-24px > i{
	font-size: 24px;
}

.brands-item-detail-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.brands-item-detail-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.brands-item-detail-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***ITEM_TEXT***/
.brands-item-detail-item-text{
	width: 100%;
	margin-top: 24px;
	font-size: 14px;
	line-height: 17px;
	color: #8ea6ab;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/***COLLECTIONS***/
/***PRODUCTS***/
/***DETAIL_TEXT***/
.brands-detail-collections-container,
.brands-detail-products-container,
.brands-detail-detail-text{
	margin-top: 46px;
}

.brands-detail-collections{
	margin-top: 14px;
}

/***LINKS***/
.brands-detail-sections-links{
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-bottom: 32px;	
}

.brands-detail-section-link{
	margin-left: 6px;
	margin-top: 6px;
	padding: 9px 16px 8px;
	white-space: nowrap;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .brands-detail-section-link:hover,
.bx-touch .brands-detail-section-link:active{
	border-color: #8ea6ab;
	background: #e3ecef;
}

.brands-detail-section-link.active,
.bx-no-touch .brands-detail-section-link.active:hover,
.bx-touch .brands-detail-section-link.active:active{
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

.brands-detail-section-link > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -2px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

.brands-detail-section-link.active > span,
.bx-no-touch .brands-detail-section-link.active:hover > span,
.bx-touch .brands-detail-section-link.active:active > span{
	color: #fff;
	background: #8ea6ab;
}

/***PHONES***/
@media(max-width: 991px){
	.brands-detail{
		margin-top: -32px;
	}

	/***TABS***/
	.brands-detail-tabs-container,	
	.slide-menu-option-1-active .brands-detail-tabs-container,
	.slide-menu-option-2 .brands-detail-tabs-container,
	.page-container .brands-detail-tabs-container,	
	.slide-menu-option-1-active .page-container .brands-detail-tabs-container,
	.slide-menu-option-2 .page-container .brands-detail-tabs-container{
		width: unset;
		margin: 0 -18px;
	}

	.slide-menu-option-2 .brands-detail-tabs-block.fixed,
	.slide-menu-option-1-active .brands-detail-tabs-block.fixed{
		left: 0;
	}
	
	.brands-detail-tabs-scroll{	
		width: unset;
		margin: 0;
	}

	.brands-detail-tabs-scroll .owl-prev{
		padding-left: 18px;
	}
	
	.brands-detail-tabs-scroll .owl-next{
		padding-right: 18px;
	}

	/***ITEM***/
	.brands-item-detail{
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 18px;
	}

	.brands-item-detail-preview-text{
		order: 1;
		margin-right: 0;
		margin-top: 14px;
	}

	.brands-item-detail-item{
		width: unset;
		min-width: unset;
		padding: 0 18px;
	}

	/***ITEM_IMAGE***/
	.brands-item-detail-item-image{
		width: unset;
	}

	/***COLLECTIONS***/
	/***PRODUCTS***/
	/***DETAIL_TEXT***/
	.brands-detail-collections-container,
	.brands-detail-products-container,
	.brands-detail-detail-text{
		margin-top: 14px;
	}

	.brands-detail-collections{
		margin: 0;
	}

	/***LINKS***/
	.brands-detail-sections-links{
		margin-top: -6px;
		margin-bottom: 18px;	
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***TABS***/
	.page-container .brands-detail-tabs-container,	
	.slide-menu-option-1-active .page-container .brands-detail-tabs-container,
	.slide-menu-option-2 .page-container .brands-detail-tabs-container{
		margin-left: -23px;
		margin-right: -23px;
	}

	.brands-detail-tabs-scroll{	
		width: 946px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1042px){
	/***TABS***/
	.slide-menu-option-2 .brands-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}
	
	.slide-menu-option-2 .brands-detail-tabs-block.fixed{
		left: 0;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1499px){
	/***TABS***/
	.slide-menu-option-1-active .brands-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}

	.slide-menu-option-1-active .brands-detail-tabs-block.fixed{
		left: 0;
	}
}