.product-item-row{
	margin-bottom: 24px;
}

.product-item-container{
	position: relative;
}

.product-item-container.hover{
	z-index: 202;
}

.product-item{
	width:100%;
	padding: 24px;	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e8edef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.product-item-container.hover .product-item{		
	position: absolute;
	left: 0;
	top: 0;	
	-webkit-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	-moz-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
}

/***IMAGE***/
.product-item-image-wrapper{
	width: 100%;
	height: 222px;
	display: table;
	position: relative;
}

.product-item-image:link,
.product-item-image:visited{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

.product-item-image.empty{
	width: 100%;
	background-color: #d0e0e3;
}

.product-item-image > img{
	width: auto;
	height: auto;
	max-width: 222px;
	max-height: 222px;
}

/***MARKERS***/
.product-item-markers{
	position: absolute;
	left: -13px;
	right: -13px;
	top: -13px;
}

.product-item-markers-icons{
	max-width: 203px;
	right: unset;
}

.product-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.product-item-marker-container-hidden{
	display: none;
}

.product-item-marker-container:not(.product-item-marker-container-hidden) + .product-item-marker-container{
	margin-top: 4px;
}

.product-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.product-item-marker-discount{
	background: #d3115a;	
}

.product-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.product-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.product-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.product-item-marker-14px > i{
	font-size: 14px;
}

.product-item-marker-24px > i{
	font-size: 24px;
}

.product-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.product-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***BRAND***/
.product-item-brand{
	width: 90px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	bottom: 0;
}

.product-item-brand > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 40px;
}

/***DELAY***/
.product-item-icons-container{
	display: table;
	padding: 2px 5px;
	position: absolute;
	right: -10px;
	top: -6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
}

.product-item-delay,
.product-item-delayed{	
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px;
}

.product-item-delay i{
	color: #d0e0e3;
}

.product-item-delay i,
.product-item-delayed i{
	font-size: 21px;
	cursor: pointer;
}

.bx-no-touch .product-item-delay i:hover,
.bx-touch .product-item-delay i:active{
	color: #b2c7cb;
}

.product-item-delayed i{
	color: #ffd200;
}

/***TITLE***/
.product-item-title{
	height: 38px;
	margin-top: 18px;
	overflow: hidden;
}

.product-item-title > a:link,
.product-item-title > a:visited{
	display: block;	
	color: #3d4b52;
	text-decoration: none;	
}

.bx-no-touch .product-item-title > a:hover,
.bx-touch .product-item-title > a:active{
	color: #6639b6;
}

/***RATING***/
.product-item-rating{
	height: 24px;
	display: flex;
	align-items: center;
	margin-top: 6px;
}

.product-item-rating-val{
	margin-right: 6px;
	padding: 4px 8px 3px;
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 17px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #008d55;
}

.product-item-rating-val[data-rate="1"]{
	background: #d03913;
}

.product-item-rating-val[data-rate="2"]{
	background: #ca6c00;
}

.product-item-rating-val[data-rate="3"]{
	background: #a58900;
}

.product-item-rating-val[data-rate="4"]{
	background: #568d00;
}

.product-item-rating-reviews-count{
	font-size: 14px;
	color: #78909c;
	line-height: 17px;
}

/***INFO***/
.product-item-info-container{
	width: 100%;
	display: table;
	height: 58px;
	margin-top: 12px;
}

.product-item-info-block{
	max-width: 0;
	display: table-cell;
	vertical-align: bottom;
}

.product-item-info{
	width: 100%;
	display: table;
}

.product-item-blocks{
	max-width: 0;
	display: table-cell;
	vertical-align: middle;
}

.product-item-hidden{
	display: none;
}

.product-item-container.hover .product-item-hidden{
	display: block;
}

/***SCU***/
[data-entity="sku-block"]:last-child{
	margin-bottom: 18px;
}

.product-item-scu-container{
	padding-bottom: 12px;
}

.product-item-scu-title{
	color: #263238;
}

.product-item-scu-block{
	margin-top: 2px;
}

.product-item-scu-list{
}

.product-item-scu-item-list{	
	margin: 0 0 0 -6px;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

/***SCU_PICT***/
.product-item-scu-item-color,
.product-item-scu-item-text{
	float: left;
	margin-left: 6px;
	margin-top: 6px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.product-item-scu-item-color{
	width: 36px;
	height: 36px;
	position: relative;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.product-item-scu-item-color.notallowed{
	background-color: #f1f6f7 !important;
}

.product-item-scu-item-color:before,
.product-item-scu-item-color:after{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.product-item-scu-item-color:before{	
	content: none;
	border: 4px solid transparent;	
}

.bx-no-touch .product-item-scu-item-color:hover:before,
.bx-touch .product-item-scu-item-color:active:before,
.product-item-scu-item-color.selected:before{
	content: "";
	border-color: #fff;
}

.product-item-scu-item-color:after{	
	content: "";
	border: 2px solid #e3ecef;	
}

.bx-no-touch .product-item-scu-item-color:hover:after,
.bx-touch .product-item-scu-item-color:active:after{	
	border-color: #78909c;
}

.product-item-scu-item-color.selected:after,
.bx-no-touch .product-item-scu-item-color.selected:hover:after,
.bx-touch .product-item-scu-item-color.selected:active:after{
	border-color: #6639b6;
}

/***SCU_TEXT***/
.product-item-scu-item-text{
	padding: 8px 15px 7px;
	color: #263238;	
	border: 2px solid #e3ecef;
}

.product-item-scu-item-text.notallowed{	
    color: #d0e0e3;
	border-color: transparent;
	background: #f1f6f7;
}

.bx-no-touch .product-item-scu-item-text:hover,
.bx-touch .product-item-scu-item-text:active{
	color: #263238;
	border-color: #78909c;
	background: #e3ecef;
}

.product-item-scu-item-text.selected,
.bx-no-touch .product-item-scu-item-text.selected:hover,
.bx-touch .product-item-scu-item-text.selected:active{
	color: #263238;
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

/***BASKET_PROPS***/
.product-item-basket-props-container:last-child{
	margin-bottom: 8px;
}

.product-item-basket-props-title{
	font-size: 14px;
	color: #55686e;
	line-height: 17px;
}

.product-item-basket-props-block{
	margin-top: 9px;
	padding-bottom: 7px;
}

.product-item-basket-props-input-radio{	
}

.product-item-basket-props-input-radio label {
	min-height: auto;
	display: table;
	padding: 0;
	font-weight: 300;
	cursor: pointer;
}

.product-item-basket-props-input-radio label:last-child {
	margin: 0;
}

.product-item-basket-props-input-radio label input[type="radio"]{
	display: none;
}

.product-item-basket-props-input-radio label .check-container{
	display: table-cell;
	vertical-align: middle;
}

.product-item-basket-props-input-radio label .check{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
	background-color: #d0e0e3;
}

.bx-no-touch .product-item-basket-props-input-radio label:hover .check,
.bx-touch .product-item-basket-props-input-radio label:active .check{
	background-color: #78909c;
}

.product-item-basket-props-input-radio label.disabled .check{
	background-color: #d0e0e3;
}

.product-item-basket-props-input-radio label input[type=radio]:checked + .check-container .check{
	background-color: #6639b6;
}

.product-item-basket-props-input-radio label .check i{
	display: none;
	font-size: 12px;
	color: #fff;
}

.product-item-basket-props-input-radio label input[type=radio]:checked + .check-container .check i{
	display: inline-block;
}

.product-item-basket-props-input-radio label .text{	
	display: table-cell;
	vertical-align: middle;
	padding-left: 9px;
	font-size: 14px;
	color: #55686e;
	line-height: 17px;
}

.product-item-basket-props-input-radio label.disabled .text{
	color: #78909c;
}

.product-item-basket-props-input-radio label .text > span{
	margin-left: 3px;
	padding: 0 5px;
	font-size: 11px;
	color: #78909c;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #e3ecef;
}

.product-item-basket-props-input-radio label.disabled .text > span{
	color: #d0e0e3;
	background-color: #f1f6f7;
}

/***PRICE***/
.product-item-price-current{		
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 20px;	
	color: #000;
	line-height: 24px;
	white-space: nowrap;
}

.product-item-price-from,
.product-item-price-measure{
	color: #263238;
}

.product-item-price-not-set{
	color: #78909c;
}

.product-item-price-old{		
	overflow: hidden;
	font-size: 14px;
	color: #6e858a;	
	text-decoration: line-through;
	text-overflow: ellipsis;
	line-height: 17px;
	white-space: nowrap;
}

.product-item-price-economy{
	overflow: hidden;
	font-size: 14px;
	color: #6639b6;
	text-overflow: ellipsis;
	line-height: 17px;
	white-space: nowrap;
}

/***QUANTITY_LIMIT***/
.product-item-quantity{
	display: flex;
	align-items: center;
	margin-top: 6px;
}

.product-item-quantity-icon{
	font-size: 16px;
	color: #008d55;
}

.product-item-quantity-not-avl .product-item-quantity-icon{
	color: #b2c7cb;
}

.product-item-quantity-val{
	padding-left: 6px;
	overflow: hidden;
	color: #78909c;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/***QUANTITY***/
.product-item-amount{	
	display: table;
	margin-top: 18px;
}

.product-item-amount-btn-minus,
.product-item-amount-input,
.product-item-amount-btn-plus,
.product-item-amount-measure{
	display: table-cell;
	vertical-align: middle;
}

.product-item-amount-btn-minus:link,
.product-item-amount-btn-minus:visited,
.product-item-amount-btn-plus:link,
.product-item-amount-btn-plus:visited{
	width: 36px;
	height: 36px;
	color: #78909c;
	text-align: center;
	text-decoration: none;	
	background: #f1f6f7;
}

.product-item-amount-btn-minus{
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.product-item-amount-btn-plus{
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-khtml-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.bx-no-touch .product-item-amount-btn-minus:not(.product-item-amount-btn-disabled):hover,
.bx-touch .product-item-amount-btn-minus:not(.product-item-amount-btn-disabled):active,
.bx-no-touch .product-item-amount-btn-plus:not(.product-item-amount-btn-disabled):hover,
.bx-touch .product-item-amount-btn-plus:not(.product-item-amount-btn-disabled):active{
	color: #6639b6;
	background: #e3ecef;
}

.product-item-amount-btn-disabled:link,
.product-item-amount-btn-disabled:visited{	
	color: #d0e0e3;
	cursor: default;
}

.product-item-amount-input{	
	width: 48px;	
	height: 36px;	
	padding: 0;
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 16px;	
	color: #263238;
	text-align: center;	
	border: none;
	-webkit-appearance: none;
	background: #f1f6f7;
}

.product-item-amount-input:focus{
	outline: none;
}

.product-item-amount-measure{		
	padding-left: 12px;	
	color: #263238;	
	white-space: nowrap;
}

/***TOTAL_COST***/
.product-item-total-cost{
	margin-top: 18px;
	font-size: 14px;
	color: #8ea6ab;
	line-height: 17px;
}

.product-item-total-cost > span{
	margin-left: 6px;
	font-family: "Museo Sans Cyrl 700", sans-serif;
	color: #263238;
}

/***COMPARE***/
.product-item-compare{
	margin-top: 18px;
}

.product-item-compare label{
	display: flex;
	margin: 0;
	font-weight: 300;
	cursor: pointer;
}

.product-item-compare input[type="checkbox"]{
	display: none;
}

.product-item-compare-checkbox{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #e3ecef;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-compare label:hover .product-item-compare-checkbox,
.bx-touch .product-item-compare label:active .product-item-compare-checkbox{
	background: #78909c;
}

.product-item-compare input[type="checkbox"]:checked ~ .product-item-compare-checkbox{
	background: #6639b6;
}

.product-item-compare-checkbox > i{
	display: none;
	font-size: 12px;
	color: #fff;
}

.product-item-compare input[type="checkbox"]:checked ~ .product-item-compare-checkbox > i{
	display: inline-block;
}

.product-item-compare-title{
	margin-left: 9px;
	color: #78909C;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .product-item-compare label:hover .product-item-compare-title,
.bx-touch .product-item-compare label:active .product-item-compare-title,
.product-item-compare input[type="checkbox"]:checked ~ .product-item-compare-title{
	color: #263238;
}

/***BUTTON***/
.product-item-button-container{
	width: 45px;
	display: table-cell;
	vertical-align: bottom;
}

.product-item-button-container .btn{
	width: 100%;	
	padding: 0;
}

.product-item-button-container .btn > i{
	padding-right: 0;	
}

.product-item-button-container .btn > span{
	display: none;
}

/***PHONES***/
@media(max-width: 991px){
	.product-item-row{
		margin-bottom: 0;
	}
	
	.product-item-container{
		height: auto !important;
		margin-left: -18px;
		margin-right: -18px;
		position: static;
	}

	.product-item{
		display: table;
		padding: 18px;
		border-left: none;
		border-right: none;
		border-top: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}

	.product-item-container.hover .product-item{				
		position: static;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	/***IMAGE***/	
	.product-item-image-wrapper{		
		width: 100px;
		height: auto;
		float: none;
		display: table-cell;
		vertical-align: top;
		padding-right: 12px;
		position: static;
	}

	.product-item-image{		
		width: 100px;
		height: 100px;
		position: relative;
	}
	
	.product-item-image > img{
		max-width: 100px;
		max-height: 100px;
	}

	/***MARKERS***/
	.product-item-markers{
		left: -6px;
		right: -6px;
		top: -6px;
	}

	.product-item-markers-icons{
	}
	
	/***BRAND***/
	.product-item-brand{
		display: none;
	}

	/***TITLE***/
	.product-item-title{
		width: 100%;
		height: auto;
		float: left;
		margin-top: 9px;
		overflow: visible;
	}

	/***RATING***/
	.product-item-rating{
		width: 100%;
		height: auto;
		float: left;
	}

	/***INFO***/
	.product-item-info-container{
		float: left;
	}
	
	/***QUANTITY***/
	.product-item-amount-measure{
		padding-left: 6px;
	}

	/***TOTAL_COST***/
	.product-item-total-cost{
		width: 100%;
		float: left;
	}

	/***COMPARE***/
	.product-item-compare{
		width: 100%;
		float: left;
	}

	.product-item-hidden{
		display: block;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***IMAGE***/
	.product-item-image-wrapper{
		height: 163px;
	}

	.product-item-image > img{
		max-width: 163px;
		max-height: 163px;
	}

	/***MARKERS***/
	.product-item-markers-icons{
		max-width: 145px;
	}

	/***QUANTITY***/
	.product-item-amount-measure{
		padding-left: 6px;
	}
}

.product-item-price-current.small {
	color: #3d4b52;
}