@font-face {
    font-family: "Museo Sans Cyrl 300";
    font-display: swap;
    src: url(fonts/MuseoSansCyrl-300.eot);
    src: local("MuseoSansCyrl-300"), url("fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url(fonts/MuseoSansCyrl-300.woff) format("woff"), url(fonts/MuseoSansCyrl-300.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Museo Sans Cyrl 500";
    font-display: swap;
    src: url(fonts/MuseoSansCyrl-500.eot);
    src: local("MuseoSansCyrl-500"), url("fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url(fonts/MuseoSansCyrl-500.woff) format("woff"), url(fonts/MuseoSansCyrl-500.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Museo Sans Cyrl 700";
    font-display: swap;
    src: url(fonts/MuseoSansCyrl-700.eot);
    src: local("MuseoSansCyrl-700"), url("fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url(fonts/MuseoSansCyrl-700.woff) format("woff"), url(fonts/MuseoSansCyrl-700.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 16px;
    color: #3d4b52;
    text-align: left;
    line-height: 19px;
    background-color: #fff
}

.page-bg {
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s
}

.page-bg__repeat-x {
    background-repeat: repeat-x
}

.page-bg__repeat-y {
    background-repeat: repeat-y
}

.page-bg__repeat-x.page-bg__repeat-y {
    background-repeat: repeat
}

.page-bg__blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px)
}

@supports (-ms-ime-align:auto) {
    .page-bg__blur {
        filter: none
    }
}

.slide-menu-option-1-active .page-container-wrapper:before,
.slide-menu-option-2 .page-container-wrapper:before {
    content: ""
}

.slide-menu-option-1-active .page-container-wrapper:before {
    background: #fff
}

.slide-menu-option-2 .page-container-wrapper:before {
    background: #3d4b52
}

a:link,
a:visited {
    color: #6639b6;
    text-decoration: underline;
    -webkit-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    -moz-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    -o-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s
}

.bx-no-touch a:hover,
.bx-touch a:active {
    text-decoration: none
}

a:focus,
.btn:focus,
.btn:active:focus {
    outline: none
}

img {
    border: none
}

.top-menu-wrapper {
    background: #f1f6f7;
    -moz-box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, .16);
    -webkit-box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, .16);
    box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, .16)
}

.top-menu-wrapper:after {
    content: ""
}

.top-panel {
    -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
    -moz-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
    box-shadow: 0 0 32px rgba(61, 75, 82, .16);
    background: #fff;
    background-image: url(images/topbg.jpg)
}

.top-panel.section-panel-fixed,
.top-panel.tabs-fixed {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.top-panel__thead {
    white-space: nowrap
}

.top-panel__menu-icon-container {
    text-align: center;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.slide-menu-option-2 .top-panel__menu-icon-container {
    background: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

.bx-no-touch .top-panel__menu-icon-container:hover,
.bx-touch .top-panel__menu-icon-container:active {
    background: none
}

.bx-no-touch .slide-menu-option-2 .top-panel__menu-icon-container:hover,
.bx-touch .slide-menu-option-2 .top-panel__menu-icon-container:active {
    background: none
}

.top-panel__menu-icon-container>i {
    font-size: 24px;
    color: #3d4b52
}

.slide-menu-option-2 .top-panel__menu-icon-container>i {
    color: #fff
}

.top-panel__logo a:link,
.top-panel__logo a:visited {
    text-decoration: none
}

.top-panel__logo a>i {
    font-size: 36px;
    color: #3d4b52;
    opacity: 1
}

.top-panel__logo a>span {
    font-family: "Museo Sans Cyrl 700", sans-serif;
    font-size: 20px;
    color: #3d4b52;
    line-height: 24px
}

.top-panel__logo a>span+span {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 12px;
    color: #6639b6;
    line-height: 14px
}

.top-panel__search-btn:link,
.top-panel__search-btn:visited {
    text-decoration: none
}

.bx-no-touch .top-panel__search-btn:hover,
.bx-touch .top-panel__search-btn:active {
    background-color: none
}

.top-panel__search-icon {
    text-align: center
}

.top-panel__search-icon>i {
    font-size: 24px;
    color: #fff
}

.top-panel__search input[type="text"] {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8ea6ab;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-appearance: none;
    background: none
}

.top-panel__search input[type="text"]:focus {
    outline: none
}

.top-panel__search i {
    font-size: 18px;
    color: #6e858a
}

.top-panel__search i+i {
    color: #b2c7cb
}

.top-panel__search i+i.active {
    color: #3d4b52
}

.top-panel__contacts {
    white-space: nowrap
}

.top-panel__contacts-block:link,
.top-panel__contacts-block:visited {
    text-decoration: none
}

.bx-no-touch .top-panel__contacts-block:hover,
.bx-touch .top-panel__contacts-block:active {
    background-color: none
}

.top-panel__contacts-icon>i {
    font-size: 24px;
    color: #fff
}

.top-panel__contacts-icon:last-child>i {
    font-size: 16px;
    color: #b2c7cb
}

.top-panel__contacts-title {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 20px;
    color: #fff;
    line-height: 19px
}

.top-panel__contacts-title>span {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 16px
}

.top-panel__contacts-descr {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 14px;
    color: #8ea6ab;
    line-height: 17px
}

.top-panel__compare {
    white-space: nowrap
}

.top-panel__compare-link:link,
.top-panel__compare-link:visited {
    text-decoration: none
}

.bx-no-touch .top-panel__compare-link:hover,
.bx-touch .top-panel__compare-link:active {
    background-color: none
}

.top-panel__compare-link>i {
    font-size: 24px;
    color: #fff
}

.top-panel__compare-count {
    font-size: 11px;
    color: #6e858a;
    line-height: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #d0e0e3
}

.top-panel__mini-cart {
    white-space: nowrap
}

.mini-cart>a {
    text-decoration: none
}

.bx-no-touch .mini-cart>a:hover,
.bx-touch .mini-cart>a:active {
    background-color: none
}

.mini-cart>a>i {
    font-size: 24px;
    color: #fff
}

.mini-cart__count {
    font-size: 11px;
    color: #6e858a;
    line-height: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #d0e0e3
}

.mini-cart__cart:not(.empty) .mini-cart__count {
    color: #fff;
    background-color: #6639b6
}

.top-panel__user {
    white-space: nowrap
}

.top-panel__user-link:link,
.top-panel__user-link:visited {
    text-decoration: none
}

.bx-no-touch .top-panel__user-link:hover,
.bx-touch .top-panel__user-link:active {
    background: none
}

.top-panel__user-graph {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    border-radius: 16px
}

.top-panel__user-graph>i {
    font-size: 24px;
    color: #fff
}

.slider .slider-item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6639b6
}

.slider-item__title {
    font-family: "Museo Sans Cyrl 700", sans-serif;
    font-size: 36px;
    color: #fff;
    line-height: 43px;
    background: #3d4b52;
    padding: 10px;
    opacity: .9
}

.slider-item__text {
    font-size: 24px;
    color: #fff;
    line-height: 29px
}

.slider .owl-prev,
.slider .owl-next {
    text-align: center;
    background-color: #000;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    -moz-transition: background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    transition: background-color 0.15s ease 0s, opacity 0.15s ease 0s
}

.slider .owl-prev {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0
}

.slider .owl-next {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px
}

.bx-no-touch .slider:hover .owl-prev,
.bx-touch .slider:active .owl-prev,
.bx-no-touch .slider:hover .owl-next,
.bx-touch .slider:active .owl-next {
    opacity: .33
}

.bx-no-touch .slider .owl-prev:hover,
.bx-touch .slider .owl-prev:active,
.bx-no-touch .slider .owl-next:hover,
.bx-touch .slider .owl-next:active {
    background-color: #6639b6;
    opacity: 1
}

.slider .owl-prev i,
.slider .owl-next i {
    font-size: 48px;
    color: #fff
}

.slider .owl-dot span {
    border: 1px solid #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px
}

.slider .owl-dot.active span {
    background-color: #fff
}

.banners-item-container:link,
.banners-item-container:visited {
    text-decoration: none
}

.banners-item-pic {
    background-color: #6e858a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.45s ease 0s, opacity 0.3s ease 0s;
    -moz-transition: -moz-transform 0.45s ease 0s, opacity 0.3s ease 0s;
    -o-transition: -o-transform 0.45s ease 0s, opacity 0.3s ease 0s;
    transition: transform 0.45s ease 0s, opacity 0.3s ease 0s
}

.banners-item-pic[data-src] {
    opacity: 0
}

.bx-no-touch .banners-item-container:hover .banners-item-pic,
.bx-touch .banners-item-container:active .banners-item-pic {
    -moz-transform: scale(1.1) rotate(0.02deg);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.banners-item-block-container:before {
    content: "";
    background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
    background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
    background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#3d4b52", GradientType=0)
}

.banners-item-block-container:after {
    content: "";
    background: -moz-linear-gradient(top, rgba(61, 75, 82, .5) 0%, #6639b6 100%);
    background: -webkit-linear-gradient(top, rgba(61, 75, 82, .5) 0%, #6639b6 100%);
    background: linear-gradient(to bottom, rgba(61, 75, 82, .5) 50%, #6639b6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#803d4b52", endColorstr="#6639b6", GradientType=0);
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s
}

.banners-item-icon>i {
    font-size: 150px;
    color: #fff
}

.banners-item-title,
.banners-item-text {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

.banners-item-title {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 36px
}

.banners-item-text {
    color: #fff
}

.advantages-wrapper {
    background-color: #fff
}

.adv-item__icon i {
    font-size: 28px;
    color: #000
}

.tabs-wrap {
    background-color: #fff
}

.tabs__list {
    border-bottom: 1px solid #e3ecef
}

.tabs__scroll .owl-prev {
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0, #fff 44px, #fff 44px);
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0, #fff 44px, #fff 44px);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #fff 44px, #fff 44px);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#00ffffff", GradientType=1)
}

.tabs__scroll .owl-next {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fff 44px, #fff 44px);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fff 44px, #fff 44px);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 44px, #fff 44px);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#ffffff", GradientType=1)
}

.tabs__scroll .owl-prev i,
.tabs__scroll .owl-next i {
    font-size: 16px;
    color: #b2c7cb;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .tabs__scroll .owl-prev:hover i,
.bx-touch .tabs__scroll .owl-prev:active i,
.bx-no-touch .tabs__scroll .owl-next:hover i,
.bx-touch .tabs__scroll .owl-next:active i {
    color: #6639b6
}

.tabs__tabs {
    list-style: none
}

.tabs__tabs:after {
    content: ""
}

.tabs__tab {
    white-space: nowrap;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .tabs__tab:hover,
.bx-touch .tabs__tab:active {
    color: #6639b6
}

.tabs__tab:after {
    content: "";
    background: #6639b6
}

.catalog-sections-wrapper {
    background-color: #f1f6f7
}

.catalog-sections .catalog-section-item {
    text-decoration: none;
    border: 1px solid #e8edef;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .catalog-sections .catalog-section-item:hover,
.bx-touch .catalog-sections .catalog-section-item:active {
    -webkit-box-shadow: 0 0 36px rgba(61, 75, 82, .16);
    -moz-box-shadow: 0 0 36px rgba(61, 75, 82, .16);
    box-shadow: 0 0 36px rgba(61, 75, 82, .16)
}

.catalog-section-item__count {
    font-size: 11px;
    color: #8ea6ab;
    line-height: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #e3ecef;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .catalog-sections .catalog-section-item:hover .catalog-section-item__count,
.bx-touch .catalog-sections .catalog-section-item:active .catalog-section-item__count {
    color: #fff;
    background: #6e858a
}

.catalog-section-item__graph {
    text-align: center
}

.catalog-section-item__graph>i {
    font-size: 90px;
    color: #55686e
}

.catalog-section-item__title {
    color: #3d4b52;
    text-align: center;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .catalog-sections .catalog-section-item:hover .catalog-section-item__title,
.bx-touch .catalog-sections .catalog-section-item:active .catalog-section-item__title {
    color: #6639b6
}

.services-wrapper {
    background-color: #e3ecef
}

.services .h1 {
    text-align: center
}

.services .services-item,
.sections .section-item {
    text-decoration: none
}

.services-item__pic-wrapper,
.section-item__pic-wrapper {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black)
}

.services-item__pic,
.section-item__pic {
    background-color: #d0e0e3;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s ease 0s, opacity 0.3s ease 0s;
    -moz-transition: -moz-transform 0.3s ease 0s, opacity 0.3s ease 0s;
    -o-transition: -o-transform 0.3s ease 0s, opacity 0.3s ease 0s;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s
}

.services-item__pic[data-src],
.section-item__pic[data-src] {
    opacity: 0
}

.bx-no-touch .services .services-item:hover .services-item__pic,
.bx-touch .services .services-item:active .services-item__pic,
.bx-no-touch .sections .section-item:hover .section-item__pic,
.bx-touch .sections .section-item:active .section-item__pic {
    -moz-transform: scale(1.25) rotate(0.02deg);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.services-item__icon-wrapper,
.section-item__icon-wrapper {
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    -khtml-border-radius: 90px;
    border-radius: 90px;
    background-color: #f1f6f7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.bx-no-touch .services .services-item:hover .services-item__icon-wrapper,
.bx-touch .services .services-item:active .services-item__icon-wrapper,
.bx-no-touch .sections .section-item:hover .section-item__icon-wrapper,
.bx-touch .sections .section-item:active .section-item__icon-wrapper {
    background-color: transparent
}

.services-item__icon,
.section-item__icon {
    text-align: center
}

.services-item__icon i,
.section-item__icon i {
    font-size: 70px;
    color: #55686e;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.bx-no-touch .services .services-item:hover .services-item__icon i,
.bx-touch .services .services-item:active .services-item__icon i,
.bx-no-touch .sections .section-item:hover .section-item__icon i,
.bx-touch .sections .section-item:active .section-item__icon i {
    color: #6639b6;
    -moz-transform: scale(1.25) rotate(0.02deg);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.services-item__caption,
.section-item__caption {
    text-align: center
}

.services-item__title,
.section-item__title {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.bx-no-touch .services .services-item:hover .services-item__title,
.bx-touch .services .services-item:active .services-item__title,
.bx-no-touch .sections .section-item:hover .section-item__title,
.bx-touch .sections .section-item:active .section-item__title {
    color: #6639b6
}

.services-item__text,
.section-item__text {
    color: #55686e
}

.content-wrapper {
    background-color: #fff
}

.content {
    text-align: center
}

.content.internal {
    text-align: left
}

h1,
.h1,
h2,
.h2 {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    color: #3d4b52
}

h1,
.h1 {
    font-size: 30px;
    line-height: 36px
}

h2,
.h2 {
    font-size: 24px;
    line-height: 29px
}

.navigation-wrapper {
    background: #f1f6f7
}

.navigation-back:link,
.navigation-back:visited {
    text-align: center;
    text-decoration: none
}

.navigation-back>i {
    font-size: 32px;
    color: #b2c7cb;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.bx-no-touch .navigation-back:hover>i,
.bx-touch .navigation-back:active>i {
    color: #6639b6
}

.navigation-breadcrumb {
    font-size: 14px;
    line-height: 17px
}

.navigation-breadcrumb__item>a:link,
.navigation-breadcrumb__item>a:visited {
    color: #78909c;
    text-decoration: none
}

.bx-no-touch .navigation-breadcrumb__item>a:hover {
    color: #6639b6
}

.navigation-breadcrumb__separate:before {
    content: "|"
}

.navigation-breadcrumb__separate {
    font-style: normal;
    color: #d0e0e3
}

.navigation-share-icon {
    cursor: pointer
}

.navigation-share-icon>i {
    font-size: 24px;
    color: #b2c7cb;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.bx-no-touch .navigation-share-icon:hover>i,
.bx-touch .navigation-share-icon:active>i,
.navigation-share-icon.active>i {
    color: #6639b6
}

.navigation-share-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 24px rgba(61, 75, 82, .16);
    -moz-box-shadow: 0 0 24px rgba(61, 75, 82, .16);
    box-shadow: 0 0 24px rgba(61, 75, 82, .16);
    background: #fff
}

.navigation-share-content-block {
    white-space: nowrap
}

.gallery-wrapper {
    background-color: #f1f6f7
}

.gallery .h1 {
    text-align: center
}

.gallery-wrapper.detail .gallery .h1 {
    text-align: left
}

.gallery .gallery-item {
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black)
}

.gallery-item__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d0e0e3;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s ease 0s, opacity 0.3s ease 0s;
    -moz-transition: -moz-transform 0.3s ease 0s, opacity 0.3s ease 0s;
    -o-transition: -o-transform 0.3s ease 0s, opacity 0.3s ease 0s;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s
}

.gallery-item__image[data-src] {
    opacity: 0
}

.bx-no-touch .gallery .gallery-item:hover .gallery-item__image,
.bx-touch .gallery .gallery-item:active .gallery-item__image {
    -moz-transform: scale(1.25) rotate(0.02deg);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.gallery-item__image:after {
    content: "";
    background-color: rgba(61, 75, 82, .7);
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s
}

.gallery-item__caption-wrap {
    -webkit-transition: top 0.5s ease 0s;
    -moz-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s
}

.gallery-item__caption {
    text-align: center
}

.gallery-item__title {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    color: #fff
}

.gallery-item__text {
    color: #fff
}

.fancybox-title {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 16px;
    color: #3d4b52;
    text-align: center;
    line-height: 19px
}

.news-wrapper {
    background-color: #f1f6f7
}

.news .h1 {
    text-align: center
}

.news .news-item {
    text-decoration: none
}

.news-item__pic {
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black)
}

.news-item__pic img {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    -moz-transition: -moz-transform 0.3s ease 0s;
    -o-transition: -o-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s
}

.bx-no-touch .news .news-item:hover .news-item__pic img,
.bx-touch .news .news-item:active .news-item__pic img {
    -moz-transform: scale(1.25) rotate(0.02deg);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.news-item__date {
    color: #8ea6ab
}

.news-item__title {
    color: #3d4b52;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.bx-no-touch .news .news-item:hover .news-item__title,
.bx-touch .news .news-item:active .news-item__title {
    color: #6639b6
}

.site-closed-wrapper {
    background-color: #e3edef
}

.site-closed-inner {
    text-align: center
}

.site-opening .countdown-amount {
    font-size: 36px;
    color: #000;
    line-height: 60px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #f1f6f7
}

.site-opening .countdown-period {
    font-size: 11px;
    color: #55686e;
    text-transform: uppercase
}

.map-wrapper {
    background-color: #fff
}

.map-caption {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff
}

.map-caption .contacts p .numbers {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 20px
}

.map-caption .contacts .icon i {
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 19px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #d0e0e3
}

.viewed-wrapper {
    background-color: #fff
}

.bigdata-wrapper {
    background-color: #f1f6f7
}

.feedback-wrapper {
    background-color: #3d4b52
}

.feedback .h1 {
    color: #fff;
    text-align: center
}

.feedback .form-control {
    color: #fff;
    border-color: #66797f
}

.feedback .has-error .form-control {
    border-color: #a94442
}

.feedback .has-success .form-control {
    border-color: #3c763d
}

.feedback .form-control-feedback {
    color: #66797f
}

.feedback .has-error .form-control-feedback {
    color: #a94442
}

.feedback .has-success .form-control-feedback {
    color: #3c763d
}

.feedback .form-control[disabled] {
    color: #3d4b52
}

.feedback .form-control[disabled]+.form-control-feedback+.form-control-feedback {
    color: #d0e0e3
}

.feedback .form-group .checkbox .check {
    background-color: #61747a
}

.feedback .form-group .checkbox .check-title {
    color: #8ea6ab
}

.bottom-menu-wrapper {
    background-color: #000
}

.footer-wrapper {
    background-color: #000
}

.footer__copyright {
    font-size: 14px;
    color: #6e858a
}

.join-us {
    list-style: none
}

.join-us>li>a {
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px
}

.bx-no-touch .join-us>li>a:not(:hover),
.bx-touch .join-us>li>a:not(:active) {
    background-color: #262f34!important
}

.join-us>li>a>i {
    font-size: 20px;
    color: #000;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .join-us>li>a:hover>i,
.bx-touch .join-us>li>a:active>i {
    color: #fff
}

.footer-menu>li>a:link,
.footer-menu>li>a:visited {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 13px;
    color: #546e7a;
    text-decoration: none;
    line-height: 15px
}

.bottom-menu .footer-menu>li>a:link,
.bottom-menu .footer-menu>li>a:visited {
    font-size: 16px;
    color: #78909C;
    line-height: 19px
}

.bx-no-touch .footer-menu>li>a:hover,
.bx-touch .footer-menu>li>a:active {
    color: #fff
}

.bottom-menu .footer-menu>li>a>i {
    font-size: 16px;
    color: #455a64;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .bottom-menu .footer-menu>li>a:hover>i,
.bx-touch .bottom-menu .footer-menu>li>a:active>i {
    color: #fff
}

.footer__developer a:link,
.footer__developer a:visited {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 13px;
    color: #546e7a;
    text-align: right;
    text-decoration: none;
    line-height: 15px
}

.bx-no-touch .footer__developer a:hover,
.bx-touch .footer__developer a:active {
    color: #fff
}

.footer__developer a>i {
    font-size: 32px;
    color: #263238;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .footer__developer a:hover>i,
.bx-touch .footer__developer a:active>i {
    color: #6639b6
}

.services-detail__banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s
}

.services-detail__banner[data-src] {
    opacity: 0
}

.files-docs-wrapper {
    background-color: #fff
}

.files-docs .files-docs-item {
    text-decoration: none
}

.files-docs .item-icon i {
    font-size: 53px;
    color: #8ea6ab;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .files-docs .files-docs-item:hover .item-icon i,
.bx-touch .files-docs .files-docs-item:active .item-icon i {
    color: #6639b6
}

.files-docs .item-name {
    color: #3d4b52;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .files-docs .files-docs-item:hover .item-name,
.bx-touch .files-docs .files-docs-item:active .item-name {
    color: #6639b6
}

.files-docs .item-size {
    font-size: 14px;
    color: #8ea6ab;
    line-height: 17px
}

.catalog-section-pic>a {
    text-decoration: none
}

.catalog-section-toggle-wrapper,
.catalog-section-panel-wrapper,
.catalog-section-panel.fixed {
    background: #f1f6f7
}

.catalog-section-panel.fixed {
    -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
    -moz-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
    box-shadow: 0 0 32px rgba(61, 75, 82, .16)
}

.catalog-section-toggle>span,
.catalog-section-toggle>input:checked+span+label+span {
    color: #78909c
}

.catalog-section-toggle>label {
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    border-radius: 9px;
    background: #d0e0e3
}

.catalog-section-toggle>label:after {
    content: "";
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    border-radius: 9px;
    background: #6639b6;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.catalog-section-toggle>span+label+span,
.catalog-section-toggle>input:checked+span {
    color: #263238
}

.catalog-section-filter {
    cursor: pointer
}

.catalog-section-filter-block>i,
.catalog-section-filter-block>span {
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.catalog-section-filter-block>i {
    font-size: 24px;
    color: #8ea6ab
}

.bx-no-touch .catalog-section-filter:hover .catalog-section-filter-block>i,
.bx-touch .catalog-section-filter:active .catalog-section-filter-block>i,
.bx-no-touch .catalog-section-filter:hover .catalog-section-filter-block>span,
.bx-touch .catalog-section-filter:active .catalog-section-filter-block>span {
    color: #6639b6
}

.catalog-section-sort {
    cursor: pointer
}

.catalog-section-sort-text,
.catalog-section-sort-arrow i {
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.catalog-section-sort-arrow i {
    font-size: 16px;
    color: #b2c7cb
}

.bx-no-touch .catalog-section-sort:hover .catalog-section-sort-text,
.bx-touch .catalog-section-sort:active .catalog-section-sort-text,
.bx-no-touch .catalog-section-sort:hover .catalog-section-sort-arrow i,
.bx-touch .catalog-section-sort:active .catalog-section-sort-arrow i {
    color: #6639b6
}

.product-item-basket-props-drop-down,
.product-item-detail-basket-props-drop-down,
.catalog-set-constructor-basket-props-drop-down {
    border: 1px solid #d0e0e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px
}

.product-item-basket-props-drop-down.active,
.product-item-detail-basket-props-drop-down.active,
.catalog-set-constructor-basket-props-drop-down.active {
    background-color: #fff
}

.product-item-basket-props-drop-down .drop-down-text,
.product-item-detail-basket-props-drop-down .drop-down-text,
.catalog-set-constructor-basket-props-drop-down .drop-down-text {
    font-size: 14px;
    color: #3d4b52;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis
}

.product-item-basket-props-drop-down .drop-down-arrow i,
.product-item-detail-basket-props-drop-down .drop-down-arrow i,
.catalog-set-constructor-basket-props-drop-down .drop-down-arrow i {
    font-size: 16px;
    color: #8ea6ab
}

.catalog-section-sort-popup,
.bx-drop-down-popup-window {
    text-align: left;
    border: 1px solid #d0e0e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 16px rgba(85, 104, 110, .24);
    -moz-box-shadow: 4px 4px 16px rgba(85, 104, 110, .24);
    box-shadow: 4px 4px 16px rgba(85, 104, 110, .24);
    background-color: #fff
}

.bx-drop-down-popup-window .popup-window-content {
    background: none
}

.catalog-section-sort-popup ul li+li,
.bx-drop-down-popup-window .drop-down-popup ul li+li {
    border-top: 1px solid #d0e0e3
}

.catalog-section-sort-popup ul li a,
.bx-drop-down-popup-window .drop-down-popup ul li span {
    font-size: 14px;
    color: #3d4b52;
    text-decoration: none;
    line-height: 19px
}

.bx-no-touch .catalog-section-sort-popup ul li a:hover,
.bx-touch .catalog-section-sort-popup ul li a:active,
.catalog-section-sort-popup ul li.active a,
.bx-no-touch .bx-drop-down-popup-window .drop-down-popup ul li span:hover,
.bx-touch .bx-drop-down-popup-window .drop-down-popup ul li span:active {
    color: #6639b6;
    background-color: #e3ecef
}

.pagination>li>a,
.pagination>li>span {
    color: #3d4b52;
    text-align: center;
    border-color: #e3ecef;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px
}

.pagination>li.first>a,
.pagination>li.first>span,
.pagination>li.last>a,
.pagination>li.last>span {
    color: #d0e0e3
}

.pagination>li>a:focus,
.bx-no-touch .pagination>li>a:hover,
.bx-touch .pagination>li>a:active,
.pagination>li>span:focus,
.bx-no-touch .pagination>li>span:hover,
.bx-touch .pagination>li>span:active {
    color: #fff;
    border-color: #d0e0e3;
    background-color: #d0e0e3
}

.pagination>.active>a,
.pagination>.active>a:focus,
.bx-no-touch .pagination>.active>a:hover,
.bx-touch .pagination>.active>a:active,
.pagination>.active>span,
.pagination>.active>span:focus,
.bx-no-touch .pagination>.active>span:hover,
.bx-touch .pagination>.active>span:active {
    border-color: #6639b6;
    background-color: #6639b6
}

.scroll-up:link,
.scroll-up:visited {
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #61747a;
    opacity: .3;
    -webkit-transition: bottom 0.3s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    -moz-transition: bottom 0.3s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    -o-transition: bottom 0.3s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s;
    transition: bottom 0.3s ease 0s, background-color 0.15s ease 0s, opacity 0.15s ease 0s
}

.bx-no-touch .scroll-up:hover,
.bx-touch .scroll-up:active {
    background-color: #6639b6;
    opacity: 1
}

.scroll-up i {
    font-size: 16px;
    color: #fff
}

.modal-backdrop {
    background-color: rgba(61, 75, 82, .5)
}

.slide-panel {
    background: #fff;
    -webkit-transition: right 0.3s ease 0s;
    -moz-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s
}

.slide-panel__title-wrap {
    background-color: #f1f6f7
}

.slide-panel__title-wrap>i {
    font-size: 30px;
    color: #d0e0e3
}

.slide-panel__title {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 20px;
    color: #3d4b52;
    text-overflow: ellipsis;
    line-height: 24px;
    white-space: nowrap
}

.slide-panel__close {
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.slide-panel__close>i {
    font-size: 16px;
    color: #8ea6ab
}

.bx-no-touch .slide-panel__close:hover>i,
.bx-touch .slide-panel__close:active>i {
    color: #6639b6
}

.slide-panel__contacts-item {
    border-bottom: 1px solid #e3ecef
}

.slide-panel__contacts-item__block:link,
.slide-panel__contacts-item__block:visited {
    text-decoration: none
}

.slide-panel__contacts-item__icon>i {
    font-size: 23px;
    color: #b2c7cb
}

.slide-panel__contacts-item__text {
    color: #3d4b52
}

.slide-panel__contacts-item__text-text {
    color: #55686e
}

.slide-panel__contacts-item__today-icon>i {
    font-size: 23px;
    color: #b2c7cb
}

.slide-panel__contacts-item__today-title {
    text-align: right
}

.slide-panel__contacts-item__today-status {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}

.slide-panel__contacts-item__today-status-open {
    background: #3ac769
}

.slide-panel__contacts-item__today-status-closed {
    background: #ed4343
}

.slide-panel__contacts-item__hours-icon>i {
    font-size: 16px;
    color: #b2c7cb;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .slide-panel__contacts-item__hours-icon>i:hover,
.bx-touch .slide-panel__contacts-item__hours-icon>i:active {
    color: #6639b6
}

.slide-panel__contacts-item__break {
    font-size: 14px;
    color: #8ea6ab;
    line-height: 17px
}

.slide-panel__contacts-item__link:link,
.slide-panel__contacts-item__link:visited {
    color: #3d4b52;
    text-decoration: none
}

.slide-panel__contacts-item__phone {
    font-family: "Museo Sans Cyrl 700", sans-serif;
    font-size: 20px;
    line-height: 24px
}

.slide-panel__contacts-item__descr {
    font-size: 14px;
    color: #8ea6ab;
    line-height: 17px
}

.slide-panel__form-title {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 20px;
    color: #3d4b52;
    line-height: 24px
}

.form-group>label {
    font-weight: 300;
    text-align: center
}

.form-control {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 16px;
    color: #3d4b52;
    line-height: 34px;
    border: 1px solid #d0e0e3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    background-color: transparent;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text
}

textarea.form-control {
    line-height: 24px
}

.has-error .form-control,
.has-success .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.form-control:focus {
    border-color: #6639b6;
    -webkit-box-shadow: 0 0 5px rgba(211, 17, 90, .5);
    -moz-box-shadow: 0 0 5px rgba(211, 17, 90, .5);
    box-shadow: 0 0 5px rgba(211, 17, 90, .5)
}

.has-error .form-control:focus {
    -webkit-box-shadow: 0 0 10px rgba(169, 68, 66, .75);
    -moz-box-shadow: 0 0 10px rgba(169, 68, 66, .75);
    box-shadow: 0 0 10px rgba(169, 68, 66, .75)
}

.has-success .form-control:focus {
    -webkit-box-shadow: 0 0 10px rgba(60, 118, 61, .75);
    -moz-box-shadow: 0 0 10px rgba(60, 118, 61, .75);
    box-shadow: 0 0 10px rgba(60, 118, 61, .75)
}

.form-control::-moz-placeholder {
    color: #8ea6ab
}

.form-control:-ms-input-placeholder {
    color: #8ea6ab
}

.form-control::-webkit-input-placeholder {
    color: #8ea6ab
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #e3ecef
}

.form-control-feedback {
    font-size: 19px;
    color: #d0e0e3
}

.form-group-checkbox .form-control-feedback {
    line-height: 18px
}

.form-group.captcha .pic img {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px
}

.form-group .checkbox label,
.form-group .radio label {
    font-weight: 300
}

.form-group .checkbox .check,
.form-group .radio .check {
    font-size: 14px;
    color: #fff;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #cfdfe2;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.form-group .radio .check {
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    border-radius: 9px
}

.has-error .checkbox .check,
.has-error .radio .check {
    border: 1px solid #a94442
}

.bx-no-touch .form-group .checkbox label:hover .check-cont .check,
.bx-touch .form-group .checkbox label:active .check-cont .check,
.bx-no-touch .form-group .radio label:hover .check-cont .check,
.bx-touch .form-group .radio label:active .check-cont .check {
    background-color: #8ea6ab
}

.form-group .checkbox input:checked+.check-cont .check,
.form-group .checkbox input:checked+label .check-cont .check,
.form-group .radio input:checked+.check-cont .check {
    background-color: #6639b6
}

.form-group .checkbox .check-title,
.form-group .radio .check-title {
    font-size: 14px;
    color: #8ea6ab;
    line-height: 17px
}

.form-group select {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 16px;
    color: #3d4b52;
    line-height: 34px;
    border: 1px solid #d0e0e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px
}

.help-block {
    font-size: 14px;
    line-height: 17px
}

.alert {
    color: #3d4b52;
    border: none
}

.alert-success {
    background-color: #e1ecc9
}

.alert-warning {
    background-color: #f6eec7
}

.alert-error {
    background-color: #f2e2e1
}

.popup-window-overlay {
    background-color: rgba(61, 75, 82, .5)
}

.popup-window {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 36px rgba(85, 104, 110, .18);
    -moz-box-shadow: 0 0 36px rgba(85, 104, 110, .18);
    box-shadow: 0 0 36px rgba(85, 104, 110, .18)
}

.slide-panel .bx-authform-social ul {
    text-align: center
}

.bx-authform-social ul li .bx-authform-social-icon {
    border-bottom: none;
    background-image: url(images/sprite.png);
    background-repeat: no-repeat
}

.bx-authform-social ul li .bx-authform-social-icon.box {
    background-position: 0 0
}

.bx-authform-social ul li .bx-authform-social-icon.dropbox {
    background-position: -44px 0
}

.bx-authform-social ul li .bx-authform-social-icon.bitrix24 {
    background-position: -88px 0
}

.bx-authform-social ul li .bx-authform-social-icon.yandex {
    background-position: -132px 0
}

.bx-authform-social ul li .bx-authform-social-icon.openid {
    background-position: -176px 0
}

.bx-authform-social ul li .bx-authform-social-icon.odnoklassniki {
    background-position: -220px 0
}

.bx-authform-social ul li .bx-authform-social-icon.google {
    background-position: -264px 0
}

.bx-authform-social ul li .bx-authform-social-icon.mymailru {
    background-position: -308px 0
}

.bx-authform-social ul li .bx-authform-social-icon.livejournal {
    background-position: -352px 0
}

.bx-authform-social ul li .bx-authform-social-icon.openid-mail-ru {
    background-position: -440px 0
}

.bx-authform-social ul li .bx-authform-social-icon.liveid {
    background-position: -484px 0
}

.bx-authform-social ul li .bx-authform-social-icon.liveinternet {
    background-position: -528px 0
}

.bx-authform-social ul li .bx-authform-social-icon.blogger {
    background-position: -572px 0
}

.bx-authform-social ul li .bx-authform-social-icon.vkontakte {
    background-position: -616px 0
}

.bx-authform-social ul li .bx-authform-social-icon.twitter {
    background-position: -660px 0
}

.bx-authform-social ul li .bx-authform-social-icon.facebook {
    background-position: -704px 0
}

.bx-authform-social ul li .bx-authform-social-icon.google-plus {
    background-position: -748px 0
}

.bx-authform-social ul li .bx-authform-social-icon.office365 {
    background-position: -792px 0
}

.bx-authform-social-popup {
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    background: #fff
}

body>.main-user-consent-request-popup {
    background-color: rgba(61, 75, 82, .5)
}

.main-user-consent-request-popup-cont {
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 36px rgba(85, 104, 110, .18);
    -moz-box-shadow: 0 0 36px rgba(85, 104, 110, .18);
    box-shadow: 0 0 36px rgba(85, 104, 110, .18);
    background: #fff;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.main-user-consent-request-popup-header {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 20px;
    color: #3d4b52;
    text-align: left;
    line-height: 24px
}

.main-user-consent-request-popup-text {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 16px;
    color: #3d4b52;
    -webkit-text-fill-color: #3d4b52;
    border: 1px solid #d0e0e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-appearance: none;
    background: #fff;
    -webkit-opacity: 1
}

.main-user-consent-request-loader {
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%)
}

.main-user-consent-request-path {
    stroke: #80868e;
    stroke-dasharray: 100, 200
}

.main-user-consent-request-loader:before {
    content: ""
}

.main-user-consent-request-circular {
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.main-user-consent-request-path {
    stroke: #ccc;
    stroke-dasharray: 60, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

.bx-panel-tooltip {
    border: none;
    -moz-border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -khtml-border-radius: 5px!important;
    border-radius: 5px!important;
    -webkit-box-shadow: 0 0 24px rgba(85, 104, 110, .36)!important;
    -moz-box-shadow: 0 0 24px rgba(85, 104, 110, .36)!important;
    box-shadow: 0 0 24px rgba(85, 104, 110, .36)!important;
    background: #f1f6f7
}

.bx-panel-tooltip-text {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 14px!important;
    font-weight: 300!important;
    color: #55686e!important;
    line-height: 17px;
    text-shadow: none
}

.table-bordered,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-color: #e3ecef
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: #f1f6f7
}

.bx-no-touch .table-hover>tbody>tr:hover,
.bx-touch .table-hover>tbody>tr:active {
    background-color: #e3ecef
}

.btn {
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 16px;
    line-height: 19px;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.btn-default,
.btn-default:focus,
a.btn-default:link,
a.btn-default:visited,
a.btn-default:focus {
    color: #3d4b52;
    text-decoration: none;
    border-color: #e3ecef;
    background: none
}

.btn-success,
.btn-success:focus,
a.btn-success:link,
a.btn-success:visited,
a.btn-success:focus {
    color: #fff;
    text-decoration: none;
    border-color: transparent;
    background: #467d47
}

.btn-reset,
.btn-reset:focus {
    color: #d0e0e3;
    border-color: #55686e;
    background: none
}

.btn-cancel,
.btn-cancel:focus {
    color: #d0e0e3;
    border-color: #6e858a;
    background: none
}

.btn-more,
.btn-more:focus {
    border-color: transparent;
    background: #f1f6f7
}

.bx-no-touch .btn-default:hover,
.bx-touch .btn-default:active,
.bx-no-touch a.btn-default:hover,
.bx-touch a.btn-default:active,
.bx-no-touch .btn-success:hover,
.bx-touch .btn-success:active,
.bx-no-touch a.btn-success:hover,
.bx-touch a.btn-success:active,
.bx-no-touch .btn-reset:hover,
.bx-touch .btn-reset:active,
.bx-no-touch .btn-cancel:hover,
.bx-touch .btn-cancel:active,
.bx-no-touch .btn-more:hover,
.bx-touch .btn-more:active {
    color: #fff;
    border-color: #6639b6;
    background: #6639b6
}

.btn-primary,
.btn-primary:focus,
a.btn-primary:link,
a.btn-primary:visited,
a.btn-primary:focus {
    color: #fff;
    text-decoration: none;
    border-color: transparent;
    background: #6639b6
}

.bx-no-touch .btn-primary:hover,
.bx-touch .btn-primary:active,
.bx-no-touch a.btn-primary:hover,
.bx-touch a.btn-primary:active {
    color: #fff;
    border-color: transparent;
    background: #7345c4
}

a.btn-slider:link,
a.btn-slider:visited,
a.btn-slider:focus {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    line-height: 22px;
    border-color: transparent
}

a.btn-slider-1:link,
a.btn-slider-1:visited,
a.btn-slider-1:focus {
    background: #6639b6
}

a.btn-slider-2:link,
a.btn-slider-2:visited,
a.btn-slider-2:focus {
    -webkit-box-shadow: 0 3px 12px rgba(61, 75, 82, .24);
    -moz-box-shadow: 0 3px 12px rgba(61, 75, 82, .24);
    box-shadow: 0 3px 12px rgba(61, 75, 82, .24);
    background: #008d55;
    background: -moz-linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
    background: -webkit-linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
    background: linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008d55', endColorstr='#91cd4c', GradientType=1);
    background-origin: border-box
}

a.btn-slider-2:after {
    content: "";
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: #6639b6;
    opacity: 0;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

a.btn-slider-3:link,
a.btn-slider-3:visited,
a.btn-slider-3:focus {
    color: #3d4b52;
    background: #fff
}

a.btn-slider-4:link,
a.btn-slider-4:visited,
a.btn-slider-4:focus {
    background: #8ea6ab
}

.bx-no-touch a.btn-slider:hover,
.bx-touch a.btn-slider:active {
    color: #fff;
    border-color: transparent;
    background: #6639b6
}

.bx-no-touch a.btn-slider-1:hover,
.bx-touch a.btn-slider-1:active {
    background: #7345c4
}

.bx-no-touch a.btn-slider-2:hover:after,
.bx-touch a.btn-slider-2:active:after {
    opacity: 1
}

.btn-buy,
.btn-buy:focus,
a.btn-buy:link,
a.btn-buy:visited,
a.btn-buy:focus {
    color: #fff;
    text-decoration: none;
    border-color: transparent;
    -webkit-box-shadow: 0 3px 12px rgba(61, 75, 82, .24);
    -moz-box-shadow: 0 3px 12px rgba(61, 75, 82, .24);
    box-shadow: 0 3px 12px rgba(61, 75, 82, .24);
    background: #008d55;
    background: -moz-linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
    background: -webkit-linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
    background: linear-gradient(10deg, #008d55 0%, #91cd4c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008d55', endColorstr='#91cd4c', GradientType=1);
    background-origin: border-box
}

.btn-buy:after,
a.btn-buy:after {
    content: "";
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: #6639b6;
    opacity: 0;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.bx-no-touch .btn-buy:hover,
.bx-touch .btn-buy:active,
.bx-no-touch a.btn-buy:hover,
.bx-touch a.btn-buy:active {
    color: #fff
}

.bx-no-touch input[type="button"].btn-buy:hover,
.bx-touch input[type="button"].btn-buy:active {
    background: #6639b6;
    background: -moz-linear-gradient(10deg, #6639b6 0%, #6639b6 100%);
    background: -webkit-linear-gradient(10deg, #6639b6 0%, #6639b6 100%);
    background: linear-gradient(10deg, #6639b6 0%, #6639b6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#6639b6', endColorstr='#6639b6', GradientType=1)
}

.bx-no-touch .btn-buy:hover:after,
.bx-touch .btn-buy:active:after,
.bx-no-touch a.btn-buy:hover:after,
.bx-touch a.btn-buy:active:after {
    opacity: 1
}

.btn-buy-ok,
.btn-buy-ok:focus {
    color: #3d4b52;
    border-color: #008d55;
    background: none
}

.bx-no-touch .btn-buy-ok:hover,
.bx-touch .btn-buy-ok:active {
    color: #fff;
    border-color: transparent;
    background: #6639b6
}

.btn-order,
.btn-order:focus {
    color: #fff;
    border-color: transparent;
    background: #d0e0e3
}

.bx-no-touch .btn-order:hover,
.bx-touch .btn-order:active {
    color: #fff;
    border-color: transparent;
    background: #6639b6
}

.btn.disabled,
.btn.disabled:focus,
.bx-no-touch .btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:active:focus,
.btn.disabled:active:hover,
.btn[disabled],
.btn[disabled]:focus,
.bx-no-touch .btn[disabled]:hover,
.btn[disabled]:active,
.btn[disabled]:active:focus,
.btn[disabled]:active:hover {
    color: #3d4b52;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #e3ecef;
    opacity: 1
}

.btn-buy[disabled]:after,
.btn-buy[disabled]:focus:after,
.bx-no-touch .btn-buy[disabled]:hover:after,
.btn-buy[disabled]:active:after,
.btn-buy[disabled]:active:focus:after,
.btn-buy[disabled]:active:hover:after {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #e3ecef
}

.bx-no-touch .btn-default:active,
.bx-no-touch .btn-default:active:focus,
.bx-no-touch .btn-default:active:hover,
.bx-no-touch a.btn-default:active,
.bx-no-touch a.btn-default:active:focus,
.bx-no-touch a.btn-default:active:hover,
.bx-no-touch .btn-primary:active,
.bx-no-touch .btn-primary:active:focus,
.bx-no-touch .btn-primary:active:hover,
.bx-no-touch a.btn-primary:active,
.bx-no-touch a.btn-primary:active:focus,
.bx-no-touch a.btn-primary:active:hover,
.bx-no-touch a.btn-slider:active,
.bx-no-touch a.btn-slider:active:focus,
.bx-no-touch a.btn-slider:active:hover,
.bx-no-touch .btn-buy:active,
.bx-no-touch .btn-buy:active:focus,
.bx-no-touch .btn-buy:active:hover,
.bx-no-touch a.btn-buy:active,
.bx-no-touch a.btn-buy:active:focus,
.bx-no-touch a.btn-buy:active:hover,
.bx-no-touch .btn-buy-ok:active,
.bx-no-touch .btn-buy-ok:active:focus,
.bx-no-touch .btn-buy-ok:active:hover,
.bx-no-touch .btn-order:active,
.bx-no-touch .btn-order:active:focus,
.bx-no-touch .btn-order:active:hover,
.bx-no-touch .btn-success:active,
.bx-no-touch .btn-success:active:focus,
.bx-no-touch .btn-success:active:hover,
.bx-no-touch a.btn-success:active,
.bx-no-touch a.btn-success:active:focus,
.bx-no-touch a.btn-success:active:hover,
.bx-no-touch .btn-reset:active,
.bx-no-touch .btn-reset:active:focus,
.bx-no-touch .btn-reset:active:hover,
.bx-no-touch .btn-cancel:active,
.bx-no-touch .btn-cancel:active:focus,
.bx-no-touch .btn-cancel:active:hover,
.bx-no-touch .btn-more:active,
.bx-no-touch .btn-more:active:focus,
.bx-no-touch .btn-more:active:hover {
    color: #fff;
    border-color: #8ea6ab;
    -webkit-box-shadow: 5px 5px 5px rgba(9, 12, 18, .15) inset;
    -moz-box-shadow: 5px 5px 5px rgba(9, 12, 18, .15) inset;
    box-shadow: 5px 5px 5px rgba(9, 12, 18, .15) inset;
    background: #8ea6ab
}

.bx-no-touch a.btn-slider-2:active:after,
.bx-no-touch a.btn-slider-2:active:focus:after,
.bx-no-touch a.btn-slider-2:active:hover:after,
.bx-no-touch .btn-buy:active:after,
.bx-no-touch .btn-buy:active:focus:after,
.bx-no-touch .btn-buy:active:hover:after,
.bx-no-touch a.btn-buy:active:after,
.bx-no-touch a.btn-buy:active:focus:after,
.bx-no-touch a.btn-buy:active:hover:after {
    -webkit-box-shadow: 5px 5px 5px rgba(9, 12, 18, .15) inset;
    -moz-box-shadow: 5px 5px 5px rgba(9, 12, 18, .15) inset;
    box-shadow: 5px 5px 5px rgba(9, 12, 18, .15) inset;
    background: #8ea6ab
}

.btn>i {
    font-size: 21px;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s
}

.btn-default>i {
    color: #d0e0e3
}

.btn-reset>i {
    color: #697f84
}

.bx-no-touch .btn-default:hover>i,
.bx-touch .btn-default:active>i,
.bx-no-touch .btn-reset:hover>i,
.bx-touch .btn-reset:active>i {
    color: #fff
}

.btn-primary>i,
.btn-success>i,
.btn-buy>i {
    color: #fff
}

.btn-buy-ok>i {
    color: #008d55
}

.bx-no-touch .btn-buy-ok:hover>i,
.bx-touch .btn-buy-ok:active>i {
    color: #fff
}

.btn.disabled>i,
.btn[disabled]>i,
.bx-no-touch .btn[disabled]:hover>i,
.btn[disabled]:active>i {
    color: #b2c7cb
}

@media(max-width:991px) {
    .slide-menu-option-1-active .page-container-wrapper:before,
    .slide-menu-option-2 .page-container-wrapper:before {
        content: none
    }
    .top-panel {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    .top-panel__thead,
    .top-panel__tfoot {
        -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        -moz-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        background: url(/local/templates/enext/images/topbg.jpg)
    }
    .top-panel.tabs-fixed .top-panel__tfoot {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    .top-panel__thead.tabs-fixed,
    .top-panel__tfoot.tabs-fixed {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    .slide-menu-option-2 .top-panel__menu-icon-container {
        background: none;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s
    }
    .bx-no-touch .slide-menu-option-2 .top-panel__menu-icon-container:hover,
    .bx-touch .slide-menu-option-2 .top-panel__menu-icon-container:active {
        background: none
    }
    .slide-menu-option-2 .top-panel__menu-icon-container>i {
        color: #fff
    }
    .slide-panel .top-panel__search input[type="text"] {
        color: #8ea6ab;
        border: 1px solid #d0e0e3;
        background: #fff
    }
    .slide-panel .top-panel__search .fa-search {
        color: #d5e3e6;
        opacity: 1
    }
    .top-panel__contacts-block:before {
        content: "";
        background-color: #f1f6f7
    }
    .top-panel__contacts-icon {
        text-align: center
    }
    .top-panel__compare-block:before {
        content: "";
        background-color: #f1f6f7
    }
    .top-panel__compare-link {
        text-align: center
    }
    .mini-cart>a {
        text-align: center
    }
    .mini-cart>a:before {
        content: "";
        background-color: #f1f6f7
    }
    .top-panel__user-link:before {
        content: "";
        background-color: #f1f6f7
    }
    .slider .slider-item:before {
        content: "";
        background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
        background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
        background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#3d4b52", GradientType=0)
    }
    .slider-item__title,
    .slider-item__text {
        text-overflow: ellipsis;
        text-shadow: none;
        white-space: nowrap
    }
    .slider-item__title {
        font-family: "Museo Sans Cyrl 500", sans-serif;
        font-size: 24px;
        line-height: 29px
    }
    .slider-item__text {
        font-size: 16px;
        line-height: 19px
    }
    .banners-item-icon>i {
        font-size: 75px
    }
    .banners-item-title {
        font-size: 20px;
        line-height: 24px
    }
    .tabs__list {
        border: none;
        background-color: #f1f6f7
    }
    .tabs__scroll .owl-prev {
        background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0, #f1f6f7 44px, #f1f6f7 44px);
        background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0, #f1f6f7 44px, #f1f6f7 44px);
        background: linear-gradient(to left, rgba(241, 246, 247, 0) 0, #f1f6f7 44px, #f1f6f7 44px);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f1f6f7", endColorstr="#00f1f6f7", GradientType=1)
    }
    .tabs__scroll .owl-next {
        background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0, #f1f6f7 44px, #f1f6f7 44px);
        background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0, #f1f6f7 44px, #f1f6f7 44px);
        background: linear-gradient(to right, rgba(241, 246, 247, 0) 0, #f1f6f7 44px, #f1f6f7 44px);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00f1f6f7", endColorstr="#f1f6f7", GradientType=1)
    }
    .catalog-sections .h1 {
        font-family: "Museo Sans Cyrl 300", sans-serif;
        font-size: 16px;
        line-height: 19px
    }
    .catalog-sections .catalog-section-item {
        border: none;
        border-bottom: 1px solid #e8edef;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }
    .bx-no-touch .catalog-sections .catalog-section-item:hover,
    .bx-touch .catalog-sections .catalog-section-item:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    .catalog-section-item__graph>i {
        font-size: 36px
    }
    .catalog-section-item__title {
        text-align: left
    }
    .services-item__pic-wrapper,
    .section-item__pic-wrapper {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0
    }
    .services-item__pic,
    .section-item__pic {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }
    .bx-no-touch .services .services-item:hover .services-item__pic,
    .bx-touch .services .services-item:active .services-item__pic,
    .bx-no-touch .sections .section-item:hover .section-item__pic,
    .bx-touch .sections .section-item:active .section-item__pic {
        -moz-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none
    }
    .services-item__icon-wrapper,
    .section-item__icon-wrapper {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
        background: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }
    .bx-no-touch .services .services-item:hover .services-item__icon-wrapper,
    .bx-touch .services .services-item:active .services-item__icon-wrapper,
    .bx-no-touch .sections .section-item:hover .section-item__icon-wrapper,
    .bx-touch .sections .section-item:active .section-item__icon-wrapper {
        background: none
    }
    .services-item__icon,
    .section-item__icon {
        -moz-border-radius: 90px;
        -webkit-border-radius: 90px;
        -khtml-border-radius: 90px;
        border-radius: 90px;
        background-color: #f1f6f7;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s
    }
    .bx-no-touch .services .services-item:hover .services-item__icon,
    .bx-touch .services .services-item:active .services-item__icon,
    .bx-no-touch .sections .section-item:hover .section-item__icon,
    .bx-touch .sections .section-item:active .section-item__icon {
        background-color: #fff
    }
    .services-item__icon i,
    .section-item__icon i {
        font-size: 32px
    }
    .bx-no-touch .services .services-item:hover .services-item__icon i,
    .bx-touch .services .services-item:active .services-item__icon i,
    .bx-no-touch .sections .section-item:hover .section-item__icon i,
    .bx-touch .sections .section-item:active .section-item__icon i {
        -moz-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none
    }
    .services-item__caption,
    .section-item__caption {
        text-align: left
    }
    .services-item__title,
    .section-item__title {
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s
    }
    h1,
    .h1 {
        font-size: 24px;
        line-height: 29px
    }
    h2,
    .h2 {
        font-size: 20px;
        line-height: 24px
    }
    .navigation-back>i {
        font-size: 16px
    }
    .navigation-title {
        font-family: "Museo Sans Cyrl 700", sans-serif;
        font-size: 16px;
        color: #263238;
        text-align: center;
        line-height: 19px
    }
    .gallery-item__text {
        font-size: 14px;
        line-height: 17px
    }
    .news-item__pic img {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }
    .bx-no-touch .news .news-item:hover .news-item__pic img,
    .bx-touch .news .news-item:active .news-item__pic img {
        -moz-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none
    }
    .site-opening .countdown-amount {
        font-size: 24px;
        line-height: 38px
    }
    .footer__copyright {
        text-align: center
    }
    .bottom-menu .footer-menu>li {
        border-bottom: 1px solid #263238
    }
    .footer-menu>li>a {
        text-align: center
    }
    .bottom-menu .footer-menu>li>a {
        text-align: left
    }
    .catalog-section:before {
        content: "";
        background: #e8edef
    }
    .catalog-section-list+.catalog-section:before {
        content: none
    }
    .catalog-section-sort-popup {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0
    }
    .catalog-section-more .btn {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0
    }
    .slide-panel {
        -webkit-transition: width 0.3s ease 0s, right 0.3s ease 0s;
        -moz-transition: width 0.3s ease 0s, right 0.3s ease 0s;
        -o-transition: width 0.3s ease 0s, right 0.3s ease 0s;
        transition: width 0.3s ease 0s, right 0.3s ease 0s
    }
    .main-user-consent-request-popup-cont {
        -moz-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none
    }
    .main-user-consent-request-popup-header {
        font-weight: 300
    }
}

@media(min-width:992px) and (max-width:1271px) {
    .catalog-section-item__graph>i {
        font-size: 72px
    }
}

@media(min-width:992px) and (max-width:1042px) {
    .slide-menu-option-2 .page-container-wrapper:before {
        content: none
    }
    .slide-menu-option-2 .top-panel__menu-icon-container {
        background: none;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s
    }
    .bx-no-touch .slide-menu-option-2 .top-panel__menu-icon-container:hover,
    .bx-touch .slide-menu-option-2 .top-panel__menu-icon-container:active {
        background: none
    }
    .slide-menu-option-2 .top-panel__menu-icon-container>i {
        color: #fff
    }
}

@media(min-width:992px) and (max-width:1499px) {
    .slide-menu-option-1-active .page-container-wrapper:before {
        content: none
    }
}