.top-panel__logo-icon {
    display: block;
    width: 313px;
    height: 107px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

@media (max-width:991px) {
    .top-panel__logo-icon {
        width: 163px;
        height: 56px
    }
}

.bg-ul {
    display: table;
    position: relative;
    list-style: none!important;
    left: -31px;
    margin: 5px 0 0 0;
    padding: 0;
    padding-bottom: 35px;
    padding-left: 20px;
    float: left
}

.bg-ul.bg-ul_reversed {
    left: auto;
    right: -31px;
    padding-left: 0;
    padding-right: 20px;
    float: right
}

.bg-ul.bg-ul_float_none {
    float: none
}

.bg-ul.bg-ul_max-width_50 {
    max-width: 50%
}

.bg-ul .bg-ul__row {
    display: table-row;
    margin: 0
}

.bg-ul .bg-ul__row .bg-ul__cell {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 0 15px 0;
    width: 100%
}

.bg-ul.bg-ul_reversed .bg-ul__row .bg-ul__cell {
    text-align: right
}

.bg-ul .bg-ul__cell-title {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    padding: 6px;
    color: #fff;
    font-size: 21.5px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px .92px rgba(17, 16, 14, .75);
    background: rgba(53, 166, 218, 1);
    background: linear-gradient(to left, transparent, rgba(53, 166, 218, 1), rgba(53, 166, 218, 1), transparent)
}

@media (min-width:785px) {
    .bg-ul .bg-ul__row .bg-ul__cell {
        padding-left: 170px;
        height: 145px
    }
    .bg-ul.bg-ul_reversed .bg-ul__row .bg-ul__cell {
        padding-left: 0;
        padding-right: 170px
    }
    .bg-ul .bg-ul__row:first-child .bg-ul__cell,
    .bg-ul .bg-ul__row:last-child .bg-ul__cell {
        padding-left: 130px;
        height: 130px
    }
    .bg-ul.bg-ul_reversed .bg-ul__row:first-child .bg-ul__cell,
    .bg-ul.bg-ul_reversed .bg-ul__row:last-child .bg-ul__cell {
        padding-left: 0;
        padding-right: 130px
    }
    .bg-ul .bg-ul__cell-title {
        margin-left: -150px;
        padding-left: 150px;
        padding-right: 150px
    }
}

@media (max-width:785px) {
    .bg-ul {
        background: none!important
    }
    .bg-ul .bg-ul__row:first-child .bg-ul__cell .bg-ul .bg-ul__row:last-child .bg-ul__cell .bg-ul .bg-ul__row .bg-ul__cell {
        padding-left: 0px!important;
        padding-right: 0px!important
    }
    .bg-ul .bg-ul__cell-title {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (min-width:785px) {
    .bg-ul.bg-ul_about {
        background: url(images/ul_bg/about-ul-bg.png) left top no-repeat
    }
    .bg-ul.bg-ul_delivery {
        background: url(images/ul_bg/delivery-ul-bg.png) left top no-repeat
    }
    .bg-ul.bg-ul_delivery .bg-ul__row .bg-ul__cell {
        height: 215px;
        padding-left: 330px
    }
    .bg-ul.bg-ul_delivery .bg-ul__row:first-child .bg-ul__cell,
    .bg-ul.bg-ul_delivery .bg-ul__row:last-child .bg-ul__cell {
        padding-left: 210px
    }
    .bg-ul.bg-ul_electrical-1 {
        background: url(images/ul_bg/electrical-block1-bg.png) left top no-repeat
    }
    .bg-ul.bg-ul_electrical-2 {
        background: url(images/ul_bg/electrical-block2-bg.png) right top no-repeat
    }
    .bg-ul.bg-ul_electrical-3 {
        background: url(images/ul_bg/electrical-block3-bg.png) right top no-repeat
    }
    .bg-ul.bg-ul_electrical-4 {
        background: url(images/ul_bg/electrical-block4-bg.png) right top no-repeat
    }
    .bg-ul.bg-ul_electrical-5 {
        background: url(images/ul_bg/electrical-block5-bg.png) right top no-repeat
    }
    .bg-ul.bg-ul_electrical-2 .bg-ul__row:last-child .bg-ul__cell,
    .bg-ul.bg-ul_electrical-3 .bg-ul__row:last-child .bg-ul__cell,
    .bg-ul.bg-ul_electrical-4 .bg-ul__row:last-child .bg-ul__cell,
    .bg-ul.bg-ul_electrical-4 .bg-ul__row:first-child .bg-ul__cell,
    .bg-ul.bg-ul_electrical-5 .bg-ul__row:last-child .bg-ul__cell {
        height: 155px
    }
    .bg-ul.bg-ul_electrical-1 .bg-ul__row:nth-child(3) .bg-ul__cell {
        padding-left: 180px
    }
    .bg-ul.bg-ul_electrical-4 .bg-ul__row .bg-ul__cell {
        padding-right: 170px
    }
}