.slide-panel-active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0
}

.page-wrapper-rel {
    position: relative
}

.page-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1
}

.page-bg__fixed {
    position: fixed
}

.page-container-wrapper {
    overflow: hidden
}

.slide-menu-option-1-active .page-container-wrapper {
    margin-left: 278px
}

.slide-menu-option-2 .page-container-wrapper {
    margin-left: 72px
}

.slide-menu-option-1-active .page-container-wrapper:before,
.slide-menu-option-2 .page-container-wrapper:before {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 203
}

.slide-menu-option-1-active .page-container-wrapper:before {
    width: 278px
}

.slide-menu-option-2 .page-container-wrapper:before {
    width: 72px
}

.page-container {
    width: 1298px;
    margin: 0 auto;
    overflow: hidden
}

.clr {
    clear: both
}

p {
    margin: 0;
    padding: 0 0 18px
}

.top-menu-wrapper {
    width: 100%;
    position: relative;
    z-index: 206
}

.top-menu-wrapper:after {
    display: table;
    clear: both
}

.top-menu {
    float: left
}

.top-panel-wrapper,
.top-panel {
    width: 100%
}

.top-panel__logo {
    padding-top: 16px;
    padding-bottom: 16px
}

.top-panel {
    position: relative;
    z-index: 205
}

.top-panel.fixed {
    position: fixed;
    left: 0;
    top: 0
}

.top-panel__cols {
    width: 100%;
    display: table
}

.top-panel__col {
    float: none;
    display: table-cell;
    vertical-align: middle
}

.top-panel__thead {
    width: 1px
}

.top-panel__tfoot {
    padding-left: 34px
}

.top-panel__menu-icon-container {
    min-width: 72px;
    cursor: pointer
}

.slide-menu-option-2 .top-panel__menu-icon-container {
    cursor: default
}

.top-panel__logo {
    padding-left: 24px
}

.top-panel__logo a {
    height: 72px;
    display: flex;
    align-items: center
}

.top-panel__logo a>i {
    padding-right: 8px
}

.top-panel__logo a>span+span {
    padding-left: 2px;
    padding-bottom: 12px
}

.top-panel__logo a>img {
    width: auto;
    height: auto;
    max-height: 72px
}

.top-panel__search-container {
    width: 258px
}

.top-panel__search-container-button {
    width: 1px
}

.top-panel__search-btn {
    height: 72px;
    display: table;
    padding: 0 18px
}

.top-panel__search-icon {
    display: table-cell;
    vertical-align: middle
}

.top-panel__search {
    position: relative
}

.slide-panel .top-panel__search {
    display: block!important;
    margin-top: 24px
}

.top-panel__search input[type="text"] {
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0 36px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.top-panel__search i {
    position: absolute;
    left: 10px;
    top: 10px
}

.top-panel__search i+i {
    left: unset;
    right: 10px
}

.top-panel__contacts {
    width: 1px
}

.top-panel__contacts-block {
    height: 72px;
    display: table;
    padding: 0 18px
}

.top-panel__contacts-icon,
.top-panel__contacts-caption {
    display: table-cell;
    vertical-align: middle
}

.top-panel__contacts-caption {
    padding: 0 12px
}

.top-panel__contacts-title,
.top-panel__contacts-descr {
    display: block
}

.top-panel__compare {
    width: 1px
}

.top-panel__compare-block {
    height: 72px;
    display: table
}

.top-panel__compare-link {
    display: table-cell;
    vertical-align: middle;
    padding: 0 18px
}

.top-panel__compare-count {
    display: inline-block;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -4px;
    padding: 0 5px
}

.top-panel__mini-cart {
    width: 1px
}

.mini-cart {
    height: 72px;
    display: table
}

.mini-cart>a {
    display: table-cell;
    vertical-align: middle;
    padding: 0 18px
}

.mini-cart__count {
    display: inline-block;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -4px;
    padding: 0 5px
}

.top-panel__user {
    width: 1px
}

.top-panel__user-link {
    height: 72px;
    display: table;
    padding: 0 18px
}

.top-panel__user-graph-wrap {
    display: table-cell;
    vertical-align: middle
}

.top-panel__user-graph {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.top-panel__user-graph>img {
    width: auto;
    max-width: 32px;
    height: auto;
    max-height: 32px
}

.slider-wrapper {
    width: 100%
}

.slider {
    overflow: hidden
}

.slider .slider-item {
    width: 100%;
    height: -moz-calc(100vw / 3.2);
    height: -webkit-calc(100vw / 3.2);
    height: calc(100vw / 3.2);
    position: relative
}

.slide-menu-option-1-active .slider .slider-item {
    height: -moz-calc((100vw - 278px) / 3.2);
    height: -webkit-calc((100vw - 278px) / 3.2);
    height: calc((100vw - 278px) / 3.2)
}

.slide-menu-option-2 .slider .slider-item {
    height: -moz-calc((100vw - 72px) / 3.2);
    height: -webkit-calc((100vw - 72px) / 3.2);
    height: calc((100vw - 72px) / 3.2)
}

.page-container .slider .slider-item,
.slide-menu-option-1-active .page-container .slider .slider-item,
.slide-menu-option-2 .page-container .slider .slider-item {
    height: -moz-calc(1298px / 3.2);
    height: -webkit-calc(1298px / 3.2);
    height: calc(1298px / 3.2)
}

.slider .slider-item+.slider-item {
    display: none
}

.slider-item__video {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.slider-item__caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px 0
}

.slider-item__caption.top {
    justify-content: flex-start
}

.slider-item__caption.middle {
    justify-content: center
}

.slider-item__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px
}

.slider-item__caption.left .slider-item__block {
    align-items: flex-start
}

.slider-item__caption.right .slider-item__block {
    align-items: flex-end
}

.slider-item__buttons {
    display: flex;
    margin-top: 17px
}

.slider-item__buttons>a {
    float: left
}

.slider-item__buttons>a+a {
    margin-left: 12px
}

.slider .owl-prev,
.slider .owl-next {
    width: 60px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    z-index: 1
}

.slider .owl-prev {
    left: -60px
}

.bx-no-touch .slider:hover .owl-prev {
    left: 0
}

.slider .owl-next {
    right: -60px
}

.bx-no-touch .slider:hover .owl-next {
    right: 0
}

.slider .owl-prev.disabled,
.slider .owl-next.disabled {
    display: none
}

.slider .owl-controls {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 32px
}

.slider .owl-dots {
    display: table;
    margin: -16px auto 0;
    position: relative;
    top: -32px
}

.slider .owl-dot {
    float: left;
    margin-right: 10px
}

.slider .owl-dot:last-child {
    margin: 0
}

.slider .owl-dot span {
    width: 16px;
    height: 16px;
    display: block
}

.banners-wrapper {
    width: 100%
}

.banners-items {
    width: 100%;
    display: table
}

.banners-item-container {
    display: table-cell
}

.banners-item {
    height: 350px;
    display: block;
    position: relative;
    overflow: hidden
}

.banners-item-pic,
.banners-item-block-container,
.banners-item-block-container:before,
.banners-item-block-container:after,
.banners-item-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.banners-item-pic {
    z-index: 198
}

.banners-item-block-container {
    z-index: 199
}

.banners-item-block-container:after {
    opacity: 0
}

.bx-no-touch .banners-item-container:hover .banners-item-block-container:after,
.bx-touch .banners-item-container:active .banners-item-block-container:after {
    opacity: 1
}

.banners-item-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    z-index: 200
}

.banners-item-icon {
    margin-bottom: 32px
}

.banners-item-title,
.banners-item-text {
    max-width: 100%;
    overflow: hidden
}

.advantages {
    padding-top: 32px;
    padding-bottom: 12px;
    padding-left: 24px
}

.advantages .col-xs-12.col-md-3 {
    float: none;
    display: inline-block;
    vertical-align: top
}

.adv-item__caption {
    display: table;
    margin-bottom: 20px
}

.adv-item__icon,
.adv-item__text {
    display: table-cell;
    vertical-align: middle
}

.adv-item__icon {
    padding-right: 22px
}

.tabs__list {
    margin-top: -1px;
    padding-top: 40px
}

.tabs__scroll {
    position: relative;
    top: 1px
}

.tabs__scroll .owl-prev,
.tabs__scroll .owl-next {
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 202;
    cursor: pointer
}

.tabs__scroll .owl-prev.disabled,
.tabs__scroll .owl-next.disabled {
    display: none
}

.tabs__scroll .owl-prev {
    left: 0
}

.tabs__scroll .owl-next {
    align-items: flex-end;
    right: 0
}

.tabs__tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.tabs__tabs:after {
    display: table;
    clear: both
}

.tabs__tab {
    height: 56px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 24px;
    position: relative;
    cursor: pointer
}

.tabs__tab:after {
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.tabs__tab.active:after {
    height: 2px
}

.tabs__content {
    padding-top: 32px;
    padding-bottom: 34px
}

.tabs__box {
    display: none
}

.tabs__box.active {
    display: block
}

.catalog-sections-wrapper {
    width: 100%
}

.catalog-sections {
    padding-top: 40px;
    padding-bottom: 34px
}

.catalog-sections .h1 {
    padding-bottom: 32px
}

.catalog-sections .catalog-section-item {
    display: block;
    margin-bottom: 24px;
    padding: 18px 18px 13px;
    position: relative
}

.catalog-section-item__count {
    position: absolute;
    right: 11px;
    top: 11px;
    padding: 0 5px;
    z-index: 200
}

.catalog-section-item__graph-wrapper {
    width: 100%;
    height: 134px;
    display: table
}

.catalog-section-item__graph {
    display: table-cell;
    vertical-align: middle
}

.catalog-section-item__graph>i {
    display: block
}

.catalog-section-item__graph>img {
    width: auto;
    height: auto;
    max-width: 134px;
    max-height: 134px;
    max-width: 210px
}

.catalog-section-item__title {
    height: 38px;
    display: block;
    margin: 8px -8px 0;
    overflow: hidden
}

.services-wrapper {
    width: 100%
}

.services,
.sections {
    padding-top: 40px;
    padding-bottom: 35px
}

.services .h1 {
    padding-bottom: 32px
}

.services .col-xs-12.col-md-3,
.sections .col-xs-12.col-md-3 {
    float: none;
    display: inline-block;
    vertical-align: top
}

.services .services-item,
.sections .section-item {
    width: 100%;
    display: table;
    margin-bottom: 29px
}

.services-item__pic-wrapper,
.section-item__pic-wrapper {
    width: 100%;
    display: table;
    overflow: hidden
}

.services-item__icon-wrapper,
.section-item__icon-wrapper {
    width: 180px;
    height: 180px;
    display: table;
    margin: 0 auto
}

.services-item__icon,
.section-item__icon {
    display: table-cell;
    vertical-align: middle
}

.services-item__caption,
.section-item__caption {
    width: 100%;
    display: table
}

.services-item__title,
.section-item__title {
    margin-top: 18px
}

.services-item__text,
.section-item__text {
    margin-top: 12px
}

.content-wrapper {
    width: 100%
}

.content-wrapper.internal {
    padding-top: 40px;
    padding-bottom: 64px
}

.content {
    padding-top: 40px;
    padding-bottom: 66px
}

h1,
.h1 {
    margin: 0;
    padding: 24px 0
}

h2,
.h2 {
    margin: 0;
    padding: 18px 0
}

.navigation-wrapper {
    width: 100%
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 16px
}

.navigation-block {
    display: flex;
    align-items: center
}

.navigation-back {
    min-width: 32px;
    margin-right: 24px
}

.navigation-breadcrumb {
    width: 100%;
    display: table;
    margin-bottom: 5px
}

.navigation-breadcrumb__item,
.navigation-breadcrumb__separate {
    float: left;
    margin-right: 8px
}

.navigation-title {
    padding: 0
}

.navigation-share {
    min-width: 24px;
    margin-left: 24px;
    position: relative
}

.navigation-share-content {
    display: none;
    align-items: center;
    margin-top: 12px;
    padding: 12px 18px;
    position: absolute;
    right: 0;
    z-index: 200
}

.navigation-share-content-title {
    margin-right: 12px
}

.gallery-wrapper {
    width: 100%
}

.gallery {
    padding-top: 40px;
    padding-bottom: 34px
}

.gallery.no_h1 {
    padding-top: 64px
}

.gallery .h1 {
    padding-bottom: 32px
}

.gallery .gallery-item {
    display: block;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden
}

.gallery-item__image {
    display: block
}

.gallery-item__image:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

.bx-no-touch .gallery .gallery-item:hover .gallery-item__image:after,
.bx-touch .gallery .gallery-item:active .gallery-item__image:after {
    opacity: 1
}

.gallery-item__caption-wrap {
    width: 100%;
    display: table;
    position: absolute;
    left: 0;
    top: 100%
}

.bx-no-touch .gallery .gallery-item:hover .gallery-item__caption-wrap,
.bx-touch .gallery .gallery-item:active .gallery-item__caption-wrap {
    top: 0
}

.gallery-item__caption {
    display: table-cell;
    vertical-align: middle;
    padding-top: 6px
}

.gallery-item__title,
.gallery-item__text {
    display: block
}

.gallery-item__text {
    margin-top: 6px
}

.news-wrapper {
    width: 100%
}

.news {
    padding-top: 40px;
    padding-bottom: 64px
}

.news.last {
    padding-bottom: 32px
}

.news .h1 {
    padding-bottom: 32px
}

.news .col-xs-12.col-md-4 {
    float: none;
    display: inline-block;
    vertical-align: top
}

.news .news-item {
    width: 100%;
    display: table;
    margin-bottom: 32px
}

.news-item__pic-wrapper {
    width: 100px;
    display: table-cell;
    vertical-align: top
}

.news-item__pic {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden
}

.news-item__pic img {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 100px
}

.news-item__caption {
    display: table-cell;
    vertical-align: top;
    padding-left: 18px
}

.news-item__date {
    display: table;
    margin-top: 6px
}

.news-item__title {
    margin-top: 6px
}

.news .all-news {
    display: table;
    margin: 0 auto
}

.site-closed-outer {
    width: 100%;
    height: 520px;
    display: table
}

.site-closed-inner {
    display: table-cell;
    vertical-align: middle
}

.site-opening {
    display: table;
    margin: 0 auto
}

.site-opening .countdown-row {
    display: block
}

.site-opening .countdown-section {
    width: 80px;
    display: inline-block;
    margin-right: 10px
}

.site-opening .countdown-section:last-child {
    margin: 0
}

.site-opening .countdown-amount,
.site-opening .countdown-period {
    display: block
}

.site-opening .countdown-period {
    margin-top: 6px
}

.site-opening .countdown-period .short {
    display: none
}

.map-wrapper {
    width: 100%;
    position: relative
}

.map-caption {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 0 32px 32px;
    position: relative;
    left: -32px;
    z-index: 2
}

.map-caption .h1 {
    padding-top: 32px
}

.map-caption .contacts p {
    width: 100%;
    display: table;
    padding: 0
}

.map-caption .contacts .icon {
    width: 20px;
    float: left;
    margin-right: 7px;
    margin-top: 2px
}

.map-caption .contacts .icon i {
    width: 20px;
    height: 20px;
    display: block
}

.map-caption .contacts .callback {
    display: table;
    margin-top: 18px
}

.map-direction {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

.map-direction .bx-yandex-view-layout,
.map-direction .bx-yandex-view-map {
    width: 100%;
    height: 100%
}

.viewed-wrapper {
    width: 100%
}

.viewed {
    padding-bottom: 64px
}

.map-wrapper+.viewed-wrapper .viewed,
.detail-blocks-wrapper+.viewed-wrapper .viewed {
    padding-top: 64px
}

.viewed .h2 {
    padding-top: 0;
    padding-bottom: 32px
}

.bigdata-wrapper {
    width: 100%
}

.bigdata {
    padding-top: 40px;
    padding-bottom: 34px
}

.bigdata .h1 {
    padding-bottom: 32px
}

.feedback-wrapper {
    width: 100%
}

.feedback {
    padding-top: 40px;
    padding-bottom: 52px
}

.feedback .h1 {
    padding-bottom: 32px
}

.feedback .form-group-checkbox {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0 42.5px
}

.bottom-menu {
    padding: 15px 0 14px
}

.footer-wrapper {
    width: 100%;
    padding: 23px 0 22px
}

.footer {
    width: 100%;
    display: table
}

.footer [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle
}

.join-us {
    float: left;
    margin-bottom: 0;
    padding-left: 0
}

.join-us>li {
    float: left;
    display: table;
    margin-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px
}

.join-us>li:last-child {
    margin-right: 0
}

.join-us>li>a {
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle
}

.footer-menu {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none
}

.bottom-menu .footer-menu {
    margin-left: -36px;
    margin-top: -6px
}

.footer-menu>li {
    float: left
}

.bottom-menu .footer-menu>li {
    margin-left: 36px;
    margin-top: 6px
}

.footer-menu>li>a {
    display: block
}

.footer-menu>li>a>i {
    display: none;
    position: absolute;
    right: 18px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.footer__developer {
    float: right
}

.footer__developer a {
    display: flex;
    align-items: center
}

.footer__developer a>i {
    margin-left: 12px
}

.preview+.description {
    margin-top: 30px
}

.preview+[class*="-list"] {
    margin-top: 36px
}

[class*="-list"] .services,
[class*="-list"] .news,
[class*="-list"] .gallery {
    padding-top: 0
}

[class*="-list"] .sections {
    padding-top: 0
}

[class*="-list"] .news {
    padding-bottom: 32px
}

.services-detail__banner {
    width: 100%
}

.services-detail__preview-text+.services-detail__banner {
    margin-top: 36px
}

.services-detail__banner+.services-detail__detail-text {
    margin-top: 16px
}

.detail-blocks-wrapper>div:first-child {
    margin-top: -24px
}

.files-docs-wrapper {
    width: 100%
}

.files-docs {
    padding-top: 17px;
    padding-bottom: 38px
}

.files-docs .h2 {
    padding-bottom: 33px
}

.files-docs .col-xs-12.col-md-3 {
    float: none;
    display: inline-block;
    vertical-align: top
}

.files-docs .files-docs-item {
    display: table;
    margin-bottom: 20px
}

.files-docs .item-icon,
.files-docs .item-caption {
    display: table-cell;
    vertical-align: top
}

.files-docs .item-icon {
    padding-right: 18px
}

.files-docs .item-name {
    display: block;
    margin-top: 7px
}

.files-docs .item-size {
    display: block;
    margin-top: 3px
}

.catalog-section-pic>a {
    display: block
}

.catalog-section-pic img {
    width: 100%;
    height: auto
}

.catalog-section-list .catalog-sections {
    padding: 0
}

.catalog-section-prev {
    margin-top: 28px
}

.catalog-section-prev>p:last-child {
    padding: 0
}

.catalog-section-container .catalog-section,
.catalog-section-container .catalog-section-collections {
    margin-top: 40px
}

.catalog-section-panel-wrapper {
    width: 100%
}

.catalog-section-panel.fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 203
}

.slide-menu-option-1-active .catalog-section-panel.fixed {
    left: 278px
}

.slide-menu-option-2 .catalog-section-panel.fixed {
    left: 72px
}

.catalog-section-panel-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.catalog-section-panel.fixed .catalog-section-panel-block {
    width: 1176px;
    margin: 0 auto
}

.catalog-section-toggle-filter {
    display: flex;
    align-items: center
}

.catalog-section-toggle {
    display: flex;
    align-items: center;
    justify-content: center
}

.catalog-section-toggle>input {
    display: none
}

.catalog-section-toggle>label {
    width: 36px;
    max-width: 36px;
    height: 18px;
    display: block;
    margin: 0 12px;
    position: relative;
    cursor: pointer
}

.catalog-section-toggle>label:after {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0
}

.catalog-section-toggle>input:checked+span+label:after {
    right: -moz-calc(100% - 18px);
    right: -webkit-calc(100% - 18px);
    right: calc(100% - 18px)
}

.catalog-section-toggle+.catalog-section-filter-container {
    margin-left: 24px
}

.catalog-section-filter {
    padding: 16px 24px
}

.catalog-section-filter-block {
    display: table
}

.catalog-section-filter-block>i,
.catalog-section-filter-block>span {
    display: table-cell;
    vertical-align: middle
}

.catalog-section-filter-block>i {
    padding-right: 12px
}

.catalog-section-sort {
    padding: 16px 13px 16px 24px;
    position: relative
}

.catalog-section-sort-block {
    display: table
}

.catalog-section-sort-text,
.catalog-section-sort-arrow {
    display: table-cell;
    vertical-align: middle
}

.catalog-section-sort-text {
    padding-right: 16px
}

.product-item-basket-props-drop-down,
.product-item-detail-basket-props-drop-down,
.catalog-set-constructor-basket-props-drop-down {
    min-width: 143px;
    height: 32px;
    padding: 0 33px 0 12px;
    position: relative;
    cursor: pointer
}

.product-item-basket-props-drop-down .drop-down-text,
.product-item-detail-basket-props-drop-down .drop-down-text,
.catalog-set-constructor-basket-props-drop-down .drop-down-text {
    height: 30px;
    overflow: hidden
}

.product-item-basket-props-drop-down .drop-down-arrow,
.product-item-detail-basket-props-drop-down .drop-down-arrow,
.catalog-set-constructor-basket-props-drop-down .drop-down-arrow {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0
}

.catalog-section-sort-popup,
.bx-drop-down-popup-window {
    position: absolute;
    padding: 0;
    z-index: 202!important
}

.catalog-section-sort-popup {
    left: 0!important;
    right: 0;
    top: 100%!important
}

.bx-drop-down-popup-window {
    left: -1px!important;
    right: -1px;
    top: 36px!important
}

.catalog-section-sort-popup ul,
.bx-drop-down-popup-window .drop-down-popup ul {
    max-height: 223px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto
}

.catalog-section-sort-popup ul li a,
.bx-drop-down-popup-window .drop-down-popup ul li span {
    display: block;
    margin: 0;
    padding: 6px 12px;
    cursor: pointer
}

.catalog-section-more {
    padding-bottom: 22px
}

.catalog-section-more .btn {
    width: 100%;
    height: 48px
}

.catalog-section-desc {
    margin-top: 46px
}

.catalog-section-gifts {
    margin-top: 46px
}

.pagination {
    display: table;
    margin: 8px auto 0
}

.services .pagination {
    margin-top: 11px
}

.gallery .pagination {
    margin-top: 10px
}

.pagination>li {
    display: table-cell;
    vertical-align: middle;
    padding-right: 6px
}

.pagination>li:last-child {
    padding-right: 0
}

.pagination>li>a,
.pagination>li>span {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0
}

.scroll-up {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 24px;
    bottom: -62px;
    z-index: 202
}

.slide-panel {
    width: 400px;
    height: 100%;
    position: fixed;
    right: -400px;
    top: 0;
    z-index: 1100
}

.label_39,
.main_2l {
    z-index: 1000!important
}

.slide-panel.active {
    right: 0
}

.slide-panel__title-wrap {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 50px 0 32px;
    position: relative
}

.slide-panel__title-wrap>i {
    padding-right: 18px
}

.slide-panel__title {
    overflow: hidden
}

.slide-panel__close {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}

.slide-panel__content {
    height: -moz-calc(100% - 72px);
    height: -webkit-calc(100% - 72px);
    height: calc(100% - 72px)
}

.slide-panel__content>.slide-panel__content {
    padding: 0 32px
}

.slide-panel__backdrop {
    z-index: 1090
}

.slide-panel__contacts {
    margin-left: -32px;
    margin-right: -32px
}

.slide-panel__contacts-item {
    padding: 15px 32px
}

.slide-panel__contacts-item__block {
    display: flex;
    align-items: center
}

.slide-panel__contacts-item__icon {
    padding-right: 9px
}

.slide-panel__contacts-item__icon>img {
    width: 20px;
    height: auto;
    vertical-align: top;
    margin-top: 2px
}

.slide-panel__contacts-item__text {
    width: 100%
}

.slide-panel__contacts-item__hours-today {
    display: flex
}

.slide-panel__contacts-item__hours-today+.slide-panel__contacts-item__hours-today {
    margin-top: 11px
}

.slide-panel__contacts-item__today-container {
    width: 135px
}

.slide-panel__contacts-item__today {
    display: flex;
    align-items: center;
    position: relative
}

.slide-panel__contacts-item__today-icon {
    padding-right: 9px
}

.slide-panel__contacts-item__today-title {
    width: 100%
}

.slide-panel__contacts-item__today-status {
    width: 5px;
    height: 5px;
    position: absolute;
    right: -12px
}

.slide-panel__contacts-item__hours-break {
    width: 100%;
    padding-left: 19px
}

.slide-panel__contacts-item__hours {
    display: flex;
    align-items: center
}

.slide-panel__contacts-item__hours-first {
    margin-top: 4px
}

.slide-panel__contacts-item__hours-title {
    width: 100%
}

.slide-panel__contacts-item__hours-icon {
    padding-left: 9px
}

.slide-panel__contacts-item__hours-icon>i {
    cursor: pointer
}

.slide-panel__contacts-item__link,
.slide-panel__contacts-item__descr {
    display: block
}

.slide-panel__form {
    margin-top: 24px
}

.slide-panel__form-title {
    margin-bottom: 12px
}

.slide-panel__form-caption {
    margin-bottom: 18px
}

.form-group {
    margin-bottom: 18px
}

.form-group-hidden {
    display: none!important
}

.form-group>label {
    display: block;
    margin: 0;
    padding: 6px 0
}

.form-control {
    height: 36px;
    padding-top: 0;
    padding-bottom: 0
}

textarea.form-control {
    width: 100%;
    height: 84px;
    padding-top: 6px;
    padding-bottom: 6px;
    resize: none;
    overflow: hidden
}

.form-control::-ms-clear {
    width: 0;
    height: 0;
    display: none
}

.form-control-feedback {
    height: 36px;
    line-height: 36px
}

.form-group-checkbox .form-control-feedback {
    height: auto
}

.has-success .form-control-feedback.fv-icon-no-has,
.has-error .form-control-feedback.fv-icon-no-has {
    display: none
}

.form-group.captcha {
    width: 100%;
    display: table
}

.form-group.captcha .pic,
.form-group.captcha input {
    display: table-cell;
    vertical-align: top
}

.form-group.captcha .pic {
    width: 100px;
    padding-right: 10px
}

.form-group .btn {
    width: 100%
}

.form-group.no-captcha .btn {
    height: 84px
}

.form-group .checkbox,
.form-group .radio {
    margin: 0;
    padding: 0
}

.form-group .checkbox+.checkbox,
.form-group .radio+.radio {
    margin-top: 6px
}

.form-group .checkbox label,
.form-group .radio label {
    min-height: auto;
    display: table;
    margin: 0;
    padding: 0
}

.form-group .checkbox input,
.form-group .radio input {
    margin: 0;
    visibility: hidden
}

.form-group .checkbox .check-cont,
.form-group .radio .check-cont {
    display: table-cell;
    vertical-align: top
}

.form-group .checkbox .check,
.form-group .radio .check {
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.form-group .checkbox .check i,
.form-group .radio .check i {
    display: none
}

.form-group .checkbox input:checked+.check-cont .check i,
.form-group .checkbox input:checked+label .check-cont .check i,
.form-group .radio input:checked+.check-cont .check i {
    display: inline-block
}

.form-group .checkbox .check-title,
.form-group .radio .check-title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 9px
}

.form-group select {
    width: 100%;
    height: 36px;
    padding: 0 12px
}

.slide-panel__form button[type="submit"] {
    height: 48px
}

.help-block {
    margin-top: 7px;
    margin-bottom: 0
}

.alert {
    display: none;
    margin: 0;
    padding: 12px 24px
}

.slide-panel__form>.alert {
    margin-bottom: 12px
}

.alert-show {
    display: block;
    margin-bottom: 12px
}

.bx-authform-social ul {
    display: block;
    margin: 0;
    padding: 5px 0 0 0
}

.bx-authform-social ul li {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 5px;
    position: relative
}

.bx-authform-social ul li .bx-authform-social-icon {
    width: 35px;
    height: 35px;
    display: block
}

.bx-authform-social ul li .bx-authform-social-icon:hover {
    opacity: .9
}

.bx-authform-social-popup {
    width: auto;
    display: none;
    padding: 5px
}

.bx-authform-social-popup form {
    display: flex;
    align-items: center;
    margin-bottom: 0
}

.bx-authform-social-popup form>*:not(:first-child) {
    margin-left: 8px
}

.bx-authform-social-popup input[type="text"] {
    max-width: 150px
}

.bx-authform-social-popup .btn {
    width: 40px;
    height: 36px;
    padding: 0
}

.bx-authform-social-popup .btn>i {
    padding-right: 0
}

.main-user-consent-request-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 9000
}

.main-user-consent-request-popup-cont {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    padding: 0 32px 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto
}

.main-user-consent-request-popup-header {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.main-user-consent-request-popup-body {
    height: -moz-calc(100% - 65px);
    height: -webkit-calc(100% - 65px);
    height: calc(100% - 65px)
}

.main-user-consent-request-popup-content {
    height: 100%
}

.main-user-consent-request-popup-textarea-block {
    height: -moz-calc(100% - 54px);
    height: -webkit-calc(100% - 54px);
    height: calc(100% - 54px);
    margin-bottom: 12px
}

.main-user-consent-request-popup-buttons {
    display: flex;
    justify-content: center
}

.main-user-consent-request-popup-button+.main-user-consent-request-popup-button {
    margin-left: 12px
}

.main-user-consent-request-popup-text {
    width: 100%!important;
    min-width: 100%;
    max-width: 100%;
    height: 100%!important;
    min-height: 100%;
    max-height: 100%;
    padding: 6px 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-appearance: none
}

.main-user-consent-request-loader {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative
}

.main-user-consent-request-loader:before {
    display: block;
    padding-top: 100%
}

.main-user-consent-request-circular {
    width: inherit;
    height: inherit;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.bx-panel-tooltip-text {
    padding: 13px 18px!important
}

.btn {
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px
}

.btn-slider-2,
.btn-buy {
    position: relative
}

.btn-slider-2:after,
.btn-buy:after {
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px
}

.btn>i {
    padding-right: 12px
}

.btn-slider-2>span,
.btn-buy>i,
.btn-buy>span {
    z-index: 200
}

@media(max-width:991px) {
    .slide-menu-option-1-active .page-container-wrapper,
    .slide-menu-option-2 .page-container-wrapper {
        margin-left: 0
    }
    .page-container,
    .container {
        width: 100%
    }
    .container,
    .container-fluid,
    .col-xs-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-md-12,
    .col-lg-12 {
        padding-left: 18px;
        padding-right: 18px
    }
    .row {
        margin-left: -18px;
        margin-right: -18px
    }
    .top-panel {
        position: static;
        z-index: auto
    }
    .top-panel__cols {
        table-layout: fixed
    }
    .top-panel>.top-panel__cols {
        display: block
    }
    .top-panel__col {
        width: auto;
        padding: 0
    }
    .top-panel__thead,
    .top-panel__tfoot {
        display: block;
        position: relative
    }
    .top-panel__thead {
        z-index: 205
    }
    .top-panel__tfoot {
        z-index: 204
    }
    .top-panel__thead.fixed,
    .top-panel__tfoot.fixed {
        position: fixed;
        left: 0;
        right: 0
    }
    .top-panel__thead.fixed {
        top: 0
    }
    .top-panel__menu-icon-container {
        width: 60px;
        min-width: 60px
    }
    .slide-menu-option-2 .top-panel__menu-icon-container {
        cursor: pointer
    }
    .top-panel__logo {
        padding-left: 12px
    }
    .top-panel__logo a {
        height: 56px
    }
    .top-panel__logo a>img {
        max-height: 56px
    }
    .top-panel__search-btn {
        width: 100%;
        height: 56px;
        padding: 0
    }
    .top-panel__contacts-block {
        width: 100%;
        height: 56px;
        padding: 0 0 0 0;
        position: relative
    }
    .top-panel__contacts-block:before {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0
    }
    .top-panel__compare-block {
        width: 100%;
        height: 56px;
        padding: 0 0 0 0;
        position: relative
    }
    .top-panel__compare-block:before {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0
    }
    .top-panel__mini-cart {
        width: 30%
    }
    .top-panel__mini-cart.one {
        width: auto
    }
    .top-panel__mini-cart.empty {
        width: 1px
    }
    .mini-cart {
        width: 100%;
        height: 56px
    }
    .mini-cart>a {
        padding: 0 0 0 1px;
        position: relative
    }
    .mini-cart>a:before {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0
    }
    .top-panel__user-link {
        width: 100%;
        height: 56px;
        padding: 0 0 0 1px;
        position: relative
    }
    .top-panel__user-link:before {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0
    }
    .top-panel__user-graph {
        margin: 0 auto
    }
    .slider .slider-item {
        min-height: 157px
    }
    .page-container .slider .slider-item,
    .slide-menu-option-1-active .page-container .slider .slider-item,
    .slide-menu-option-2 .page-container .slider .slider-item {
        height: -moz-calc(100vw / 3.2);
        height: -webkit-calc(100vw / 3.2);
        height: calc(100vw / 3.2)
    }
    .slider .slider-item:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0
    }
    .slider-item__caption {
        justify-content: center!important;
        padding: 18px 0
    }
    .slider-item__block {
        align-items: center!important;
        padding: 0
    }
    .slider-item__title,
    .slider-item__text {
        max-width: 100%;
        overflow: hidden
    }
    .slider-item__text {
        margin-top: 7px
    }
    .slider-item__buttons {
        margin-top: 12px
    }
    .slider-item__buttons>a+a {
        display: none
    }
    .slider .owl-prev,
    .slider .owl-next,
    .slider .owl-dots {
        display: none
    }
    .banners-item-container {
        display: table-row
    }
    .banners-item {
        height: 178px
    }
    .banners-item-block {
        padding: 18px
    }
    .banners-item-icon {
        margin-bottom: 18px
    }
    .banners-item-text {
        margin-top: 6px
    }
    .tabs__list {
        margin: 0;
        padding: 0
    }
    .tabs__scroll {
        margin: 0 -18px;
        top: 0
    }
    .tabs__scroll .owl-prev {
        padding-left: 18px
    }
    .tabs__scroll .owl-next {
        padding-right: 18px
    }
    .tabs__content {
        padding: 0
    }
    .catalog-sections {
        padding: 0
    }
    .catalog-sections .h1 {
        padding: 19px 18px 18px
    }
    .catalog-sections [class*="col-"] {
        padding: 0
    }
    .catalog-sections .catalog-section-item {
        width: 100%;
        display: table;
        margin: 0;
        padding: 12px 18px
    }
    .catalog-section-item__count {
        right: 12px
    }
    .catalog-section-item__graph-wrapper {
        width: 50px;
        height: auto;
        display: table-cell;
        vertical-align: middle;
        padding-right: 12px
    }
    .catalog-section-item__graph {
        width: 50px;
        height: 50px;
        display: table-cell;
        vertical-align: middle
    }
    .catalog-section-item__graph>img {
        max-width: 50px;
        max-height: 50px
    }
    .catalog-section-item__title {
        height: auto;
        display: table-cell;
        vertical-align: middle
    }
    .services,
    .sections {
        padding-top: 8px;
        padding-bottom: 20px
    }
    .services .h1 {
        padding-bottom: 24px
    }
    .services .col-xs-12.col-md-3,
    .sections .col-xs-12.col-md-3 {
        float: left;
        display: block
    }
    .services .services-item,
    .sections .section-item {
        width: 100%;
        display: table;
        margin-bottom: 12px
    }
    .services-item__icon-wrapper,
    .section-item__icon-wrapper,
    .services-item__pic-wrapper,
    .section-item__pic-wrapper {
        width: 98px;
        height: auto;
        display: table-cell;
        vertical-align: top;
        padding-right: 12px
    }
    .services-item__icon,
    .section-item__icon {
        width: 80px;
        height: 80px
    }
    .services-item__caption,
    .section-item__caption {
        width: auto;
        display: table-cell;
        vertical-align: top
    }
    .services-item__title,
    .section-item__title {
        margin-top: 3px
    }
    .services-item__text,
    .section-item__text {
        margin-top: 6px
    }
    .content-wrapper.internal {
        padding: 32px 0
    }
    .content {
        padding-top: 8px;
        padding-bottom: 22px
    }
    .navigation-content {
        justify-content: flex-start;
        margin: 0 -18px;
        padding: 0
    }
    .navigation {
        width: 100%
    }
    .navigation-block {
        display: flex;
        padding: 10px 0;
        position: relative
    }
    .navigation-back {
        min-width: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 12px 0 18px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0
    }
    .navigation-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 46px
    }
    .navigation-breadcrumb {
        width: auto;
        margin: 0
    }
    .navigation-breadcrumb__item,
    .navigation-breadcrumb__separate {
        display: none
    }
    .navigation-breadcrumb__item:last-child {
        display: block;
        margin: 0
    }
    .navigation-share {
        min-width: unset;
        margin: 0
    }
    .navigation-share-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 18px 0 12px
    }
    .navigation-share-content {
        right: 18px
    }
    .gallery {
        padding: 8px 15px 26px
    }
    .gallery.no_h1 {
        padding-top: 32px
    }
    .gallery .col-xs-12,
    .gallery .col-xs-6.col-md-3 {
        padding-left: 3px;
        padding-right: 3px
    }
    .gallery .gallery-item {
        margin-bottom: 6px
    }
    .gallery-item__bg {
        margin-bottom: 6px
    }
    .news {
        padding-top: 8px;
        padding-bottom: 32px
    }
    .news.last {
        padding-bottom: 20px
    }
    .news .col-xs-12.col-md-4 {
        float: left;
        display: block
    }
    .news .news-item {
        margin-bottom: 12px
    }
    .news-item__pic-wrapper {
        width: 80px
    }
    .news-item__pic {
        width: 80px;
        height: 80px
    }
    .news-item__pic img {
        max-width: 80px;
        max-height: 80px
    }
    .news-item__caption {
        padding-left: 12px
    }
    .site-closed-outer {
        height: auto;
        padding: 8px 0 40px
    }
    .site-opening .countdown-section {
        width: 50px;
        margin-right: 6px
    }
    .site-opening .countdown-period .short {
        display: block
    }
    .site-opening .countdown-period .full {
        display: none
    }
    .map-caption {
        margin: 0;
        padding: 8px 0 32px;
        position: static;
        z-index: auto
    }
    .map-caption .h1 {
        padding-top: 24px
    }
    .map-direction {
        height: 320px;
        position: static;
        z-index: auto
    }
    .viewed {
        padding-bottom: 20px
    }
    .map-wrapper+.viewed-wrapper .viewed,
    .detail-blocks-wrapper+.viewed-wrapper .viewed {
        padding-top: 32px
    }
    .viewed .h2 {
        padding-bottom: 24px
    }
    .bigdata {
        padding-top: 8px;
        padding-bottom: 0
    }
    .bigdata .h1 {
        padding-bottom: 24px
    }
    .feedback {
        padding-top: 8px;
        padding-bottom: 20px
    }
    .feedback .h1 {
        padding-bottom: 24px
    }
    .bottom-menu {
        padding: 0
    }
    .footer-wrapper {
        padding: 24px 0
    }
    .footer [class*="col-"] {
        float: left;
        display: block
    }
    .join-us,
    .footer-menu,
    .footer__developer {
        float: none;
        display: table;
        margin: 10px auto 0
    }
    .bottom-menu .footer-menu {
        display: block;
        margin: 0 -18px
    }
    .footer-menu>li {
        float: none;
        display: block
    }
    .bottom-menu .footer-menu>li {
        margin: 0
    }
    .bottom-menu .footer-menu>li>a {
        padding: 23px 52px 22px 18px;
        position: relative
    }
    .bottom-menu .footer-menu>li>a>i {
        display: inline-block
    }
    .preview+.description {
        margin-top: 24px
    }
    .preview+[class*="-list"] {
        margin-top: 29px
    }
    .services-detail__preview-text+.services-detail__banner {
        margin-top: 29px
    }
    .services-detail__banner+.services-detail__detail-text {
        margin-top: 27px
    }
    .services-detail__preview-text+.services-detail__detail-text {
        margin-top: 24px
    }
    .detail-blocks-wrapper>div:first-child {
        margin: 0
    }
    .files-docs {
        padding-top: 27px;
        padding-bottom: 20px
    }
    .files-docs .h2 {
        padding-bottom: 20px
    }
    .files-docs .col-xs-12.col-md-3 {
        float: left;
        display: block
    }
    .files-docs .files-docs-item {
        margin-bottom: 12px
    }
    .files-docs .item-icon {
        padding-right: 12px
    }
    .files-docs .item-name {
        margin-top: 3px
    }
    .catalog-section-container {
        margin-top: -32px
    }
    .catalog-section-list {
        margin-top: -32px
    }
    .catalog-section-container .catalog-section-list {
        margin: 0
    }
    .catalog-section-prev {
        margin-top: 32px
    }
    .catalog-section:before {
        height: 1px;
        display: block;
        margin: 0 -18px
    }
    .catalog-section-container .catalog-section,
    .catalog-section-container .catalog-section-collections {
        margin: 0
    }
    .catalog-section-prev+.catalog-section,
    .catalog-section-prev+.catalog-section-collections {
        margin-top: 32px
    }
    .catalog-section-panel {
        margin: 0 -18px
    }
    .catalog-section-panel.fixed {
        margin: 0;
        left: 0
    }
    .slide-menu-option-1-active .catalog-section-panel.fixed,
    .slide-menu-option-2 .catalog-section-panel.fixed {
        left: 0
    }
    .catalog-section-panel-block {
        display: table
    }
    .catalog-section-panel.fixed .catalog-section-panel-block {
        width: 100%
    }
    .catalog-section-toggle {
        margin: 0 18px
    }
    .catalog-section-toggle-filter,
    .catalog-section-sort-container {
        width: 50%;
        display: table-cell;
        vertical-align: middle
    }
    .catalog-section-filter {
        padding: 15px 0;
        cursor: pointer
    }
    .catalog-section-filter-block {
        display: table;
        margin: 0 auto
    }
    .catalog-section-filter-block>i,
    .catalog-section-filter-block>span {
        display: table-cell;
        vertical-align: middle
    }
    .catalog-section-filter-block>i {
        padding-right: 8px
    }
    .catalog-section-sort {
        min-width: auto;
        height: auto;
        display: block;
        padding: 15px 0
    }
    .catalog-section-sort-block {
        display: table;
        margin: 0 auto
    }
    .catalog-section-sort-text,
    .catalog-section-sort-arrow {
        height: auto;
        display: table-cell;
        vertical-align: middle
    }
    .catalog-section-sort-text {
        padding-right: 10px
    }
    .catalog-section-sort-arrow {
        width: 1px;
        position: static
    }
    .catalog-section-sort-popup ul li a {
        padding-top: 9px;
        padding-bottom: 10px
    }
    .product-item-basket-props-drop-down,
    .product-item-detail-basket-props-drop-down,
    .catalog-set-constructor-basket-props-drop-down {
        min-width: auto
    }
    .catalog-section-more {
        margin: 0 -18px;
        padding: 0
    }
    .catalog-section-desc {
        margin-top: 14px
    }
    .catalog-section-gifts {
        margin-top: 14px
    }
    .gallery .pagination {
        margin-top: 26px
    }
    .catalog-section-pagination .pagination {
        margin-top: 32px
    }
    .slide-panel.active {
        width: 100%
    }
    .form-group.no-captcha .btn {
        height: 42px
    }
    .main-user-consent-request-popup-cont {
        width: unset;
        height: unset;
        left: 18px;
        right: 18px;
        top: 18px;
        bottom: 18px;
        padding: 0 18px 18px
    }
    .main-user-consent-request-popup-textarea-block {
        height: -moz-calc(100% - 108px);
        height: -webkit-calc(100% - 108px);
        height: calc(100% - 108px)
    }
    .main-user-consent-request-popup-buttons {
        flex-direction: column
    }
    .main-user-consent-request-popup-button {
        width: 100%
    }
    .main-user-consent-request-popup-button+.main-user-consent-request-popup-button {
        margin-left: 0;
        margin-top: 12px
    }
    .main-user-consent-request-loader {
        width: 60px;
        height: 60px
    }
}

@media(min-width:992px) and (max-width:1271px) {
    .page-container {
        width: 992px
    }
    .page-container .slider .slider-item,
    .slide-menu-option-1-active .page-container .slider .slider-item,
    .slide-menu-option-2 .page-container .slider .slider-item {
        height: -moz-calc(992px / 3.2);
        height: -webkit-calc(992px / 3.2);
        height: calc(992px / 3.2)
    }
    .map-caption {
        left: 0
    }
    .viewed {
        padding-bottom: 52px
    }
    .catalog-section-item__graph-wrapper {
        height: 94px
    }
    .catalog-section-item__graph>img {
        max-width: 94px;
        max-height: 94px
    }
    .catalog-section-panel.fixed .catalog-section-panel-block {
        width: 946px
    }
}

@media(min-width:992px) and (max-width:1042px) {
    .slide-menu-option-2 .page-container-wrapper {
        margin: 0
    }
    .slide-menu-option-2 .top-menu-wrapper {
        display: none
    }
    .slide-menu-option-2 .top-panel__menu-icon-container {
        cursor: pointer
    }
    .slide-menu-option-2 .slider .slider-item {
        height: -moz-calc(100vw / 3.2);
        height: -webkit-calc(100vw / 3.2);
        height: calc(100vw / 3.2)
    }
    .slide-menu-option-2 .catalog-section-panel.fixed {
        left: 0
    }
}

@media(min-width:992px) and (max-width:1499px) {
    .slide-menu-option-1-active .page-container-wrapper {
        margin: 0
    }
    .slide-menu-option-1-active .slider .slider-item {
        height: -moz-calc(100vw / 3.2);
        height: -webkit-calc(100vw / 3.2);
        height: calc(100vw / 3.2)
    }
    .slide-menu-option-1-active .catalog-section-panel.fixed {
        left: 0
    }
}

@media(min-width:992px) {
    .catalog-section-container>div:first-child {
        margin: 0
    }
}

@media print {
    #bx-panel {
        display: none!important
    }
}

@media (max-width:991px) {
    .top-panel__col.top-panel__search-container.top-panel__search-container-button,
    .top-panel__col.top-panel__contacts.top-panel__contacts__add,
    .top-panel__col.top-panel__user {
        width: 14.3%
    }
    .top-panel__col.top-panel__compare {
        width: 15%
    }
    .CityOnline {
        width: 13.4%;
        white-space: nowrap;
        float: none;
        display: table-cell;
        vertical-align: middle
    }
    .top-panel__col.top-panel__contacts {
        display: inline
    }
    .top-panel__compare-link {
        padding: 0 0
    }
    .CityOnline__Body {
        margin-top: 0;
        left: -95px
    }
	
}

@media (max-width:768px) {
	.top-panel__col.top-panel__contacts a.top-panel__contacts-block {
		height:45px;
	}
	.top-panel__col.top-panel__compare {position:relative !important;}
	.top-panel__compare-block {position: initial !important;}
	.mini-cart, .top-panel__user-link {height:72px;}
	.top-panel__col.top-panel__city a.top-panel__compare-link {
		display:block;
		margin-top:5px;
	}
}

@media (max-width:700px) {
    .CityOnline__Body {
        left: -45px
    }
    .CityOnline__Body::after {
        left: 18.5%
    }
}

.popup-window {
    position: fixed!important;
    width: 580px;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important
}

@media (max-width:580px) {
    .popup-window {
        width: 100%
    }
	.top-panel__col.top-panel__contacts a.top-panel__contacts-block {
		height:45px;
	}
	.top-panel__col.top-panel__compare {position:relative !important;}
	.top-panel__compare-block {position: initial !important;}
	.mini-cart, .top-panel__user-link {height:72px;}
	.top-panel__col.top-panel__city a.top-panel__compare-link {
		display:block;
		margin-top:5px;
	}
}

.double_price {
    font-size: 22px;
    font-weight: 700;
    font-family: "Museo Sans Cyrl 500", sans-serif;
    color: #3d4b52
}

@media (min-width:992px) {
    .top-panel-wrapper {
        height: 0px!important
    }
    .slide-menu {
        overflow-y: scroll;
        width: 80px;
        top: 150px
    }
    .slide-menu::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        border-radius: 10px;
        background-color: #F5F5F5
    }
    .slide-menu::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5
    }
    .slide-menu::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #3d4b52
    }
}


@media (min-width:1024px) {
	.top-panel__logo {
		padding-left: 0px;
		max-width: 260px;
	}
    .slide-menu {
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        margin-top: 100px!important;
        position: relative!important;
        width: 100%;
        bottom: 0;
        list-style: none;
        overflow: hidden;
        border-top: 1px solid #55686e;
        -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        -moz-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        background: #3d4b52;
        z-index: 204;
        padding-bottom: 0px!important;
        overflow: visible!important;
        background: url(/local/templates/enext/images/verh2.jpg) 0 bottom repeat-x;
        padding-bottom: 30px!important;
        padding-top: 15px!important;
        position: relative!important;
        flex-wrap: wrap;
        background-size: cover;
    }
    .slide-menu:before {
        content: '';
        display: block;
        width: 100%;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        background: url(/local/templates/enext/images/blik.png) 0 bottom repeat-x
    }
    .slide-menu li {
        display: inline-block;
        border-bottom: 0px!important;
        width: 14%;
    }
    .slide-menu li>a {
        display: block
    }
    .slide-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%
    }
    .slide-menu-dropdown-menu {
        position: absolute!important;
        top: 150px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 10;
        -webkit-transition: 0s ease-in-out;
        -moz-transition: 0s ease-in-out;
        -o-transition: 0s ease-in-out;
        transition: 0s ease-in-out;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        list-style: none;
        -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        -moz-box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        box-shadow: 0 0 32px rgba(61, 75, 82, .16);
        background: #fff;
        overflow: visible
    }
    .scroll-wrapper>.scroll-content {
        overflow: visible!important
    }
    .slide-menu li .slide-menu-dropdown-menu li {
        display: inline-block;
        background: #fff
    }
    .slide-menu li:nth-child(9) ul,
    .slide-menu li:nth-child(10) ul,
    .slide-menu li:nth-child(11) ul {
        right: 0px!important;
        min-width: 400px;
        max-width: 1030px
    }
    .slide-menu-option-2 .page-container-wrapper:before {
        display: none
    }
    .slide-menu-option-2 .page-container-wrapper {
        margin-left: 0
    }
    .slide-menu li:hover>.slide-menu-dropdown-menu {
        display: block;
        top: 150px!important;
        flex-wrap: wrap
    }
    .slide-menu-dropdown-menu li {
        display: inline-block;
        vertical-align: top;
        float: left
    }
    .slide-menu-dropdown-menu li .slide-menu-text {
        min-height: 40px;
        display: block;
        overflow: hidden
    }
    .bx-no-touch .slide-menu li:hover>a,
    .bx-touch .slide-menu li:active>a,
    .slide-menu li.hover>a,
    .slide-menu li.active>a {
        background: none
    }
    .slide-menu li>a.slide-menu-link {
        height: 150px
    }
    .slide-menu-pic {
        width: 100%;
        max-width: 150px;
        height: 150px;
        overflow: hidden;
		margin:0px auto;
    }
    .slide-menu-item>a>.slide-menu-pic>span {
        width: 150px;
        height: 150px
    }
    .slide-menu-pic>img {
        max-width: 150px;
        max-height: 150px
    }
    .slide-menu-link .slide-menu-text {
        bottom: 20px;
        font-size: 14px;
        /* white-space: nowrap */
		min-height:35px;
		position:relative;
    }
	.slide-menu-link .slide-menu-pic>img {
		margin-top:0px;
	}
    .slide-menu-item.itm_71>a>.slide-menu-pic>span {
        background-position-y: -3px!important;
        background-position-x: -2px!important;
        max-width: 115px
    }
    .slide-menu-item.itm_84>a>.slide-menu-pic>span {
        background-position-y: 15px!important;
        max-width: 135px
    }
    .slide-menu-item.itm_89>a>.slide-menu-pic>span {
        background-position-y: -12px!important;
        background-position-x: 0px!important;
        width: 135px;
        height: 135px
    }
    .slide-menu-item.itm_100>a>.slide-menu-pic>span {
        background-position-y: 0!important;
        background-position-x: 20px!important;
        max-width: 120px;
        max-height: 120px
    }
    .slide-menu-item.itm_109>a>.slide-menu-pic>span {
        background-position-y: 20px!important;
        background-position-x: 15px!important
    }
    .slide-menu-item.itm_0>a>.slide-menu-pic>span {
        /*background-position-y: -1px!important;
        max-width: 130px!important*/
    }
    .slide-menu-item.itm_110 .slide-menu-pic span {
        top: 20px;
        left: 5px;
    }
    .slide-menu-item.itm_90 .slide-menu-pic span {
        left: 8px;
        top: 7px;
        width: 135px;
        height: 135px;
    }
    .slide-menu-item.itm_85 .slide-menu-pic span {
        width: 135px;
        height: 135px;
        top: 18px;
    }
    .slide-menu-item.itm_72 .slide-menu-pic span {
        width: 130px;
        height: 130px;
        top: 12px;
    }
	.slide-menu-item.itm_76 .slide-menu-pic span {
        width: 135px;
        height: 135px;
        top: 11px;
		background-position:center 5px !important;
    }
	.slide-menu-item.itm_111 .slide-menu-pic span {
        width: 130px;
        height: 130px;
        top: -2px;
    }
	/* .slide-menu-item.itm_114 .slide-menu-pic span { */
        /* width: 130px; */
        /* height: 130px; */
        /* top: 25px; */
    /* } */
	/* .slide-menu-item.itm_115 .slide-menu-pic span { */
        /* width: 130px; */
        /* height: 130px; */
        /* top: 25px; */
    /* } */
	.slide-menu-item.itm_65 .slide-menu-pic span {
        width: 130px;
        height: 130px;
        top: 10px;
    }
	.slide-menu-item.itm_60 .slide-menu-pic span {
        width: 130px;
        height: 130px;
        top: 20px;
    }
	.slide-menu-item.itm_47 .slide-menu-pic span {
        width: 130px;
        height: 130px;
        top: 12px;
    }
	.slide-menu-item.itm_28 .slide-menu-pic span {
        width: 130px;
        height: 130px;
        top: 12px;
    }
	/* .slide-menu-item.itm_22 .slide-menu-pic span { */
        /* width: 130px; */
        /* height: 130px; */
        /* top: 8px; */
    /* } */
	/* .slide-menu-item.itm_11 .slide-menu-pic span { */
        /* width: 130px; */
        /* height: 130px; */
		/* top:7px; */
    /* } */
	.slide-menu-item.itm_112 .slide-menu-pic span {
        width: 130px;
        height: 130px;
		top:-2px;
    }
	.slide-menu-item.itm_115 .slide-menu-pic span,
	.slide-menu-item.itm_116 .slide-menu-pic span	{
        top: -12px;
    }
	.slide-menu-item.itm_102 .slide-menu-pic span,
	.slide-menu-item.itm_103 .slide-menu-pic span {
        width: 130px;
        height: 130px;
		top:14px;
    }
	/* .slide-menu-item.itm_118 .slide-menu-pic span, */
	/* .slide-menu-item.itm_119 .slide-menu-pic span { */
        /* width: 130px; */
        /* height: 130px; */
		/* top:24px; */
    /* } */
}

@media (min-width:1500px) {
    .slide-menu {
        flex-wrap: nowrap;
        .slide-menu li {
            width: auto;
        }
    }
    .slide-menu-item.itm_110 .slide-menu-pic span {
        left: 0px;
    }
    .slide-menu-item.itm_90 .slide-menu-pic span {
        left: 3px;
    }
	.slide-menu li {width:6%;}

}

@media (min-width:1600px) {
    .slide-menu-item.itm_110 .slide-menu-pic span {
        left: 5px;
    }
    .slide-menu-item.itm_90 .slide-menu-pic span {
        left: 7px;
    }
}
@media (min-width:1700px) {
	.slide-menu-item.itm_76 .slide-menu-pic span {
		left:-10px;
		background-position: center 5px !important;
    }
	.slide-menu-item.itm_102 .slide-menu-pic span,
	.slide-menu-item.itm_103 .slide-menu-pic span {
		left:-8px;
    }
}
.top-panel__contacts-block {
    margin-bottom: -12px
}

.js_city_mail,
.js_city_addr {
    color: #fff!important;
    position: relative;
    margin-top: 10px;
}

.js_city_mail a {
    color: #fff!important
}

.catalog-sections .catalog-section-item {
    min-height: 220px;
}

.CityOnline {
    padding-top: 20px;
}

@media (max-width: 1024px) {
    .slide-menu-option-2 .page-container-wrapper {
        /* margin-top: 120px;*/
    }
}

.icon_lvt,
.icon_war {
    background: #666;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.2;
}

.icon_war {
    background: red;
    text-overflow: ellipsis;
    background: #d800ff;
    background: -webkit-linear-gradient(left, #0099FF, #d800ff);
    background: -moz-linear-gradient(left, #0099FF, #d800ff);
    background: -o-linear-gradient(left, #0099FF, #d800ff);
    background: -ms-linear-gradient(left, #0099FF, #d800ff);
    background: linear-gradient(to right, #0099FF, #d800ff);
    font-size: 14px;
}

#modalCalc form label {
	display: flex;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}
#modalCalc form label div {
	width:100%;
	max-width:40%;
	padding-right:5%;
}
#modalCalc form label div em {
	display:block;
	font-size:12px;
}
#modalCalc form label input {
	max-width:50%;
}
#modalCalc form label span {
	max-width: 5%;
    display: block;
    width: 100%;
	font-size: 14px;
}
#modalCalc form button {
	max-width:140px;
	margin:10px auto;
	display:block;
}
#modalCalc .calcResult:hover {
	color:#fff !important;
}
#modalCalc .calcResult:hover span {
	color:#fff !important;
	position:relative;
}
#modalCalc .modal-header {
	position:relative;
}
#modalCalc .modal-header button.close {
	position:absolute;
	right:15px;
	top:15px;
}
#modalCalc .modal-title {
	text-align: center;
    font-size: 22px;
    font-weight: 700;
}
#modalCalc .calcResultBlock {
	padding:30px 40px;
	text-align:center;
	display:block;
}
#modalCalc .calcResultBlock p {
	font-size:18px;
	line-height:1.5;
}
#modalCalc .modal-footer p {
	text-align:center;
}
#modalCalc  .form-control.error {
    border-color: #ef0a0a;
    -webkit-box-shadow: 0 0 5px rgba(211, 17, 90, .5);
    -moz-box-shadow: 0 0 5px rgba(211, 17, 90, .5);
    box-shadow: 0 0 5px rgba(211, 17, 90, .5);
}
.icon_rasschet {
	display:inline-block;
	width:21px;
	height:0px;
	overflow:hidden;
	padding-top:21px;
	background:url('images/icon_rasschet.png') 0 0 no-repeat;
	padding-left:15px;
}
@media (max-width: 414px) {
	#modalCalc form label {
		flex-wrap:wrap;
	}
    #modalCalc form label div {
		max-width:100%;
		margin-bottom:10px;
	}
	#modalCalc form label input {
		max-width:85%;
	}
	#modalCalc form label span {
		max-width:10%;
	}
} 

