.slide-menu {
    width: 278px;
    margin: 0;
    padding: 0;
    position: fixed !important;
    left: -278px;
    bottom: 0;
    list-style: none;
    overflow: hidden;
    -webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    background: #fff;
    z-index: 204;
}

.slide-menu.active {
    left: 0;
}

.slide-menu>.slide-menu {
    position: static !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}

.slide-menu li[data-entity='title'] {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding: 13px 36px 13px 18px;
    position: relative;
    border: none;
    background: #e3ecef;
    cursor: pointer;
}

.slide-menu-back {
    font-size: 16px;
    color: #b2c7cb;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li[data-entity='title']:hover .slide-menu-back,
.bx-touch .slide-menu li[data-entity='title']:active .slide-menu-back {
    color: #6e858a;
}

.slide-menu-title {
    padding-left: 12px;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li[data-entity='title']:hover .slide-menu-title,
.bx-touch .slide-menu li[data-entity='title']:active .slide-menu-title {
    color: #6639b6;
}

.slide-menu-close {
    position: absolute;
    right: 16px;
    font-size: 16px;
    color: #8ea6ab;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li[data-entity='title']:hover .slide-menu-close,
.bx-touch .slide-menu li[data-entity='title']:active .slide-menu-close {
    color: #6e858a;
}

.slide-menu li {
    border-bottom: 1px solid #e3ecef;
}

.slide-menu li>a {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding: 13px 36px 13px 18px;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li:hover>a,
.bx-touch .slide-menu li:active>a,
.slide-menu li.hover>a,
.slide-menu li.active>a {
    background-color: #f1f6f7;
}

.slide-menu-icon,
.slide-menu-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}

.slide-menu-icon {
    width: 36px;
    min-width: 36px;
}

.slide-menu-icon>i {
    font-size: 36px;
    color: #55686e;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li:hover>a>.slide-menu-icon>i,
.bx-touch .slide-menu li:active>a>.slide-menu-icon>i,
.slide-menu li.hover>a>.slide-menu-icon>i,
.slide-menu li.active>a>.slide-menu-icon>i {
    color: #3d4b52;
}

.slide-menu-pic {
    width: 32px;
    min-width: 32px;
    height: 32px;
    overflow: hidden;
}

.slide-menu-pic>img {
    width: auto;
    height: auto;
    max-width: 32px;
    max-height: 32px;
}


/*.slide-menu-text{			
	color: #3d4b52;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}*/

.bx-no-touch .slide-menu li:hover>a>.slide-menu-text,
.bx-touch .slide-menu li:active>a>.slide-menu-text,
.slide-menu li.hover>a>.slide-menu-text,
.slide-menu li.active>a>.slide-menu-text {
    color: #6639b6;
}

.slide-menu li>a>i {
    position: absolute;
    right: 16px;
    font-size: 16px;
    color: #b2c7cb;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx-no-touch .slide-menu li:hover>a>i,
.bx-touch .slide-menu li:active>a>i,
.slide-menu li.hover>a>i,
.slide-menu li.active>a>i {
    color: #6e858a;
}

.slide-menu-count {
    padding: 0 5px;
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 11px;
    color: #6e858a;
    line-height: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #d0e0e3;
}

.slide-menu-dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute !important;
    left: 100%;
    top: 0;
    bottom: 0;
    list-style: none;
    overflow: hidden;
    background: #fff;
    z-index: 202;
}

.slide-menu-dropdown-menu.active {
    left: 0;
}

.slide-menu-dropdown-menu>.slide-menu-dropdown-menu {
    position: static !important;
    background: none;
}


/***PHONES***/

@media(max-width: 991px) {
    .slide-menu-option-1-active {
        overflow: hidden;
    }
    .slide-menu {
        width: 100%;
        left: -100%;
    }
}