.sale-order-tabs-block {
	margin: -1px 0 32px 0;
	border-bottom: 1px solid #e3ecef;
}

.sale-order-tabs-scroll{
	position: relative;
	top: 1px;
}

.sale-order-tabs-scroll .owl-prev,
.sale-order-tabs-scroll .owl-next{
	width: 64px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 202;
	cursor: pointer;
}

.sale-order-tabs-scroll .owl-prev.disabled,
.sale-order-tabs-scroll .owl-next.disabled{
	display: none;
}

.sale-order-tabs-scroll .owl-prev{
	left: 0;
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
}

.sale-order-tabs-scroll .owl-next{
	align-items: flex-end;
	right: 0;
	text-align: right;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, #fff 44px, #fff 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}

.sale-order-tabs-scroll .owl-prev i,
.sale-order-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .sale-order-tabs-scroll .owl-prev:hover i,
.bx-touch .sale-order-tabs-scroll .owl-prev:active i,
.bx-no-touch .sale-order-tabs-scroll .owl-next:hover i,
.bx-touch .sale-order-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.sale-order-tabs-list {
	margin: 0;
	padding: 0;	
	list-style: none;	
}

.sale-order-tab {
	float: left;
}

.sale-order-tab-link:link,
.sale-order-tab-link:visited {
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
	position: relative;	
	color: #3d4b52;
	text-decoration: none;	
}

.bx-no-touch .sale-order-tab-link:hover,
.bx-touch .sale-order-tab-link:active{
	color: #6639b6;
}

.sale-order-tab-count {
	display: inline-block;
	padding: 0 5px;
	position: relative;	
	top: -2px;	
	font-size: 11px;
	color: #8ea6ab;
	line-height: 16px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #e3ecef;
}

.sale-order-tab-link:after {
	height: 0;
	position: absolute;	
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #6639b6;
}

.sale-order-tab.active .sale-order-tab-link:after {
	height: 2px;
}

.sale-order-item-container {
	margin-bottom: 30px;
}

.sale-order-item {
	width: 100%;
	padding: 24px;	
	border: 1px solid #e8edef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .sale-order-item-container:hover .sale-order-item,
.bx-touch .sale-order-item-container:active .sale-order-item{
	-webkit-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	-moz-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
}

.sale-order-item-image-wrapper {
	width: 100%;
	height: 222px;
	display: table;
	position: relative;	
}

.sale-order-item-image:link,
.sale-order-item-image:visited {
	display: table-cell;	
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

.sale-order-item-image > img {
	max-width: 222px;
	max-height: 222px;
}

.sale-order-item-sticker-wrap {
	position: absolute;
	left: -29px;
	top: -6px;
}

.sale-order-item-sticker {
	max-width: 187px;
	display: inline-block;
	padding: 0 12px;
	font-size: 14px;
	color: #3d4b52;
	text-overflow: ellipsis;
	line-height: 28px;
	white-space: nowrap;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background: #e1ecc9;
	overflow: hidden;
}

.sale-order-item-sticker.n {
	background: #e1ecc9;
}

.sale-order-item-sticker.f {
	background: #e3ecef;
}

.sale-order-item-sticker.p {
	background: #c9d9ec;
}

.sale-order-item-sticker.canceled {
	background: #f2e2e1;
}

.sale-order-item-icons-container {
	display: table;
	padding: 2px 5px;
	position: absolute;
	right: -10px;
	top: -6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
}

.sale-order-item-repeat,
.sale-order-item-cancel {
	display: table-cell;	
	vertical-align: middle;
	padding: 0 0 0 10px;
}

.sale-order-item-repeat i,
.sale-order-item-cancel i {	
	font-size: 21px;
	color: #d0e0e3;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .sale-order-item-repeat i:hover,
.bx-touch .sale-order-item-repeat i:active,
.bx-no-touch .sale-order-item-cancel i:hover,
.bx-touch .sale-order-item-cancel i:active {
	color: #6639b6;
}

.sale-order-item-info-container {
	width: 100%;
	height: 90px;
	margin-top: 12px;
}

.sale-order-item-info-container > a:link,
.sale-order-item-info-container > a:visited {
	text-decoration: none;
}

.sale-order-item-date {
	height: 20px;
	margin-top: 3px;
	font-size: 14px;	
	color: #a0b3b8;
	line-height: 20px;
	overflow: hidden;
}

.sale-order-item-title {
	height: 24px;
	margin-top: 1px;
	color: #3d4b52;
	overflow: hidden;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .sale-order-item-info-container > a:hover .sale-order-item-title,
.bx-touch .sale-order-item-info-container > a:active .sale-order-item-title{
	color: #6639b6;
}

.sale-order-item-info {
	height: 20px;
	margin-top: 2px;
	font-size: 14px;	
	color: #55686e;
	line-height: 20px;
	overflow: hidden;
}

.sale-order-item-button-container {
	display: table;
}

.sale-order-item-button {
	width: 100%;
	display: table-cell;	
	vertical-align: bottom;
}

.sale-order-item-button .btn {	
	width: 100%;	
}

.sale-order-item-button .btn.btn-default {
	width: 45px;
	margin: 0 0 0 8px;
	padding: 0px;
}

.sale-order-item-button .btn.btn-default > i {	
	padding-right: 0;	
}

/***PHONES***/
@media(max-width: 991px){
	.sale-order-list{
		margin-top: -32px;
	}

	.sale-order-tabs-block{
		margin: 0 -18px 0;
		border: none;
		background-color: #f1f6f7;
	}

	.sale-order-tabs-scroll{
		top: 0;
	}

	.sale-order-tabs-scroll .owl-prev{	
		padding-left: 18px;
		background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
	}

	.sale-order-tabs-scroll .owl-next{	
		padding-right: 18px;
		background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
	}

	.sale-order-item-container{
		margin: 0;
		padding: 0 !important;
		position: relative;
	}
	
	.sale-order-item{
		display: table;
		padding: 18px;		
		border-left: none;
		border-right: none;
		border-top: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}

	.bx-no-touch .sale-order-item-container:hover .sale-order-item,
	.bx-touch .sale-order-item-container:active .sale-order-item{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.sale-order-item-image-wrapper{		
		width: 100px;
		height: auto;
		display: table-cell;
		vertical-align: top;
		padding-right: 12px;
		position: static;
	}

	.sale-order-item-image{
		position: relative;
	}
	
	.sale-order-item-image > img{
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
	}

	.sale-order-item-sticker-wrap{
		left: -18px;
		top: 0;
	}

	.sale-order-item-sticker{
		max-width: 100px;
		padding: 0 5px;
		font-size: 9px;
		text-transform: uppercase;
		line-height: 18px;
		-moz-border-radius: 0 2px 2px 0;
		-webkit-border-radius: 0 2px 2px 0;
		-khtml-border-radius: 0 2px 2px 0;
		border-radius: 0 2px 2px 0;
	}

	.sale-order-item-icons-container{
		right: 11px;
		top: 13px;
	}

	.sale-order-item-info-container{
		height: auto;
		margin-top: 0;
	}

	.sale-order-item-date,
	.sale-order-item-title,
	.sale-order-item-info{
		height: auto;
	}

	.sale-order-item-date{
		line-height: 17px;
		margin-top: 8px;
	}

	.sale-order-item-title{
		margin-top: 4px;
	}

	.sale-order-item-info{		
		line-height: 17px;
		margin-top: 3px;
	}
	
	.sale-order-item-button-container{
		float: right;
		margin-top: 8px;
	}

	.sale-order-item-button{
		width: auto;
	}
	
	.sale-order-item-button .btn-buy{
		width: 45px;
		padding: 0;
	}

	.sale-order-item-button .btn-buy i{
		padding: 0;
		font-size: 18px;
	}

	.sale-order-alert{
		margin-top: 32px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	.sale-order-item-image-wrapper{
		height: 163px;
	}

	.sale-order-item-image > img{
		max-width: 163px;
		max-height: 163px;
	}

	.sale-order-item-sticker{
		max-width: 129px;
	}
}