.promotions-detail{
	margin-top: -40px;
}

/***TABS***/
.promotions-detail-tabs-container{
	width: 100vw;
	margin-left: -moz-calc((100vw - 100%) / -2);
	margin-left: -webkit-calc((100vw  - 100%) / -2);
	margin-left: calc((100vw - 100%) / -2);
	background: #f1f6f7;
}

.slide-menu-option-1-active .promotions-detail-tabs-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
	margin-left: -moz-calc((100vw - 278px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 278px - 100%) / -2);
	margin-left: calc((100vw - 278px - 100%) / -2);
}

.slide-menu-option-2 .promotions-detail-tabs-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
	margin-left: -moz-calc((100vw - 72px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 72px - 100%) / -2);
	margin-left: calc((100vw - 72px - 100%) / -2);
}

.page-container .promotions-detail-tabs-container,
.slide-menu-option-1-active .page-container .promotions-detail-tabs-container,
.slide-menu-option-2 .page-container .promotions-detail-tabs-container{
	width: auto;
	margin-left: -61px;
	margin-right: -61px;
}

.promotions-detail-tabs-block.fixed{		
	position: fixed;
	left: 0;
	right: 0;	
	-webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	background-color: #f1f6f7;
	z-index: 203;
}

.slide-menu-option-1-active .promotions-detail-tabs-block.fixed{
	left: 278px;
}

.slide-menu-option-2 .promotions-detail-tabs-block.fixed{
	left: 72px;
}

.promotions-detail-tabs-scroll{	
	width: 1176px;
	margin-left: auto;
	margin-right: auto;	
	position: relative;		
}

.promotions-detail-tabs-scroll .owl-prev,
.promotions-detail-tabs-scroll .owl-next{
	width: 64px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
	cursor: pointer;
}

.promotions-detail-tabs-block.fixed .promotions-detail-tabs-scroll .owl-prev,
.promotions-detail-tabs-block.fixed .promotions-detail-tabs-scroll .owl-next{	
	z-index: 202;	
}

.promotions-detail-tabs-scroll .owl-prev.disabled,
.promotions-detail-tabs-scroll .owl-next.disabled{
	display: none;
}

.promotions-detail-tabs-scroll .owl-prev{	
	left: 0;
	background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
}

.promotions-detail-tabs-scroll .owl-next{	
	align-items: flex-end;
	right: 0;
	background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
}

.promotions-detail-tabs-scroll .owl-prev i,
.promotions-detail-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .promotions-detail-tabs-scroll .owl-prev:hover i,
.bx-touch .promotions-detail-tabs-scroll .owl-prev:active i,
.bx-no-touch .promotions-detail-tabs-scroll .owl-next:hover i,
.bx-touch .promotions-detail-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.promotions-detail-tabs-list{	
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.promotions-detail-tabs-list:after{	
	display: table;
	clear: both;
	content: "";
}

.promotions-detail-tab{
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
	position: relative;			
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .promotions-detail-tab:hover,
.bx-touch .promotions-detail-tab:active{
	color: #6639b6;
}

.promotions-detail-tab:after{	
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #6639b6;
}

.promotions-detail-tab.active:after{
	height: 2px;
}

.promotions-detail-tab > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

/***ITEM***/
.promotions-item-detail{
	height: -moz-calc(100vw / 3.33);
	height: -webkit-calc(100vw / 3.33);
	height: calc(100vw / 3.33);
	position: relative;
}

.slide-menu-option-1-active .promotions-item-detail{	
	height: -moz-calc((100vw - 278px) / 3.33);
	height: -webkit-calc((100vw - 278px) / 3.33);
	height: calc((100vw - 278px) / 3.33);
}

.slide-menu-option-2 .promotions-item-detail{
	height: -moz-calc((100vw - 72px) / 3.33);
	height: -webkit-calc((100vw - 72px) / 3.33);
	height: calc((100vw - 72px) / 3.33);
}

.page-container .promotions-item-detail,
.slide-menu-option-1-active .page-container .promotions-item-detail,
.slide-menu-option-2 .page-container .promotions-item-detail{
	height: -moz-calc(1298px / 3.33);
	height: -webkit-calc(1298px / 3.33);
	height: calc(1298px / 3.33);
}

.promotions-item-detail-pic-container,
.promotions-item-detail-pic-container:after,
.promotions-item-detail-pic,
.promotions-item-detail-block{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/***ITEM_PIC***/
.promotions-item-detail-pic-container{
	width: 100vw;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slide-menu-option-1-active .promotions-item-detail-pic-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
}

.slide-menu-option-2 .promotions-item-detail-pic-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
}

.page-container .promotions-item-detail-pic-container,
.slide-menu-option-1-active .page-container .promotions-item-detail-pic-container,
.slide-menu-option-2 .page-container .promotions-item-detail-pic-container{
	width: auto;
	left: -61px;
	right: -61px;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.promotions-item-detail-completed .promotions-item-detail-pic-container{
	background: #f4fafb;
}

.promotions-item-detail-pic-container:after{
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#3d4b52", GradientType=0);
}

.promotions-item-detail-completed .promotions-item-detail-pic-container:after{	
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #b2c7cb 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #b2c7cb 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #b2c7cb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#b2c7cb", GradientType=0);
}

.promotions-item-detail-pic{
	background-color: #6e858a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.promotions-item-detail-pic[data-src]{
	opacity: 0;
}

.promotions-item-detail-completed .promotions-item-detail-pic{	
	opacity: 0.2;
	-webkit-filter: grayscale(100%) blur(5px);
	-moz-filter: grayscale(100%) blur(5px);
	-o-filter: grayscale(100%) blur(5px);
	-ms-filter: grayscale(100%) blur(5px);
	filter: grayscale(100%) blur(5px);	
}

/***ITEM_BLOCK***/
.promotions-item-detail-block{	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;	
	padding: 32px 0;
}

.promotions-item-detail-title{
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 30px;	
	color: #fff;
	text-align: center;
	line-height: 36px;
}

.promotions-item-detail-date{	
	margin-top: 12px;
	color: #fff;
	text-align: center;
}

/***ITEM_ICONS***/
.promotions-item-detail-icons{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	right: 0;
	top: 24px;	
}

.promotions-item-detail-icon{
	overflow: hidden;
}

.promotions-item-detail-icon + .promotions-item-detail-icon{
	margin-left: 12px;
	overflow: visible;
}

/***ITEM_MARKER***/
.promotions-item-detail-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.promotions-item-detail-marker-container + .promotions-item-detail-marker-container{
	margin-top: 4px;
}

.promotions-item-detail-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.promotions-item-detail-completed .promotions-item-detail-marker{
	background: #8ea6ab !important;
}

.promotions-item-detail-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.promotions-item-detail-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.promotions-item-detail-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.promotions-item-detail-marker-14px > i{
	font-size: 14px;
}

.promotions-item-detail-marker-24px > i{
	font-size: 24px;
}

.promotions-item-detail-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.promotions-item-detail-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.promotions-item-detail-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***ITEM_TIMER***/
.promotions-item-detail-timer{	
	display: flex;
	align-items: center;	
	padding: 12px 12px 11px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #6639b6;	
}

.promotions-item-detail-completed .promotions-item-detail-timer{
	background: #8ea6ab;
}

.promotions-item-detail-timer > i{	
	margin-right: 7px;
	font-size: 16px;
	color: #fff;
}

.promotions-item-detail-completed .promotions-item-detail-timer > i{
	display: none;
}

.promotions-item-detail-timer > span{		
	color: #fff;
	white-space: nowrap;
}

.promotions-item-detail-timer .countdown-amount:after{	
	content: ":";
}

.promotions-item-detail-timer .countdown-section:last-child .countdown-amount:after{
	content: none;
}

.promotions-item-detail-timer .countdown-period{
	display: none;
}

/***ITEM_PREVIEW_TEXT***/
/***PRODUCTS***/
/***DETAIL_TEXT***/
/***OBJECT***/
.promotions-item-detail-preview-text,
.promotions-detail-products-container,
.promotions-detail-detail-text,
.promotions-detail-object-container{
	margin-top: 46px;
}

/***LINKS***/
.promotions-detail-sections-links{
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-bottom: 32px;	
}

.promotions-detail-section-link{
	margin-left: 6px;
	margin-top: 6px;
	padding: 9px 16px 8px;
	white-space: nowrap;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .promotions-detail-section-link:hover,
.bx-touch .promotions-detail-section-link:active{
	border-color: #8ea6ab;
	background: #e3ecef;
}

.promotions-detail-section-link.active,
.bx-no-touch .promotions-detail-section-link.active:hover,
.bx-touch .promotions-detail-section-link.active:active{
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

.promotions-detail-section-link > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -2px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

.promotions-detail-section-link.active > span,
.bx-no-touch .promotions-detail-section-link.active:hover > span,
.bx-touch .promotions-detail-section-link.active:active > span{
	color: #fff;
	background: #8ea6ab;
}

/***PHONES***/
@media(max-width: 991px){
	.promotions-detail{
		margin-top: -32px;
	}

	/***TABS***/
	.promotions-detail-tabs-container,
	.slide-menu-option-1-active .promotions-detail-tabs-container,
	.slide-menu-option-2 .promotions-detail-tabs-container,
	.page-container .promotions-detail-tabs-container,
	.slide-menu-option-1-active .page-container .promotions-detail-tabs-container,
	.slide-menu-option-2 .page-container .promotions-detail-tabs-container{
		width: unset;
		margin: 0 -18px;
	}
	
	.slide-menu-option-1-active .promotions-detail-tabs-block.fixed,
	.slide-menu-option-2 .promotions-detail-tabs-block.fixed{
		left: 0;
	}
	
	.promotions-detail-tabs-scroll{	
		width: unset;
		margin: 0;
	}

	.promotions-detail-tabs-scroll .owl-prev{
		padding-left: 18px;
	}
	
	.promotions-detail-tabs-scroll .owl-next{
		padding-right: 18px;
	}

	/***ITEM***/
	.promotions-item-detail,	
	.slide-menu-option-1-active .promotions-item-detail,
	.slide-menu-option-2 .promotions-item-detail,
	.page-container .promotions-item-detail,
	.slide-menu-option-1-active .page-container .promotions-item-detail,
	.slide-menu-option-2 .page-container .promotions-item-detail{
		height: 185px;
		margin: 0 -18px;
	}

	/***ITEM_PIC***/
	.promotions-item-detail-pic-container,
	.slide-menu-option-1-active .promotions-item-detail-pic-container,
	.slide-menu-option-2 .promotions-item-detail-pic-container,
	.page-container .promotions-item-detail-pic-container,
	.slide-menu-option-1-active .page-container .promotions-item-detail-pic-container,
	.slide-menu-option-2 .page-container .promotions-item-detail-pic-container{
		width: unset;
		left: 0;
		-webkit-transform: unset;
		-moz-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset;
	}

	/***ITEM_BLOCK***/
	.promotions-item-detail-block{
		padding: 18px 0;
	}

	.promotions-item-detail-title{		
		font-size: 20px;
		line-height: 24px;
	}

	.promotions-item-detail-date{	
		margin-top: 6px;
	}

	/***ITEM_ICONS***/
	.promotions-item-detail-icons{
		left: 12px;
		right: 12px;
		top: 12px;	
	}

	/***ITEM_PREVIEW_TEXT***/
	/***PRODUCTS***/
	/***DETAIL_TEXT***/
	/***OBJECT***/
	.promotions-item-detail-preview-text,
	.promotions-detail-products-container,
	.promotions-detail-detail-text,
	.promotions-detail-object-container{
		margin-top: 14px;
	}

	/***LINKS***/
	.promotions-detail-sections-links{
		margin-top: -6px;
		margin-bottom: 18px;	
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***TABS***/
	.page-container .promotions-detail-tabs-container,
	.slide-menu-option-1-active .page-container .promotions-detail-tabs-container,
	.slide-menu-option-2 .page-container .promotions-detail-tabs-container{
		margin-left: -23px;
		margin-right: -23px;
	}

	.promotions-detail-tabs-scroll{	
		width: 946px;
	}
	
	/***ITEM***/
	.page-container .promotions-item-detail,
	.slide-menu-option-1-active .page-container .promotions-item-detail,
	.slide-menu-option-2 .page-container .promotions-item-detail{
		height: -moz-calc(992px / 3.33);
		height: -webkit-calc(992px / 3.33);
		height: calc(992px / 3.33);
	}

	/***ITEM_PIC***/
	.page-container .promotions-item-detail-pic-container,
	.slide-menu-option-1-active .page-container .promotions-item-detail-pic-container,
	.slide-menu-option-2 .page-container .promotions-item-detail-pic-container{
		left: -23px;
		right: -23px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1042px){
	/***TABS***/
	.slide-menu-option-2 .promotions-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}
	
	.slide-menu-option-2 .promotions-detail-tabs-block.fixed{
		left: 0;
	}

	/***ITEM***/
	.slide-menu-option-2 .promotions-item-detail{
		height: -moz-calc(100vw / 3.33);
		height: -webkit-calc(100vw / 3.33);
		height: calc(100vw / 3.33);
	}
	
	/***ITEM_PIC***/
	.slide-menu-option-2 .promotions-item-detail-pic-container{
		width: 100vw;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1499px){
	/***TABS***/
	.slide-menu-option-1-active .promotions-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}

	.slide-menu-option-1-active .promotions-detail-tabs-block.fixed{
		left: 0;
	}

	/***ITEM***/
	.slide-menu-option-1-active .promotions-item-detail{
		height: -moz-calc(100vw / 3.33);
		height: -webkit-calc(100vw / 3.33);
		height: calc(100vw / 3.33);
	}
	
	/***ITEM_PIC***/
	.slide-menu-option-1-active .promotions-item-detail-pic-container{
		width: 100vw;
	}
}