.CitySearch__Ul {
	list-style-position: inside;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    list-style-type: none;
    height: auto;
	margin: 0;
    padding: 0;
	width: 100%;
    position: relative;
    display: inline-block;
}
	
.CitySearch__Li {		
	line-height: 2;
}
	
.CitySearch__A {
	border-bottom: 1px dashed #3d4b52;
	cursor: pointer;
	color: #3d4b52 !important;
	text-decoration: none !important;
}

.CitySearch__A:hover {
	color: #7345c4;
	border-bottom: 1px dashed #7345c4;
}

.CityOnline {
	position: relative;
	width: 230px;
    float: right;
	height: 72px;
	padding-top: 28px;
}

.yours-city {
	color: #8ea6ab;
}

.CityOnline__Title span:first-child {
	font-weight: bold;
}

.CityOnline__Title span:last-child {
	color: #fff;
	border-bottom: 1px dashed #fff;
	cursor: pointer;
}

.CityOnline__Body {
	position: absolute;
	width: 300px;
	height: 120px;
	margin-top: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0px -5px 12px rgba(61, 75, 82, 0.16);
	        box-shadow: 0px -5px 12px rgba(61, 75, 82, 0.16);
	text-align: center;
	padding-top: 20px;
	line-height: 1.4;
	border-radius: 4px;
	left: -50px;
}

.CityOnline__Body::after {
	content: '';
    position: absolute;
    border: 11px solid transparent;
    border-bottom: 13px solid #ffffff;
    top: -23px;
    left: 50%;
}

.CityOnline__ButtonsPanel {
	width: 100%;
	position: absolute;
    bottom: 0;
}

.CityOnline__ButtonsPanel div {
	width: 50%;
    text-align: center;
    display: block;
    float: left;
	height: 40px;
    padding-top: 9px;
	cursor: pointer;
}

.CityOnline__ButtonsPanel div.CityOnline__Yes {
	background: #7345c4;
	color: #ffffff;
	border-bottom-left-radius: 4px;
}

.CityOnline__ButtonsPanel div.CityOnline__No {
	color: #7345c4;
	background: #f1f6f7;
	-webkit-box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, 0.16);
    box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, 0.16);
	border-bottom-right-radius: 4px;
}

.slide-panel__close.CityOnline__Close {
	width: 35px;
    height: 33px;
}

.slide-panel__close.CityOnline__Close > i {
    font-size: 13px;    
    font-weight: bold;
}

.PopupCity { 
	display: none; 
	width: 100%;
    position: relative;
    padding: 20px;
}

.DisplayNone {
	display: none;
}

.top-panel__col.top-panel__city {
	display: none;
}

@media (max-width: 1185px)
{
	.top-panel__col.top-panel__city { display: block; white-space: nowrap; cursor: pointer; }
	.top-panel__col.top-panel__city .top-panel__compare-link { cursor: pointer; }
	.CityOnline__Title span { display: none; }
	.CityOnline { width: auto; height: auto; padding-top: 0; }
	.CityOnline__Body { margin-top: -5px; left: -136px; }
	.js_city_addr, .js_city_mail {
		display:none;
	}
}

@media (max-width: 400px)
{
	.CitySearch__Ul {		
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;		
	}
}