.promotions-wrapper,
.promotions-items-container,
.promotions-items{
	width: 100%;
}

.promotions-items-container{
	position: relative;
}

.promotions-items{	
	display: flex;
}

/***ITEM***/
.promotions-item{	
	width: -moz-calc(100% + 2px);
	width: -webkit-calc(100% + 2px);
	width: calc(100% + 2px);	
	height: 320px;
	display: block;
	margin-left: -1px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.promotions-item-pic,
.promotions-item-block-container,
.promotions-item-block-container:before,
.promotions-item-block-container:after,
.promotions-item-block{
	position: absolute;
	left: 0;
	right: 1px;
	top: 0;
	bottom: 0;
}

/***ITEM_PIC***/
.promotions-item-pic{
	background-color: #6e858a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-moz-transition: -moz-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-o-transition: -o-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	transition: transform 0.45s ease 0s, opacity 0.3s ease 0s;
	z-index: 198;
}

.promotions-item-pic[data-src]{
	opacity: 0;
}

.bx-no-touch .promotions-item:hover .promotions-item-pic,
.bx-touch .promotions-item:active .promotions-item-pic{
	-moz-transform: scale(1.1) rotate(0.02deg);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/***ITEM_BLOCK***/
.promotions-item-block-container{	
	z-index: 199;
}

.promotions-item-block-container:before,
.promotions-item-block-container:after{
	right: 0;
}

.promotions-item-block-container:before{
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#3d4b52", GradientType=0);
}

.promotions-item-block-container:after{
	opacity: 0;
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0.5) 0%, #6639b6 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0.5) 0%, #6639b6 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0.5) 50%, #6639b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#803d4b52", endColorstr="#6639b6", GradientType=0);
	-webkit-transition: opacity 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.bx-no-touch .promotions-item:hover .promotions-item-block-container:after,
.bx-touch .promotions-item:active .promotions-item-block-container:after{
	opacity: 1;
}

.promotions-item-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 24px;
	z-index: 200;
}

.promotions-item-title{
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 24px;	
	color: #fff;
	text-align: center;
	line-height: 29px;
}

.promotions-item-date{	
	margin-top: 12px;
	color: #fff;
	text-align: center;
}

/***ITEM_ICONS***/
.promotions-item-icons{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 12px;
	right: 13px;
	top: 12px;
	z-index: 200;
}

.promotions-item-icon{
	overflow: hidden;
}

.promotions-item-icon + .promotions-item-icon{
	margin-left: 12px;
	overflow: visible;
}

/***ITEM_MARKER***/
.promotions-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.promotions-item-marker-container + .promotions-item-marker-container{
	margin-top: 4px;
}

.promotions-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.promotions-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.promotions-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.promotions-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.promotions-item-marker-14px > i{
	font-size: 14px;
}

.promotions-item-marker-24px > i{
	font-size: 24px;
}

.promotions-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.promotions-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.promotions-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***ITEM_TIMER***/
.promotions-item-timer{	
	display: flex;
	align-items: center;
	padding: 12px 12px 11px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #6639b6;	
}

.promotions-item-timer > i{	
	margin-right: 7px;
	font-size: 16px;
	color: #fff;
}

.promotions-item-timer > span{		
	color: #fff;
	white-space: nowrap;
}

.promotions-item-timer .countdown-amount:after{	
	content: ":";
}

.promotions-item-timer .countdown-section:last-child .countdown-amount:after{
	content: none;
}

.promotions-item-timer .countdown-period{
	display: none;
}

/***PREV_NEXT***/
.promotions-items-container .owl-prev,
.promotions-items-container .owl-next{
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
}

.promotions-items-container .owl-prev{
	left: 0;
	background: -moz-linear-gradient(left, rgba(61, 75, 82, 1) 0%, rgba(61, 75, 82, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(61, 75, 82, 1) 0%, rgba(61, 75, 82, 0) 100%);
	background: linear-gradient(to right, rgba(61, 75, 82, 1) 0%, rgba(61, 75, 82, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d4b52', endColorstr='#003d4b52', GradientType=1);
}

.promotions-items-container .owl-next{
	right: 0;
	background: -moz-linear-gradient(left, rgba(61, 75, 82, 0) 0%, rgba(61, 75, 82, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(61, 75, 82, 0) 0%, rgba(61, 75, 82, 1) 100%);
	background: linear-gradient(to right, rgba(61, 75, 82, 0) 0%, rgba(61, 75, 82, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003d4b52', endColorstr='#3d4b52', GradientType=1);
}

.promotions-items-container .owl-prev-icon,
.promotions-items-container .owl-next-icon{
	width: 81px;
	height: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -48px;
	position: absolute;
	top: 50%;
	background: rgba(61, 75, 82, 0.3);	
	cursor: pointer;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.promotions-items-container .owl-prev-icon{
	left: 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-khtml-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.promotions-items-container .owl-next-icon{
	right: 0;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.bx-no-touch .promotions-items-container .owl-prev-icon:hover,
.bx-touch .promotions-items-container .owl-prev-icon:active,
.bx-no-touch .promotions-items-container .owl-next-icon:hover,
.bx-touch .promotions-items-container .owl-next-icon:active{
	background: #6639b6;	
}

.promotions-items-container .owl-prev-icon > i,
.promotions-items-container .owl-next-icon > i{
	font-size: 48px;
	color: #fff;	
}

.promotions-items-container .owl-prev.disabled,
.promotions-items-container .owl-next.disabled{
	display: none;
}

/***PHONES***/
@media(max-width: 991px){
	/***ITEM***/
	.promotions-item{
		width: 100%;
		height: 185px;
		margin: 0;
	}

	.promotions-item-pic,
	.promotions-item-block-container,
	.promotions-item-block-container:before,
	.promotions-item-block-container:after,
	.promotions-item-block{		
		right: 0;
	}

	/***ITEM_BLOCK***/
	.promotions-item-block{
		padding: 18px;
	}

	.promotions-item-title{
		font-size: 20px;
		line-height: 24px;
	}

	.promotions-item-date{	
		margin-top: 6px;
	}

	/***ITEM_ICONS***/
	.promotions-item-icons{		
		right: 12px;
	}

	/***PREV_NEXT***/
	.promotions-items-container .owl-prev,
	.promotions-items-container .owl-next{
		width: 100px;
	}
	
	.promotions-items-container .owl-prev-icon,
	.promotions-items-container .owl-next-icon{
		width: 40px;
		height: 48px;		
		margin-top: -24px;
	}
	
	.promotions-items-container .owl-prev-icon > i,
	.promotions-items-container .owl-next-icon > i{
		font-size: 24px;
	}
}