@font-face {
  font-family: 'ELASTO-UI';
  font-display: swap;
  src:  url('ELASTO-UI.eot?7a2qam');
  src:  url('ELASTO-UI.eot?7a2qam#iefix') format('embedded-opentype'),
    url('ELASTO-UI.woff2?7a2qam') format('woff2'),
    url('ELASTO-UI.ttf?7a2qam') format('truetype'),
    url('ELASTO-UI.woff?7a2qam') format('woff'),
    url('ELASTO-UI.svg?7a2qam#ELASTO-UI') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ELASTO-UI' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e948";
}
.icon-cart:before {
  content: "\e900";
}
.icon-bag:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e902";
}
.icon-scale-plus:before {
  content: "\e903";
}
.icon-map-maker:before {
  content: "\e904";
}
.icon-map-maker2:before {
  content: "\e905";
}
.icon-map-maker3:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-phone-call:before {
  content: "\e908";
}
.icon-mobile:before {
  content: "\e943";
}
.icon-mobile24:before {
  content: "\e942";
}
.icon-email:before {
  content: "\e946";
}
.icon-mail:before {
  content: "\e909";
}
.icon-at:before {
  content: "\e941";
}
.icon-at-comment:before {
  content: "\e944";
}
.icon-user-circle:before {
  content: "\e90b";
}
.icon-card:before {
  content: "\e90c";
}
.icon-cards:before {
  content: "\e90d";
}
.icon-contactless-card:before {
  content: "\e90e";
}
.icon-cards2:before {
  content: "\e90f";
}
.icon-contactless:before {
  content: "\e910";
}
.icon-bank:before {
  content: "\e911";
}
.icon-invoice:before {
  content: "\e912";
}
.icon-wallet:before {
  content: "\e913";
}
.icon-delivery:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e915";
}
.icon-dot-list:before {
  content: "\e916";
}
.icon-price:before {
  content: "\e917";
}
.icon-sliders:before {
  content: "\e918";
}
.icon-box:before {
  content: "\e919";
}
.icon-list:before {
  content: "\e91a";
}
.icon-dots:before {
  content: "\e93c";
}
.icon-compare:before {
  content: "\e91b";
}
.icon-compare3:before {
  content: "\e91c";
}
.icon-compare2:before {
  content: "\e91d";
}
.icon-rub:before {
  content: "\e91e";
}
.icon-byr:before {
  content: "\e977";
}
.icon-repeat:before {
  content: "\e91f";
}
.icon-repeat-b:before {
  content: "\e920";
}
.icon-ok:before {
  content: "\e921";
}
.icon-ok-b:before {
  content: "\e93a";
}
.icon-close:before {
  content: "\e922";
}
.icon-close-b:before {
  content: "\e93b";
}
.icon-arrow-right:before {
  content: "\e923";
}
.icon-arrow-left:before {
  content: "\e931";
}
.icon-arrow-up:before {
  content: "\e932";
}
.icon-arrow-down:before {
  content: "\e933";
}
.icon-arrow-right-b:before {
  content: "\e924";
}
.icon-arrow-left-b:before {
  content: "\e934";
}
.icon-arrow-up-b:before {
  content: "\e935";
}
.icon-arrow-down-b:before {
  content: "\e936";
}
.icon-star:before {
  content: "\e925";
}
.icon-star-b:before {
  content: "\e926";
}
.icon-star-s:before {
  content: "\e927";
}
.icon-heart:before {
  content: "\e93d";
}
.icon-heart-b:before {
  content: "\e928";
}
.icon-heart-s:before {
  content: "\e93e";
}
.icon-globe:before {
  content: "\e947";
}
.icon-print:before {
  content: "\e929";
}
.icon-share:before {
  content: "\e92a";
}
.icon-clock:before {
  content: "\e92b";
}
.icon-question:before {
  content: "\e940";
}
.icon-eye:before {
  content: "\e92c";
}
.icon-microphone:before {
  content: "\e937";
}
.icon-support:before {
  content: "\e92d";
}
.icon-dialogue:before {
  content: "\e945";
}
.icon-comment:before {
  content: "\e92e";
}
.icon-comment-s:before {
  content: "\e93f";
}
.icon-music:before {
  content: "\e92f";
}
.icon-logout:before {
  content: "\e930";
}
.icon-service:before {
  content: "\e938";
}
.icon-server:before {
  content: "\e939";
}
