.bx-filter{		
	width: 400px;
	height: 100%;
	padding-bottom: 68px;
	position: fixed;
	right: -400px;
	top: 0;	
	background-color: #fff;
	z-index: 1100;
	-webkit-transition: right 0.3s ease 0s;
	-moz-transition: right 0.3s ease 0s;
	-o-transition: right 0.3s ease 0s;
	transition: right 0.3s ease 0s;
}

/* прячем jivosite*/
jdiv.label_39 {
	z-index: 1000 !important;
}

.bx-filter.active{
	right: 0;
}

.bx-filter .bx-filter-title-container{
	height: 65px;
	display: flex;
	align-items: center;
	padding: 0 32px;
	position: relative;
	background-color: #f1f6f7;
}

.bx-filter .bx-filter-title-container > i{
	padding-right: 18px;
	font-size: 30px;
	color: #d0e0e3;
}

.bx-filter .bx-filter-title{
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 20px;	
	color: #3d4b52;
	line-height: 24px;
}

.bx-filter .bx-filter-close{
	width: 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
	cursor: pointer;
}

.bx-filter .bx-filter-close > i{
	font-size: 16px;
	color: #8ea6ab;
}

.bx-no-touch .bx-filter .bx-filter-close:hover > i,
.bx-touch .bx-filter .bx-filter-close:active > i{
	color: #6639b6;
}

.bx-filter .bx-filter-inner{
	height: -moz-calc(100% - 68px);
	height: -webkit-calc(100% - 68px);
	height: calc(100% - 68px);
}

.bx-filter .bx-filter-parameters-box{
	padding: 15px 23px 13px;
	position: relative;
	border-top: 1px solid #e3ecef;
}

.bx-filter .bx-filter-parameters-box:first-child{
	border: none;
}

.bx-filter .bx-filter-button-box{		
	width: 400px;
	padding: 13px 23px;
	position: fixed;
	right: -400px;
	bottom: 0;	
	-webkit-box-shadow: 0 0 24px rgba(85, 104, 110, 0.36);
	-moz-box-shadow: 0 0 24px rgba(85, 104, 110, 0.36);
	box-shadow: 0 0 24px rgba(85, 104, 110, 0.36);
	background-color: #f1f6f7;
	z-index: 1100;
	-webkit-transition: right 0.3s ease 0s;
	-moz-transition: right 0.3s ease 0s;
	-o-transition: right 0.3s ease 0s;
	transition: right 0.3s ease 0s;
}

.bx-filter.active .bx-filter-button-box{
	right: 0;
}

.bx-filter .bx-filter-button-box button{
	float: left;
}

.bx-filter .bx-filter-button-box button + button{
	margin-left: 6px;
}

.bx-filter-count{
	display: inline-block;
	margin-left: 5px;
	padding: 0 5px;
	position: relative;
	top: -2px;
	font-size: 11px;
	color: #8ea6ab;	
	line-height: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #e3ecef;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .bx-filter .bx-filter-button-box button:hover .bx-filter-count,
.bx-touch .bx-filter .bx-filter-button-box button:active .bx-filter-count{
	color: #fff;
	background-color: #6e858a;
}

.bx-filter .bx-filter-parameters-box-title{
	position: relative;
	cursor: pointer;
}

.bx-filter .bx-filter-parameters-box-title i,
.bx-filter .bx-filter-parameters-box-title span{	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-filter .bx-filter-parameters-box-title i{	
	position: absolute;
	left: 0;
	top: 50%;
	font-size: 22px;
	color: #8ea6ab;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.bx-filter .bx-filter-parameters-box:not(.bx-active) .bx-filter-parameters-box-title i{	
	-webkit-transform: translateY(-50%) rotate(-90deg);
	-moz-transform: translateY(-50%) rotate(-90deg);
	-ms-transform: translateY(-50%) rotate(-90deg);
	-o-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
}

.bx-filter .bx-filter-parameters-box-title span{
	display: inline-block;
	padding-left: 20px;
	font-size: 16px;
	color: #55686e;	
	line-height: 17px;
}

.bx-no-touch .bx-filter .bx-filter-parameters-box-title:hover i,
.bx-touch .bx-filter .bx-filter-parameters-box-title:active i,
.bx-no-touch .bx-filter .bx-filter-parameters-box-title:hover span,
.bx-touch .bx-filter .bx-filter-parameters-box-title:active span{
	color: #6639b6;
}

.bx-filter .bx-filter-parameters-box-hint{
	position: absolute;
	right: 23px;
	top: 14px;
	font-size: 19px;
	color: #d0e0e3;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
	cursor: pointer;
}

.bx-no-touch .bx-filter .bx-filter-parameters-box-hint:hover,
.bx-no-touch .bx-filter .bx-filter-parameters-box-hint:active{
	color: #a3bc6d;
}

.bx-filter .bx-filter-block{	
	display: none;
	margin-top: 16px;	
}

.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block{	
	display: block;	
}

.bx-filter .bx-filter-button-box .bx-filter-block{
	display: table;
	margin: 0;
}

/***NUMBERS***/
.bx-filter .bx-filter-parameters-box-block-container{
	width: 100%;
	display: table;
}

.bx-filter .bx-filter-parameters-box-block{
	display: table-cell;
	vertical-align: middle;
}

.bx-filter .bx-filter-separate{
	width: 1px;
	padding: 0 14px;
	font-size: 14px;
	color: #3d4b52;
	line-height: 32px;
}

/***INPUTS***/
.bx-filter .bx-filter-input-container input {
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 0 13px;
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 14px;
	color: #3d4b52;
	border: 1px solid #d0e0e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-appearance: none;
	background-color: #fff;
	outline: none;
}

/***TRACK***/
.bx-filter .bx-ui-slider-track-container{
	padding: 23px 12px 21px;
}

.bx-filter .bx-ui-slider-track{	
	height: 3px;
	position: relative;
	background: #d0e0e3;
}

.bx-filter .bx-ui-slider-pricebar-vd,
.bx-filter .bx-ui-slider-pricebar-vn,
.bx-filter .bx-ui-slider-pricebar-v,
.bx-filter .bx-ui-slider-range{
	position: absolute;
	top: 0;
	bottom: 0;
}

.bx-filter .bx-ui-slider-pricebar-vd{
	z-index: 60;
	background: #8ea6ab;
}

.bx-filter .bx-ui-slider-pricebar-vn{
	z-index: 70;
	background: #3d8196;
}

.bx-filter .bx-ui-slider-pricebar-v{
	z-index: 80;
	background: #00c0ff;
}

.bx-filter .bx-ui-slider-range{
	z-index: 90;
}

.bx-filter .bx-ui-slider-handle{
	width: 24px;
	height: 24px;
	position: absolute;
	top: -11px;
	border: 3px solid #00c0ff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 2px 2px 6px rgba(85, 104, 110, 0.32);
	-moz-box-shadow: 2px 2px 6px rgba(85, 104, 110, 0.32);
	box-shadow: 2px 2px 6px rgba(85, 104, 110, 0.32);
	background-color: #fff;
}

.bx-filter .bx-ui-slider-handle.left{
	left: 0;
	margin-left: -12px;
}

.bx-filter .bx-ui-slider-handle.right{
	right: 0;
	margin-right: -12px;
}

.bx-no-touch .bx-filter .bx-ui-slider-handle:hover{
	-webkit-cursor: grab;
	-ms-cursor: grab;
	-o-cursor: grab;
	cursor: grab;
}

.bx-filter .bx-ui-slider-handle:active{
	-webkit-cursor: grabbing;
	-ms-cursor: grabbing;
	-o-cursor: grabbing;
	cursor: grabbing;
}

/***LABEL***/
.bx-filter .bx-filter-param-label {
	min-height: auto;
	display: table;
	padding: 0;
	font-weight: 300;
	cursor: pointer;
}

.bx-filter .bx-filter-param-btn-inline .bx-filter-param-label{
	float: left;
	margin-left: 5px;	
}

.bx-filter .bx-filter-param-label.disabled{
	cursor: default;
}

/***CHECKBOX***/
/***RADIO***/
.bx-filter .bx-filter-input-checkbox .bx-filter-param-check-container,
.bx-filter .bx-filter-input-radio .bx-filter-param-check-container,
.bx-filter .bx-filter-param-text{
	display: table-cell;
	vertical-align: middle;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-check,
.bx-filter .bx-filter-input-radio .bx-filter-param-check{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
	background-color: #d0e0e3;
}

.bx-filter .bx-filter-input-radio .bx-filter-param-check{
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
}

.bx-no-touch .bx-filter .bx-filter-input-checkbox .bx-filter-param-label:hover .bx-filter-param-check,
.bx-touch .bx-filter .bx-filter-input-checkbox .bx-filter-param-label:active .bx-filter-param-check,
.bx-no-touch .bx-filter .bx-filter-input-radio .bx-filter-param-label:hover .bx-filter-param-check,
.bx-touch .bx-filter .bx-filter-input-radio .bx-filter-param-label:active .bx-filter-param-check{
	background-color: #8ea6ab;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-label.disabled .bx-filter-param-check,
.bx-filter .bx-filter-input-radio .bx-filter-param-label.disabled .bx-filter-param-check{
	background-color: #d0e0e3;
}

.bx-filter .bx-filter-input-checkbox input[type=checkbox]:checked + .bx-filter-param-check-container .bx-filter-param-check,
.bx-filter .bx-filter-input-radio input[type=radio]:checked + .bx-filter-param-check-container .bx-filter-param-check{
	background-color: #6639b6;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-check i,
.bx-filter .bx-filter-input-radio .bx-filter-param-check i{
	display: none;
	font-size: 12px;
	color: #fff;
}

.bx-filter .bx-filter-input-checkbox input[type=checkbox]:checked + .bx-filter-param-check-container .bx-filter-param-check i,
.bx-filter .bx-filter-input-radio input[type=radio]:checked + .bx-filter-param-check-container .bx-filter-param-check i{
	display: inline-block;
}

.bx-filter .bx-filter-param-text{	
	padding-left: 9px;
	font-size: 14px;
	color: #55686e;
	line-height: 17px;
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-text{
	color: #8ea6ab;
}

.bx-filter .bx-filter-param-text > span{
	margin-left: 3px;
	padding: 0 5px;
	font-size: 11px;
	color: #8ea6ab;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #e3ecef;
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-text > span{
	color: #d0e0e3;
	background-color: #f1f6f7;
}

/***SELECT***/
.bx-filter .bx-filter-select-container{	
	border: 1px solid #d0e0e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
}

.bx-filter .bx-filter-select-block{	
	padding: 3px 33px 3px 12px;
	position: relative;	
	cursor: pointer;
}

.bx-filter .bx-filter-select-text{		
	overflow: hidden;	
	font-size: 14px;
	color: #3d4b52;	
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;	
}

.bx-filter .bx-filter-select-text.fix .bx-filter-btn-color-icon-container{
	display: inline-block;
	vertical-align: middle;
	margin-right: -3px;
	padding: 2px 0;
}

.bx-filter .bx-filter-select-text.fix .bx-filter-param-text{
	display: inline;
}

.bx-filter .bx-filter-select-arrow{
	width: 30px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
}

.bx-filter .bx-filter-select-arrow i{	
	font-size: 16px;
	color: #8ea6ab;	
}

/***SELECT_POPUP***/
.bx-filter-popup-window{	
	padding: 0;
	left: -1px !important;
	right: -1px;
	top: 36px !important;
	border: 1px solid #d0e0e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 24px rgba(85, 104, 110, 0.36);
	-moz-box-shadow: 0 0 24px rgba(85, 104, 110, 0.36);
	box-shadow: 0 0 24px rgba(85, 104, 110, 0.36);
	z-index: 202 !important;
}

.bx-filter-popup-window .popup-window-content{
	background: none;
}

.bx-filter-select-popup ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.bx-filter-select-popup ul li + li{
	border-top: 1px solid #e3ecef;
}

.bx-filter-select-popup ul li .bx-filter-param-label{		
	display: block;
	margin: 0;
	padding: 6px 12px;	
	font-size: 14px;
	color: #3d4b52;
	line-height: 17px;	
}

.bx-filter-select-popup.fix ul li .bx-filter-param-label{
	width: 100%;
	display: table;
}

.bx-filter-select-popup ul li:first-child .bx-filter-param-label{
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.bx-filter-select-popup ul li:last-child .bx-filter-param-label{
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-khtml-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.bx-no-touch .bx-filter-select-popup ul li .bx-filter-param-label:hover,
.bx-touch .bx-filter-select-popup ul li .bx-filter-param-label:active{	
	background-color: #f1f6f7;
}

.bx-filter-select-popup ul li .bx-filter-param-label.disabled{
	color: #8ea6ab;
	background: none;
}

.bx-filter-select-popup.fix ul li .bx-filter-btn-color-icon-container{
	width: 33px;
	display: table-cell;
	vertical-align: middle;
}

/***COLORS***/
.bx-filter .bx-filter-param-btn-inline{
	float: left;
	margin-left: -5px;
}

.bx-filter .bx-filter-param-btn-inline .bx-filter-param-btn{
	display: block;
}

.bx-filter .bx-filter-param-btn-block .bx-filter-param-btn{
	display: table-cell;
	vertical-align: middle;
}

.bx-filter .bx-filter-btn-color-icon-container{
	display: block;	
	position: relative;
}

.bx-filter .bx-filter-btn-color-icon-container:before,
.bx-filter .bx-filter-btn-color-icon-container:after{
	width: 1px;
	height: 15px;
	position: absolute;
	left: 16px;
	top: 9px;
	content: none;
	background-color: #8ea6ab;
}

.bx-filter .bx-filter-btn-color-icon-container:before{
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bx-filter .bx-filter-btn-color-icon-container:after{
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon-container:before,
.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon-container:after{
	content: "";
}

.bx-filter .bx-filter-btn-color-icon{
	width: 33px;
	height: 33px;
	display: block;	
	position: relative;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-filter .bx-filter-select-text.fix .bx-filter-btn-color-icon{
	width: 30px;
	height: 30px;
	float: left;
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon{
	opacity: 0.2;
}

.bx-filter .bx-filter-btn-color-icon:before,
.bx-filter .bx-filter-btn-color-icon:after{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.bx-filter .bx-filter-btn-color-icon:before{	
	content: none;
	border: 4px solid transparent;	
}

.bx-no-touch .bx-filter .bx-filter-param-label:hover .bx-filter-btn-color-icon:before,
.bx-touch .bx-filter .bx-filter-param-label:active .bx-filter-btn-color-icon:before{
	content: "";
	border-color: #fff;
}

.bx-filter .bx-filter-param-label.bx-active .bx-filter-btn-color-icon:before{
	content: "";
	border-color: #fff;
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon:before{
	content: none;
}

.bx-filter .bx-filter-btn-color-icon:after{	
	content: "";
	border: 1px solid #d0e0e3;	
}

.bx-no-touch .bx-filter .bx-filter-param-label:hover .bx-filter-btn-color-icon:after,
.bx-touch .bx-filter .bx-filter-param-label:active .bx-filter-btn-color-icon:after{	
	border-width: 2px;
	border-color: #8ea6ab;
}

.bx-filter .bx-filter-param-label.bx-active .bx-filter-btn-color-icon:after{	
	border-width: 2px;
	border-color: #6639b6;
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon:after{
	border-width: 1px;
	border-color: #d0e0e3;
}

/***CALENDAR***/
.bx-filter .bx-filter-calendar-container{
	margin-bottom: 5px;
	position: relative;
}

.bx-filter .bx-filter-calendar-container input{
	padding-right: 45px;
}

.bx-filter .bx-filter-calendar-container .calendar-icon{
	margin: 0;
	position: absolute;
	right: 13px;
	top: 6px;
}

/***TOOLTIP***/
.bx-panel-tooltip{
	width: 354px !important;
	left: unset !important;
	right: 23px;
}

/***PHONES***/
@media(max-width: 991px){
	.bx-filter{		
		-webkit-transition: width 0.3s ease 0s, right 0.3s ease 0s;
		-moz-transition: width 0.3s ease 0s, right 0.3s ease 0s;
		-o-transition: width 0.3s ease 0s, right 0.3s ease 0s;
		transition: width 0.3s ease 0s, right 0.3s ease 0s;
	}

	.bx-filter.active{
		width: 100%;
	}
	
	.bx-filter .bx-filter-button-box{
		-webkit-transition: width 0.3s ease 0s, right 0.3s ease 0s;
		-moz-transition: width 0.3s ease 0s, right 0.3s ease 0s;
		-o-transition: width 0.3s ease 0s, right 0.3s ease 0s;
		transition: width 0.3s ease 0s, right 0.3s ease 0s;
	}

	.bx-filter.active .bx-filter-button-box{
		width: 100%;
	}

	/***TOOLTIP***/
	.bx-panel-tooltip{
		width: auto !important;
		left: 23px !important;		
	}
}