.collections-detail{
	margin-top: -40px;
}

/***TABS***/
.collections-detail-tabs-container{
	width: 100vw;
	margin-left: -moz-calc((100vw - 100%) / -2);
	margin-left: -webkit-calc((100vw  - 100%) / -2);
	margin-left: calc((100vw - 100%) / -2);
	background: #f1f6f7;
}

.slide-menu-option-1-active .collections-detail-tabs-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
	margin-left: -moz-calc((100vw - 278px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 278px - 100%) / -2);
	margin-left: calc((100vw - 278px - 100%) / -2);
}

.slide-menu-option-2 .collections-detail-tabs-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
	margin-left: -moz-calc((100vw - 72px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 72px - 100%) / -2);
	margin-left: calc((100vw - 72px - 100%) / -2);
}

.page-container .collections-detail-tabs-container,
.slide-menu-option-1-active .page-container .collections-detail-tabs-container,
.slide-menu-option-2 .page-container .collections-detail-tabs-container{
	width: auto;
	margin-left: -61px;
	margin-right: -61px;
}

.collections-detail-tabs-block.fixed{		
	position: fixed;
	left: 0;
	right: 0;	
	-webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	background-color: #f1f6f7;
	z-index: 203;
}

.slide-menu-option-1-active .collections-detail-tabs-block.fixed{
	left: 278px;
}

.slide-menu-option-2 .collections-detail-tabs-block.fixed{
	left: 72px;
}

.collections-detail-tabs-scroll{	
	width: 1176px;
	margin-left: auto;
	margin-right: auto;	
	position: relative;		
}

.collections-detail-tabs-scroll .owl-prev,
.collections-detail-tabs-scroll .owl-next{
	width: 64px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
	cursor: pointer;
}

.collections-detail-tabs-block.fixed .collections-detail-tabs-scroll .owl-prev,
.collections-detail-tabs-block.fixed .collections-detail-tabs-scroll .owl-next{	
	z-index: 202;	
}

.collections-detail-tabs-scroll .owl-prev.disabled,
.collections-detail-tabs-scroll .owl-next.disabled{
	display: none;
}

.collections-detail-tabs-scroll .owl-prev{	
	left: 0;
	background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
}

.collections-detail-tabs-scroll .owl-next{	
	align-items: flex-end;
	right: 0;
	background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
}

.collections-detail-tabs-scroll .owl-prev i,
.collections-detail-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .collections-detail-tabs-scroll .owl-prev:hover i,
.bx-touch .collections-detail-tabs-scroll .owl-prev:active i,
.bx-no-touch .collections-detail-tabs-scroll .owl-next:hover i,
.bx-touch .collections-detail-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.collections-detail-tabs-list{	
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.collections-detail-tabs-list:after{	
	display: table;
	clear: both;
	content: "";
}

.collections-detail-tab{
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
	position: relative;			
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .collections-detail-tab:hover,
.bx-touch .collections-detail-tab:active{
	color: #6639b6;
}

.collections-detail-tab:after{	
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #6639b6;
}

.collections-detail-tab.active:after{
	height: 2px;
}

.collections-detail-tab > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

/***ITEM***/
.collections-item-detail{
	height: -moz-calc(100vw / 3.33);
	height: -webkit-calc(100vw / 3.33);
	height: calc(100vw / 3.33);
	position: relative;
}

.slide-menu-option-1-active .collections-item-detail{	
	height: -moz-calc((100vw - 278px) / 3.33);
	height: -webkit-calc((100vw - 278px) / 3.33);
	height: calc((100vw - 278px) / 3.33);
}

.slide-menu-option-2 .collections-item-detail{
	height: -moz-calc((100vw - 72px) / 3.33);
	height: -webkit-calc((100vw - 72px) / 3.33);
	height: calc((100vw - 72px) / 3.33);
}

.page-container .collections-item-detail,
.slide-menu-option-1-active .page-container .collections-item-detail,
.slide-menu-option-2 .page-container .collections-item-detail{
	height: -moz-calc(1298px / 3.33);
	height: -webkit-calc(1298px / 3.33);
	height: calc(1298px / 3.33);
}

.collections-item-detail-pic-container,
.collections-item-detail-pic-container:after,
.collections-item-detail-pic,
.collections-item-detail-block{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/***ITEM_PIC***/
.collections-item-detail-pic-container{
	width: 100vw;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slide-menu-option-1-active .collections-item-detail-pic-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
}

.slide-menu-option-2 .collections-item-detail-pic-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
}

.page-container .collections-item-detail-pic-container,
.slide-menu-option-1-active .page-container .collections-item-detail-pic-container,
.slide-menu-option-2 .page-container .collections-item-detail-pic-container{
	width: auto;
	left: -61px;
	right: -61px;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.collections-item-detail-pic-container:after{
	content: "";
	background: -moz-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: -webkit-linear-gradient(top, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	background: linear-gradient(to bottom, rgba(61, 75, 82, 0) 0%, #3d4b52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d4b52", endColorstr="#3d4b52", GradientType=0);
}

.collections-item-detail-pic{
	background-color: #6e858a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.collections-item-detail-pic[data-src]{
	opacity: 0;
}

/***ITEM_BLOCK***/
.collections-item-detail-block{	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;	
	padding: 32px 0;
}

.collections-item-detail-is-slider .collections-item-detail-block{
	padding-bottom: 96px;
}

.collections-item-detail-title{
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 30px;	
	color: #fff;
	text-align: center;
	line-height: 36px;
}

.collections-item-detail-price{		
	color: #fff;
	text-align: center;
}

/***ITEM_ICONS***/
.collections-item-detail-icons{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	right: 0;
	top: 32px;	
}

.collections-item-detail-icons-left{
	justify-content: flex-start;
}

.collections-item-detail-icons-right{
	justify-content: flex-end;
}

.collections-item-detail-icon{
	overflow: hidden;
}

.collections-item-detail-icon + .collections-item-detail-icon{	
	max-width: 624px;	
	margin-left: 12px;
	overflow: visible;
}

/***ITEM_MARKERS***/
.collections-item-detail-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.collections-item-detail-marker-container + .collections-item-detail-marker-container{
	margin-top: 4px;
}

.collections-item-detail-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.collections-item-detail-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.collections-item-detail-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.collections-item-detail-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.collections-item-detail-marker-14px > i{
	font-size: 14px;
}

.collections-item-detail-marker-24px > i{
	font-size: 24px;
}

.collections-item-detail-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.collections-item-detail-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.collections-item-detail-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***ITEM_COLORS***/
.collections-item-detail-colors{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: -6px;
	margin-top: -6px;
}

.collections-item-detail-color{
	width: 36px;
	min-width: 36px;
	height: 36px;	
	margin-left: 6px;
	margin-top: 6px;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/***ITEM_SLIDER***/
.collections-item-detail-slider-container{
	width: 100vw;
	position: absolute;
	left: 50%;
	right: 0;
	top: -moz-calc(100% - 64px);
	top: -webkit-calc(100% - 64px);	
	top: calc(100% - 64px);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slide-menu-option-1-active .collections-item-detail-slider-container{
	width: -moz-calc(100vw - 278px);
	width: -webkit-calc(100vw - 278px);
	width: calc(100vw - 278px);
}

.slide-menu-option-2 .collections-item-detail-slider-container{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
}

.page-container .collections-item-detail-slider-container,
.slide-menu-option-1-active .page-container .collections-item-detail-slider-container,
.slide-menu-option-2 .page-container .collections-item-detail-slider-container{
	width: auto;
	left: -61px;
	right: -61px;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.collections-item-detail-slider-container .owl-prev,
.collections-item-detail-slider-container .owl-next{
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
}

.collections-item-detail-slider-container .owl-prev{
	left: 0;
	background: -moz-linear-gradient(left, rgba(61, 75, 82, 1) 0%, rgba(61, 75, 82, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(61, 75, 82, 1) 0%, rgba(61, 75, 82, 0) 100%);
	background: linear-gradient(to right, rgba(61, 75, 82, 1) 0%, rgba(61, 75, 82, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d4b52', endColorstr='#003d4b52', GradientType=1);
}

.collections-item-detail-slider-container .owl-next{
	right: 0;
	background: -moz-linear-gradient(left, rgba(61, 75, 82, 0) 0%, rgba(61, 75, 82, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(61, 75, 82, 0) 0%, rgba(61, 75, 82, 1) 100%);
	background: linear-gradient(to right, rgba(61, 75, 82, 0) 0%, rgba(61, 75, 82, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003d4b52', endColorstr='#3d4b52', GradientType=1);
}

.collections-item-detail-slider-container .owl-prev-icon,
.collections-item-detail-slider-container .owl-next-icon{
	width: 81px;
	height: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -48px;
	position: absolute;
	top: 50%;
	background: rgba(61, 75, 82, 0.3);	
	cursor: pointer;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.collections-item-detail-slider-container .owl-prev-icon{
	left: 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-khtml-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.collections-item-detail-slider-container .owl-next-icon{
	right: 0;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.bx-no-touch .collections-item-detail-slider-container .owl-prev-icon:hover,
.bx-touch .collections-item-detail-slider-container .owl-prev-icon:active,
.bx-no-touch .collections-item-detail-slider-container .owl-next-icon:hover,
.bx-touch .collections-item-detail-slider-container .owl-next-icon:active{
	background: #6639b6;	
}

.collections-item-detail-slider-container .owl-prev-icon > i,
.collections-item-detail-slider-container .owl-next-icon > i{
	font-size: 48px;
	color: #fff;	
}

.collections-item-detail-slider-container .owl-prev.disabled,
.collections-item-detail-slider-container .owl-next.disabled{
	display: none;
}

.collections-item-detail-slider{
	display: flex;
}

.collections-item-detail-slider-item{
	width: 100%;
	height: 210px;
	display: block;
	position: relative;
	overflow: hidden;
}

.collections-item-detail-slider-item-pic{	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #6e858a;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-moz-transition: -moz-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	-o-transition: -o-transform 0.45s ease 0s, opacity 0.3s ease 0s;
	transition: transform 0.45s ease 0s, opacity 0.3s ease 0s;
}

.collections-item-detail-slider-item-pic[data-src]{
	opacity: 0;
}

.bx-no-touch .collections-item-detail-slider-item:hover .collections-item-detail-slider-item-pic,
.bx-touch .collections-item-detail-slider-item:active .collections-item-detail-slider-item-pic{
	-moz-transform: scale(1.1) rotate(0.02deg);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/***SEPARATE***/
.collections-item-detail-separate{
	height: 146px;
}

/***INFO***/
.collections-item-detail-info{
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
}

.collections-item-detail-info-left{
	justify-content: flex-start;
}

.collections-item-detail-info-right{
	justify-content: flex-end;
}

.collections-item-detail-info-text + .collections-item-detail-info-brand{
	margin-left: 24px;
}

.collections-item-detail-info-brand{
	width: 278px;
	min-width: 278px;
	height: 141px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 32px;
	border: 1px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.collections-item-detail-info-brand-image{
	width: 212px;
	height: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.collections-item-detail-info-brand-image > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 56px;
}

.collections-item-detail-info-brand-text{
	width: 100%;
	margin-top: 24px;
	font-size: 14px;
	line-height: 17px;
	color: #8ea6ab;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/***PRODUCTS***/
/***DETAIL_TEXT***/
.collections-detail-products-container,
.collections-detail-detail-text{
	margin-top: 46px;
}

/***LINKS***/
.collections-detail-sections-links{
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-bottom: 32px;	
}

.collections-detail-section-link{
	margin-left: 6px;
	margin-top: 6px;
	padding: 9px 16px 8px;
	white-space: nowrap;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .collections-detail-section-link:hover,
.bx-touch .collections-detail-section-link:active{
	border-color: #8ea6ab;
	background: #e3ecef;
}

.collections-detail-section-link.active,
.bx-no-touch .collections-detail-section-link.active:hover,
.bx-touch .collections-detail-section-link.active:active{
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

.collections-detail-section-link > span{	
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -2px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #6e858a;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #d0e0e3;
}

.collections-detail-section-link.active > span,
.bx-no-touch .collections-detail-section-link.active:hover > span,
.bx-touch .collections-detail-section-link.active:active > span{
	color: #fff;
	background: #8ea6ab;
}

/***PHONES***/
@media(max-width: 991px){
	.collections-detail{
		margin-top: -32px;
	}

	/***TABS***/
	.collections-detail-tabs-container,
	.slide-menu-option-1-active .collections-detail-tabs-container,
	.slide-menu-option-2 .collections-detail-tabs-container,
	.page-container .collections-detail-tabs-container,	
	.slide-menu-option-1-active .page-container .collections-detail-tabs-container,
	.slide-menu-option-2 .page-container .collections-detail-tabs-container{
		width: unset;
		margin: 0 -18px;
	}

	.slide-menu-option-2 .collections-detail-tabs-block.fixed,
	.slide-menu-option-1-active .collections-detail-tabs-block.fixed{
		left: 0;
	}
	
	.collections-detail-tabs-scroll{	
		width: unset;
		margin: 0;
	}

	.collections-detail-tabs-scroll .owl-prev{
		padding-left: 18px;
	}
	
	.collections-detail-tabs-scroll .owl-next{
		padding-right: 18px;
	}

	/***ITEM***/
	.collections-item-detail,	
	.slide-menu-option-1-active .collections-item-detail,
	.slide-menu-option-2 .collections-item-detail,
	.page-container .collections-item-detail,	
	.slide-menu-option-1-active .page-container .collections-item-detail,
	.slide-menu-option-2 .page-container .collections-item-detail{
		height: 185px;
		margin: 0 -18px;
	}

	/***ITEM_PIC***/
	.collections-item-detail-pic-container,	
	.slide-menu-option-1-active .collections-item-detail-pic-container,
	.slide-menu-option-2 .collections-item-detail-pic-container,
	.page-container .collections-item-detail-pic-container,
	.slide-menu-option-1-active .page-container .collections-item-detail-pic-container,
	.slide-menu-option-2 .page-container .collections-item-detail-pic-container{
		width: unset;
		left: 0;
		-webkit-transform: unset;
		-moz-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset;
	}

	/***ITEM_BLOCK***/
	.collections-item-detail-block{
		padding: 18px 0;
	}

	.collections-item-detail-is-slider .collections-item-detail-block{
		padding-bottom: 18px;
	}

	.collections-item-detail-title{
		font-size: 20px;
		line-height: 24px;
	}

	.collections-item-detail-price{
		margin-top: 6px;
	}

	/***ITEM_ICONS***/
	.collections-item-detail-icons{
		left: 12px;
		right: 12px;
		top: 12px;	
	}

	.collections-item-detail-icon + .collections-item-detail-icon{	
		max-width: 204px;
	}

	/***ITEM_SLIDER***/
	.collections-item-detail-slider-container{
		width: unset;
		left: 0;
		top: 100%;
		-webkit-transform: unset;
		-moz-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset;
	}

	.collections-item-detail-slider-container .owl-prev,
	.collections-item-detail-slider-container .owl-next{
		width: 100px;
	}
	
	.collections-item-detail-slider-container .owl-prev-icon,
	.collections-item-detail-slider-container .owl-next-icon{
		width: 40px;
		height: 48px;		
		margin-top: -24px;
	}
	
	.collections-item-detail-slider-container .owl-prev-icon > i,
	.collections-item-detail-slider-container .owl-next-icon > i{
		font-size: 24px;
	}

	.collections-item-detail-slider-item{
		height: 115px;
	}

	/***SEPARATE***/
	.collections-item-detail-separate{
		height: 115px;
	}

	/***INFO***/
	.collections-item-detail-info{
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 32px;
	}

	.collections-item-detail-info-right{
		justify-content: flex-start;
	}

	.collections-item-detail-info-text{
		order: 1;
		margin-top: 14px;
	}

	.collections-item-detail-info-text + .collections-item-detail-info-brand{
		margin: 0;
	}

	.collections-item-detail-info-brand{
		width: unset;
		min-width: unset;
		padding: 0 18px;
	}

	.collections-item-detail-info-brand-image{
		width: unset;
	}

	/***PRODUCTS***/
	/***DETAIL_TEXT***/
	.collections-detail-products-container,
	.collections-detail-detail-text{
		margin-top: 14px;
	}

	/***LINKS***/
	.collections-detail-sections-links{
		margin-top: -6px;
		margin-bottom: 18px;	
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***TABS***/
	.page-container .collections-detail-tabs-container,
	.slide-menu-option-1-active .page-container .collections-detail-tabs-container,
	.slide-menu-option-2 .page-container .collections-detail-tabs-container{
		margin-left: -23px;
		margin-right: -23px;
	}
	
	.collections-detail-tabs-scroll{	
		width: 946px;
	}
	
	/***ITEM***/
	.page-container .collections-item-detail,
	.slide-menu-option-1-active .page-container .collections-item-detail,
	.slide-menu-option-2 .page-container .collections-item-detail{
		height: -moz-calc(992px / 3.33);
		height: -webkit-calc(992px / 3.33);
		height: calc(992px / 3.33);
	}

	/***ITEM_PIC***/
	.page-container .collections-item-detail-pic-container,
	.slide-menu-option-1-active .page-container .collections-item-detail-pic-container,
	.slide-menu-option-2 .page-container .collections-item-detail-pic-container{
		left: -23px;
		right: -23px;
	}

	/***ITEM_SLIDER***/
	.page-container .collections-item-detail-slider-container,
	.slide-menu-option-1-active .page-container .collections-item-detail-slider-container,
	.slide-menu-option-2 .page-container .collections-item-detail-slider-container{
		left: -23px;
		right: -23px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1042px){
	/***TABS***/
	.slide-menu-option-2 .collections-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}
	
	.slide-menu-option-2 .collections-detail-tabs-block.fixed{
		left: 0;
	}

	/***ITEM***/
	.slide-menu-option-2 .collections-item-detail{
		height: -moz-calc(100vw / 3.33);
		height: -webkit-calc(100vw / 3.33);
		height: calc(100vw / 3.33);
	}
	
	/***ITEM_PIC***/
	.slide-menu-option-2 .collections-item-detail-pic-container{
		width: 100vw;
	}

	/***ITEM_SLIDER***/
	.slide-menu-option-2 .collections-item-detail-slider-container{
		width: 100vw;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1499px){
	/***TABS***/
	.slide-menu-option-1-active .collections-detail-tabs-container{
		width: 100vw;
		margin-left: -moz-calc((100vw - 100%) / -2);
		margin-left: -webkit-calc((100vw  - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
	}

	.slide-menu-option-1-active .collections-detail-tabs-block.fixed{
		left: 0;
	}

	/***ITEM***/
	.slide-menu-option-1-active .collections-item-detail{
		height: -moz-calc(100vw / 3.33);
		height: -webkit-calc(100vw / 3.33);
		height: calc(100vw / 3.33);
	}
	
	/***ITEM_PIC***/
	.slide-menu-option-1-active .collections-item-detail-pic-container{
		width: 100vw;
	}

	/***ITEM_SLIDER***/
	.slide-menu-option-1-active .collections-item-detail-slider-container{
		width: 100vw;
	}
}