/***TOP_BLOCK***/
.sod-top{
	margin-bottom: 18px;
}

.sod-top-date__date{	
	color: #3d4b52;
	padding: 6px 0px 0px 0px;
}

.sod-top-buttons{
    margin: 0;
    padding: 0 15px 0 0;
    list-style: none;
}

.sod-top-buttons__btn{
    margin-left: 12px;
    float: right;
}

.sod-top-buttons__btn .btn__order-close > i{
	font-size: 16px;
}

/***WINDOW-BLOCK***/
.sod-title-container{
    width: 100%;
    display: table;
    padding: 16px 24px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #f1f6f7;
}

.sod-title{
	position: relative;
}

.sod-title__icon{
    display: table-cell;
    vertical-align: middle;
    padding-right: 12px;
}

.sod-title__icon i{
    font-size: 23px;
    color: #b2c7cb;
}

.sod-title__val{
    display: table-cell;
    vertical-align: middle;    
    color: #3d4b52;    
}

.sod-title__val i{
    font-size: 23px;
    color: #b2c7cb;
    padding-right: 12px;
}

.sod-block-container,
.sod-subblock-container{
    padding: 24px 23px;    
    color: #3d4b52;    
    border: 1px solid #e3ecef;
    border-top: none;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.sod-block-container{
	margin-bottom: 18px;
}

/***ABOUT_ORDER_BLOCK***/
.sod-about-order-inner-name__title{
	margin: 0px 0px 3px;
}

.sod-about-order-inner-name__val{
	margin-bottom: 11px;
}

.sod-about-order-inner-name__read-less{
	display: none;
}

.sod-about-order-inner-name__read-more{
	display: flex;
}

.sod-about-order-inner-name__read_style{
	align-items: center;
	font-size: 14px;
	color: #6e858a;
	line-height: 17px;
	cursor: pointer;
}

.sod-about-order-inner-name__read_style > span{
	border-bottom: 1px dashed #6e858a;
}

.sod-about-order-inner-name__read_style > i{
	padding-left: 3px;
}

.sod-about-order-inner-name__read_style:hover{
	color: #6639b6;
}

.sod-about-order-inner-name__read_style:hover > span{
	border-bottom: 1px dashed #6639b6;
}

.sod-about-order-inner-status__title{
	margin: 0px 0px 6px;
}

.sod-about-order-inner-status__val > span{
	display: inline-block;
    font-size: 14px;
    padding: 0px 12px;
    background: #e1ecc9;
    color: #3d4b52;
    line-height: 28px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.sod-about-order-inner-status__val.n > span{
	background: #e1ecc9;
}

.sod-about-order-inner-status__val.f > span{
	background: #e3ecef;
}

.sod-about-order-inner-status__val.p > span{
	background: #c9d9ec;
}

.sod-about-order-inner-status__val.canceled > span{
	background: #f2e2e1;
}

.sod-about-order-inner-price{
	text-align: right;
}

.sod-about-order-inner-price__title{
	margin: 0px 0px 6px;
}

.sod-about-order-inner-details{
	display: none;
	margin-top: 20px;
}

.sod-about-order-inner-details-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sod-about-order-inner-details-list__item:not(:last-child){
	margin: 0px 0px 11px;
}

.sod-about-order-inner-details-list__item-link{
	display: block;
	margin: 3px 0px 0px;
}

/***PAYMENT_BLOCK***/
.sod-payment-inner-info-payment__title{
	margin: 0px 0px 3px;
}

.sod-payment-inner-info-payment__name{
	margin-bottom: 9px;
}

.sod-payment-inner-info-payment__change-link_open,
.sod-payment-inner-info-payment__change-link_close{
	align-items: center;
	font-size: 14px;
	color: #6e858a;
	line-height: 17px;
	cursor: pointer;
}

.sod-payment-inner-info-payment__change-link_open > span,
.sod-payment-inner-info-payment__change-link_close > span{
	border-bottom: 1px dashed #6e858a;
}

.sod-payment-inner-info-payment__change-link_open > i,
.sod-payment-inner-info-payment__change-link_close > i{
	padding-left: 3px;
}

.sod-payment-inner-info-payment__change-link_close{
	display: none;
}

.sod-payment-inner-info-payment__change-link_open{
	display: flex;
}

.sod-active-event .sod-payment-inner-info-payment__change-link_open{
	display: none;
	visibility: hidden;
}

.sod-payment-inner-info-payment__change-link_open:link,
.sod-payment-inner-info-payment__change-link_close:link,
.sod-payment-inner-info-payment__change-link_open:visited,
.sod-payment-inner-info-payment__change-link_close:visited{
	color: #6e858a;
	text-decoration: none;
}

.sod-payment-inner-info-payment__change-link_open:hover,
.sod-payment-inner-info-payment__change-link_close:hover{
	color: #6639b6;
}

.sod-payment-inner-info-payment__change-link_open:hover > span,
.sod-payment-inner-info-payment__change-link_close:hover > span{
	border-bottom: 1px dashed #6639b6;
}

.sod-payment-inner-info-status__title{
	margin: 0px 0px 6px;
}

.sod-payment-inner-info-status__status{
	display: inline-block;
}

.sod-payment-inner-info-status__restricted-message{
    margin-top: 7px;
}

.sod-payment-inner-info-status-total-check{
	font-size: 14px;
	line-height: 17px;
}

.sod-payment-inner-info-status-total-check__title-check{
    margin-top: 7px;
}

.sod-payment-inner-price{
	text-align: right;
}

.sod-payment-inner-price__title{
	margin: 0px 0px 6px;
}

.sod-payment-inner-pay-button{
	display: flex;
	justify-content: flex-end;
	margin-top: 9px;
}

.sod-payment-inner-selectpay{
	margin-top: 20px;
}

.sod-payment-inner-select-pay__button-back{
	display: none;
	margin-top: 6px;
}

.sod-payment-inner-methods{
	display: none;
	visibility: hidden;
	margin-top: 20px;
}

.sod-active-event .sod-payment-inner-methods{
	display: block;
	visibility: visible;
}

/***SHIPMENT_BLOCK***/
.sod-shipment-list-item-info__title{
    margin: 0px 0px 6px;
}

.sod-shipment-list-item-info__val{
    margin: -3px 0px 9px;
}

.sod-shipment-list-item__tracking-title{
    margin: -3px 0px 6px;
}

.sod-shipment-list-item__tracking-number{
    margin: 0px 0px 9px;
}

.sod-shipment-list-item__tracking-url{
	margin: -3px 0px 9px;
}

.sod-shipment-list-item__tracking-url a{
	font-size: 14px;
	line-height: 17px;
}

.sod-shipment-list-item-info-link__hide{
	display: none;
}

.sod-shipment-list-item-info-link__show{
	display: flex;
}

.sod-shipment-list-item-info-link__style{
	align-items: center;
	font-size: 14px;
    color: #6e858a;
	line-height: 17px;
    cursor: pointer;
}

.sod-shipment-list-item-info-link__style:hover{
    color: #6639b6;
}

.sod-shipment-list-item-info-link__style > span{
    border-bottom: 1px dashed #6e858a;
}

.sod-shipment-list-item-info-link__style:hover > span{
    border-bottom: 1px dashed #6639b6;
}

.sod-shipment-list-item-info-link__style > i{
	padding-left: 3px;
}

.sod-shipment-list-item-status__title{
    margin: 0px 0px 6px;
}

.sod-shipment-list-item-status__val{
	display: inline-block;
	font-size: 14px;
	margin: 0;
    padding: 7px 12px 8px;
    color: #3d4b52;
	background-color: #c9d9ec;
	border-radius: 4px;
    border: none;
    line-height: 17px;
}

.sod-shipment-list-item-status__val.df{
	background-color: #e3ecef;
}

.sod-shipment-list-item-price{
	text-align: right;
}

.sod-shipment-list-item-price__title{
    margin: 0px 0px 6px;
}

.sod-shipment-list-item-detail-container{
	display: none;
}

.sod-shipment-list-item-detail-map{
	margin-top: 20px;
}

.sod-shipment-list-item-detail-map-inner__address-title{
    margin: 0px 0px 6px;
}

.sod-shipment-list-item-detail-map-inner__address-val{
    margin: -3px 0px 9px;
}

/***ORDER_ITEMS***/
.sod-itemlist{
	margin-top: 20px;
}

.sod-itemlist-inner-item.nof div{
	float: none;
}

.sod-itemlist-inner-item-prop{
	display: inline-block;
	vertical-align: middle;
}

.sod-itemlist-inner-item-prop__img{
	display: inline-block;
	vertical-align: middle;
	margin: 0px 20px 0px 0px;
}

.sod-itemlist-inner-item-prop__img > img{
	max-width: 122px;
	height: auto;
}

.sod-itemlist-inner-item-prop-inner{
	display: inline-block;
	vertical-align: middle;
}

.sod-itemlist-inner-item-prop-inner__article{
	font-size: 14px;
    color: #8ea6ab;
	line-height: 17px;
    margin: 0px 0px 5px;
}

.sod-itemlist-inner-item-prop-inner__title a:link,
.sod-itemlist-inner-item-prop-inner__title a:visited{
	color: #3d4b52;
	text-decoration: none;
}

.sod-itemlist-inner-item-prop-inner__title a:hover{
	color: #6639b6;
}

.sod-itemlist-inner-item-prop-inner-prop{
	padding: 11px 0px 0px;
}

.sod-itemlist-inner-item-prop-inner-prop__el{
	font-size: 14px;
    color: #55686e;
	line-height: 17px;
}

.sod-itemlist-inner-item-prop-inner-prop__el:not(:last-child){
    margin: 0px 0px 5px;
}

.sod-itemlist-inner-item-discount{
	display: inline-block;
	vertical-align: middle;
}

.sod-itemlist-inner-item-discount__val{
	font-size: 14px;
    color: #8ea6ab;
	line-height: 17px;
}

.sod-itemlist-inner-item-price{
	display: inline-block;
	vertical-align: middle;
}

.sod-itemlist-inner-item-price__base-val{
	font-size: 14px;
    color: #8ea6ab;
    text-decoration: line-through;
	line-height: 17px;
}

.sod-itemlist-inner-item-count{
	display: inline-block;
	vertical-align: middle;
}

.sod-itemlist-inner-item-count__val{
	font-size: 14px;
    color: #8ea6ab;
	line-height: 17px;
}

.sod-itemlist-inner-item-sum{
	display: inline-block;
	vertical-align: middle;
}

.sod-itemlist-inner-item-total-row:not(:last-child){
	margin-bottom: 10px;
}

.sod-itemlist-inner-item-total-row:last-child{
	border-top: 1px solid #e3ecef;
	padding-top: 10px;
}

.sod-itemlist .sod-title-container{
	display: inline-block;
}

.sod-itemlist .sod-title__val{
	display: inline-block;
	float: none;
}

.sod-itemlist .sod-title__val-icon,
.sod-itemlist .sod-title__val-text{
	display: inline-block;
	vertical-align: middle;
}

/***SOD_BUTTONS***/
.sod-buttons{
	display: flex;
}

/***STYLE***/
.sod-s-title{
	font-size: 14px;
    color: #8ea6ab;
	line-height: 17px;
}

.sod-s-val{
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 14px;	
	color: #3d4b52;
	line-height: 17px;
}

.sod-s-big-black-val{
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 20px;  
    color: #000;
	line-height: 24px;
}

.sod-s-separator-blocks:not(:last-child){
	padding-bottom: 24px;
	margin-bottom: 24px;
    border-bottom: 1px solid #e3ecef;
}

.sod-s-right-t{
	text-align: right;
}

.sod-s-old-price{
	font-size: 14px;
    color: #8ea6ab;
    text-decoration: line-through;
	line-height: 17px;
}

.sod-s-saving-price{
	font-size: 14px;
    color: #d71057;
	line-height: 17px;
}

/***PHONES***/
@media(max-width: 991px){
	.sod-top-buttons__btn{
		margin-left: 6px;
	}

	.sod-top-buttons__btn:last-child{
		margin: 0;
	}

	.sod-top-buttons__btn .btn{
		width: 45px;		
		padding: 0;
	}

	.sod-top-buttons__btn .btn i{
		padding-right: 0;
	}
	
	.sod-title-container{
		padding: 10px 12px 11px;
	}

	.sod-block-container,
	.sod-subblock-container {
		padding: 12px 11px;
	}
	
	.sod-about-order-inner-name__val{
		margin: 0;
	}

	.sod-about-order-inner-status{
		margin-top: 7px;
	}

	.sod-about-order-inner-price{
		margin-top: 6px;
		text-align: left;
	}

	.sod-payment-inner-info-payment__name{
		margin: 0;
	}

	.sod-payment-inner-info-status{
		margin-top: 7px;
	}

	.sod-payment-inner-price{
		text-align: left;
	}
	
	.sod-shipment-list-item-info__val{
		margin-bottom: 0;
	}

	.sod-shipment-list-item-status{
		margin-top: 7px;
	}

	.sod-shipment-list-item-price{
		margin-top: 6px;
		text-align: left;
	}

	.sod-itemlist-inner-item-prop{
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 12px;
	}

	.sod-itemlist-inner-item-prop__img{		
		display: table-cell;
		vertical-align: top;
		padding-right: 12px;
	}

	.sod-itemlist-inner-item-prop__img > img{
		max-width: 80px;
	}

	.sod-itemlist-inner-item-prop-inner{
		display: table-cell;
		vertical-align: top;
	}

	.sod-itemlist-inner-item-prop-inner__article{
		margin-bottom: 4px;
	}

	.sod-itemlist-inner-item-prop-inner-prop{
		padding: 0;
	}

	.sod-itemlist-inner-item-prop-inner-prop__el{
		color: #8ea6ab;
	}

	.sod-itemlist-inner-item-count{
		padding-left: 12px;
		text-align: left;
	}

	.sod-itemlist-inner-item-count__val{
		color: #6e858a;
	}

	.sod-itemlist-inner-item-sum{
		padding-right: 12px;
	}

	.sod-itemlist-inner-item-total-row:last-child{
		margin-left: -12px;
		margin-right: -12px;
	}

	.sod-itemlist-inner-item-total__title{
		text-align: left;
	}

	.sod-itemlist-inner-item-total-row:last-child .sod-itemlist-inner-item-total__title{
		padding-left: 12px;
	}

	.sod-itemlist-inner-item-total-row:last-child .sod-itemlist-inner-item-total__val{
		padding-right: 12px;
	}

	.btn__back-to-list-order{
		display: block;
	}

	.sod-s-separator-blocks:not(:last-child){
		margin-left: -12px;
		margin-right: -12px;
		padding-bottom: 12px;
		margin-bottom: 12px;
	}
	
	.sod-buttons{
		display: block;
	}
}

/***PRINT***/
@media print {
	#bx-panel,
	.settings-panel,
	.page-bg,
	.top-menu-wrapper,
	.top-panel-wrapper,
	.breadcrumb,	
	.viewed-wrapper,
	.bigdata-wrapper,
	.feedback-wrapper,
	.bottom-menu-wrapper,
	.footer-wrapper{
		display: none !important;
	}
	
	.page-container,
	.container {
		width: 100% !important;
	}
	
	.sod-top-buttons {
		display: none !important;
	}
	
	.sod-title-container .sod-title__icon,
	.sod-title-container i {
		display: none !important;
	}
	
	.sod-about-order-inner-details,
	.sod-payment-inner-selectpay,
	.sod-payment-inner-methods,
	.sod-shipment-list-item-detail {
		display: none !important;
	}
	
	.sod-about-order-inner-name__read-less,
	.sod-about-order-inner-name__read-more,
	.sod-payment-inner-info-payment__change-link_open,
	.sod-payment-inner-info-payment__change-link_close,
	.sod-payment-inner-pay-button,
	.sod-shipment-list-item-info-link__show,
	.sod-shipment-list-item-info-link__hide,
	.btn__back-to-list-order,
	.sod-payment-inner-info-status-total-check,
	.sod-shipment-list-item__tracking-url {
		display: none !important;
	}
	
	.sod-block-container,
	.sod-subblock-container {
		border-left: none !important;
		border-right: none !important;
		padding: 10px 0px !important;
	}
	
	.sod-title-container {
		background: none !important;
		padding: 0px !important;
	}

	.sod-about-order-inner-status__val span,
	.sod-payment-inner-info-status__status div,
	.sod-shipment-list-item-status__val {
		background: none !important;		
		padding: 0px !important;
		line-height: 18px !important;
	}
	
	.sod-s-title {
		margin: 0px !important;
	}
	
	.sod-itemlist-inner-item-prop-inner__title > a[href]:after {
		content: none !important;
		display: none !important;
	}
}